{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Benutzereinstellungen{% endblock %}

{% block mheader %}
<a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    label.ui-btn, a.ui-collapsible-heading-toggle {
        font-weight: normal;
    }
</style>

<ul data-role="listview">
    <li data-role="fieldcontain">
        <label for="username">Benutzername</label>
        <span style="float:right" name="username">{{profile.vorname}} {{profile.nachname}}</span>
    </li>
    <li data-role="fieldcontain">
        <label for="email">Email</label>
        <span style="float:right" name="email">{{usr.email}}</span>
    </li>
</ul>

<p/>

<div data-role="collapsible-set" data-inset="false">
    
    <div data-role="collapsible" id="checoll" {%if cheerror%}data-collapsed='false'{%endif%}>
        <h5>Emailadresse &auml;ndern</h5>
        <form action="/m_setup/{{haus.id}}/users/" method="post" id='mform'>{% csrf_token %}
            <ul data-role="listview" data-divider-theme="a">
                <li data-role="fieldcontain">
                    <label for="pw">Passwort:</label>
                    <input type="password" name="pw" id="pw"/>
                </li>
                <li data-role="fieldcontain">
                    <label for="mail">Neues Adresse:</label>
                    <input type="text" name="mail" id="mail" value="{{mail}}"/>
                </li>
                {% if cheerror %}
                    <li style="color:#cb0963;">
                        {{cheerror}}
                    </li>
                {% endif %}
                <li data-icon='false'>
                    <input type="hidden" name="che" id="che" value="1"/>
                    <a href="#" onclick="$('#mform').get(0).submit();" style="text-align:center">Speichern</a>
                </li>
            </ul>
        </form>
    </div>

    <div data-role="collapsible" id="chpcoll" if {%if chperror%}data-collapsed='false'{%endif%}>
        <h5>Passwort &auml;ndern</h5>
        <form action="/m_setup/{{haus.id}}/users/" method="post" id='pwform'>{% csrf_token %}
            <ul data-role="listview" data-divider-theme="a">
                <li data-role="fieldcontain">
                    <label for="oldpw">Altes Passwort:</label>
                    <input type="password" name="oldpw" id="oldpw"/>
                </li>
                <li data-role="fieldcontain">
                    <label for="newpw1">Neues Passwort:</label>
                    <input type="password" name="newpw1" id="newpw1"/>
                </li>
                <li data-role="fieldcontain">
                    <label for="newpw2">Wiederholen:</label>
                    <input type="password" name="newpw2" id="newpw2"/>
                </li>
                {% if chperror %}
                    <li style="color:#cb0963;">
                        {{chperror}}
                    </li>
                {% endif %}
                <li data-icon='false'>
                    <input type="hidden" name="chp" id="chp" value="1"/>
                    <a href="#" onclick="$('#pwform').get(0).submit();" style="text-align:center">Speichern</a>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}