{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS- Virtuelle Sensoren - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/vsensoren/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Virtuelle Sensoren</h2>

    <h3>Funktionsweise</h3>

        <p>
            Ein virtueller Sensor ist kein physischer Sensor, sondern die Verknüpfung von einem oder mehreren
            physischen Sensoren. Die Werte der physischen Sensoren werden dabei nach einem vorgegebenen Muster
            zusammengerechnet (z.B. Durchschnitt oder Minimalwert). Virtuelle Sensoren können sowohl als
            Raumtemperatur- als auch als Rücklaufsensoren in die Regelung eines Raumes eingebunden werden.
        </p>

        <p>
            Ein möglicher Anwendungsfall für virtuelle Sensoren ist die Zusammenfassung mehrerer Sensoren in einem
            großen, offenen Raum. Anstatt jeden Heizkreis bzw. Heizkörper einzeln über einen Sensor zu regeln, können
            alle Sensoren im Raum zusammengefasst werden. Der Raum wird dann einheitlich geregelt.
        </p>

        <p>
            Ein weiterer Anwendungsfall ist die Einberechnung von externen Einflüssen auf die Regelung eines Raums.
            Räume mit großen, südseitigen Fenstern können z.B. von der Verknüpfung ihres Raumtemperatursensors mit einem
            vor dem Fenster verdeckt angebrachten Außentemperaturfühler profitieren. Indem man als Verknüpfung
            "Maximalwert" wählt, wird immer der höhere der beiden Werte zur Regelung verwendet. So wird der Raum nicht
            beheizt, wenn draußen die Sonne scheint und den Raum in absehbarer Zeit ohnehin aufwärmt.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Jeder virtuelle Sensor hat einen <b>Namen</b> und ist einem <b>Raum</b> zugeordnet. In diesem Raum kann
            er die Funktion eines <b>Raumtemperatursensors</b> oder eines <b>Rücklaufsensors</b> einnehmen.
        </p>

        <p>
            Die <b>zusammenzufassenden Sensoren</b> sind diejenigen Sensoren, deren Werte als Eingabewerte für die
            Berechnung des Wertes des virtuellen Sensors herangezogen werden. Ein virtueller Sensor kann andere
            virtuelle Sensoren als Eingabe enthalten, nicht aber sich selbst.
        </p>

        <p>
            Die <b>Verknüpfung</b> gibt an, nach welchem Muster die Eingabewerte zusammengerechnet werden. Minimal-,
            Maximal- und Medianwert wählen jeweils den kleinsten, größten und mittleren Wert aus. Der Durchschnittswert
            kann über alle Eingabewerte berechnet werden oder unter Ausschluß des kleinsten, größten oder beider
            Extremwerte der Eingabesensoren.
        </p>

        <p>
            Der Wert eines virtuellen Sensors wird nur berechnet, wenn alle Eingabesensoren einen Wert zur Verfügung
            stellen. Sobald ein Eingabesensor ausfällt, wird der Wert des virtuellen Sensors mit dem Wert des
            <b>Backup-Sensors</b> angegeben. Der Backup-Sensor wird auch an das Gateway weitergegeben, das den Raum
            des virtuellen Sensors steuert. Daher muss der Backup-Sensor auch mit diesem Gateway verbunden sein, damit
            die Backup-Funktion des Gateway bei Ausfall der Internetverbindung die Regelung übernehmen kann.
        </p>

{% endblock %}
