{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Virtuelle Sensoren{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-virtuellesensoren/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<script type="text/javascript">
    $(document).on('pageshow', function(){
        $.ajax({
            url: "/m_setup/{{haus.id}}/vsensoren/?getvs",
            dataType: "json",
            success: function(data) {

                $(".vss").remove(); // wg. page caching
                if(data.length) {
                    $.each(data, function() {
                        $.each(this, function(k, v) {
                            $("#vscreated").after("<li class='vss'><a href='/m_setup/{{haus.id}}/vsensoren/?vsedit=" + v[0] + "'><span style='color:"+v[2]+"'>&#8226;</span> " + v[1] + "</a></li>");
                        });
                    });
                } else {
                    $("#vscreated").after("<li class='vss'>-</li>");
                }

                $('#spinner').hide();
                $("#vslist").listview('refresh');
            }
        });
    });
</script>

    <ul data-role="listview" data-divider-theme="a" id="vslist">
        <li data-role="list-divider" id="vscreated">Angelegte virtuelle Sensoren</li>
        <li id='spinner'><span><center><img src='/static/images/ajax-loader.gif'/></center></span></li>
    </ul>
{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/vsensoren/?vscreate' data-icon='gear'>Virtuellen Sensor anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}