{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}Smart-Heat-OS - Kontaktabsenkung{% endblock %}

{% block bodyclass %}page wetter luftfeuchte{% endblock %}
{% block mheader %}
    <a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
@media (max-width: 60em) {
    #correction-heating-element-wrapper .ui-checkbox {
        float: right;
        margin: -22px 12px 0 0;
    }
}
@media (min-width: 60em) {
    #correction-heating-element-wrapper .ui-checkbox {
        float: right;
        margin: -24px 14px 0 0;
    }
}
.p-label {
    margin-bottom: 0
}
</style>

<div data-role="tabs" id="tabs">

    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" %}</a></li>
        </ul>
    </div>
    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <div class="kontaktabsenkung">
            <form action="/m_kontaktabsenkung/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                    <h2>{{ etage.name }}</h2>
                        {% for raum,offset in raeume %}
                            <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>
                            <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="absenkung">
                                <label for="defaultoffset">Offset</label>
                                <input type="range" name="offset" id="offset" data-id={{ raum.id }} value="{{offset}}" min="-30" max="30" step="1"  data-mini="true"
                                                data-highlight="true" data-popup-enabled="true"/>
                            </div>
                        {% endfor %}
                    <br />
                {% endfor %}
            {% endfor %}
            </form>
        </div>
    </div>
    <div id="two">
        <form action="/m_kontaktabsenkung/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}
            <div class="ui-grid-a ui-alt-icon">
                <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>
                <div id="correction-heating-element-wrapper" class="custom_slider slider-wrapper correction-heating-element-wrapper">

                    <div>
                        <label for="absenkung">{% trans "Absenkung" %}</label>
                        <input data-popup-enabled="true" type="range" name="absenkung" id="absenkung" data-mini="true"
                                    data-highlight="true" step="1" min="-10" max="10" value="4"/>
                        <input type="checkbox" id="absenkung_checkbox" name="absenkung_checkbox" checked="checked"/>
                    </div>

                </div>

            </div>

            <div class="jahreskalender">
                <div class="ui-grid-a select-room jahreskalender">

                    <fieldset data-role="controlgroup" data-iconpos="right">

                        <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                        <label id="select-all-label" for="select-all" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                        {% for e in eundr %}
                            {% for etage, raeume in e.items %}
                                {% for raum,offset in raeume %}
                                    <input type="checkbox" name="rooms" value="{{ raum.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ raum.id }}"/>
                                    <label for="room-{{ raum.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ raum.icon }}.png"/>{{etage.name}} | {{ raum.name }}</label>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </fieldset>

                </div>
            </div>
            <input type="submit" value='{% trans "speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
        </form>
    </div>
</div>




{% endblock %}