{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Kontaktabsenkung{% endblock %}

{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}


<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
    .kontaktabsenkung .ui-listview > .ui-li-static {
        position: initial;
    }
</style>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<div class="kontaktabsenkung">
<form method="post" action="/m_raum/{{raum.id}}/kontaktabsenkung/" data-ajax="false" id='karform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Kontaktabsenkung</li>
        <li class="p-static">
            <label for="defaultoffset">Offset</label>
            <input type="range" name="offset" id="offset" data-id={{ raum.id }} value="{{offset}}" min="-30" max="30" step="1"  data-mini="true"
                            data-highlight="true" data-popup-enabled="true"/>
        </li>
        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <!-- <li data-icon='false'>
            <a href="#" onclick="$('#karform').get(0).submit();" style="text-align:center">Speichern</a>
        </li> -->
    </ul>
</form>

<ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
    <li>
        <a href="/m_kontaktabsenkung/{{ haus.id }}/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten">&nbsp;</span>
            mehrere Räume bearbeiten
        </a>
    </li>
</ul>
</div>
{% endblock %}