{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Kontaktabsenkung{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

<form method="post" action="/m_setup/{{haus.id}}/kontaktabsenkung/" data-ajax="false" id='kaform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Kontaktabsenkung</li>
        <li>
            <label for="defaultoffset">Standard Offset</label>
            <input type="range" name="defaultoffset" id="defaultoffset" value="{{default}}" min="-10" max="10" step="0.1"  data-mini="true"
                            data-highlight="true" data-popup-enabled="true"/>
        </li>
        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#kaform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>
{% endblock %}