{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung set{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/heizflaechenoptimierung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<ul data-role="listview" data-icon="false" style="margin-top: -38px;">
    <li style="padding: 4px 1em;">
        <p style="text-align: center;font-size:16px;;">FBH Genius Heizstrategie</p>
    </li>
</ul>

<form action="/m_raum/{{ raum.id }}/heizflaechenoptimierung/regelstrategie/" method="post" data-ajax="false" id="form-heizflaechenoptimierung-regelstrategie" style="margin: 0;">{% csrf_token %}
    <input type="hidden" id="ftype" name="ftype" value="strategy_mode"/>
    <fieldset data-role="controlgroup" data-iconpos="left" style="border-radius: 0;">
        <input type="radio" name="radio" value="" data-mode="Wohnraum" data-raumid="{{ raum.id }}" id="r1" {% if mode == "Wohnraum" %} checked {% endif %} data-chtype="strategy_mode"/>
        <label for="r1">
            <span class="regel-rows">Wohnraum-Modus</span>
            <span class="desc-text">
                <i>In dieser Fußboden-Heizstrategie hält der FBH-Genius eine <b>ausgewogene Grundwärme</b> im Fußboden.
                    Somit gibt es auch bei zusätzlichen externen Wärmequellen wie Kachelöfen oder
                    Sonneneinstrahlung <b>keine kalten Füße</b>. Außerdem verkürzt dies die Aufheizzeit der
                    Fußbodenheizung signifikant.</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="Bad_und_Wellness" data-raumid="{{ raum.id }}" id="r2" {% if mode == "Bad_und_Wellness" %} checked {% endif %} data-chtype="strategy_mode"/>
        <label for="r2">
            <span class="regel-rows">Bad und Wellness-Modus</span>
            <span class="desc-text">
                <i>In dieser Fußboden-Heizstrategie achtet FBH-Genius darauf, dass der Fußboden immer eine <b>wohlige Grundwärme</b> hat.
                    Auch wenn die Raumtemperatur ausreichend ist, <b>kühlt</b> der Fußboden in diesem Modus <b>nie komplett aus</b>.</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="Schlafraum" data-raumid="{{ raum.id }}" id="r3" {% if mode == "Schlafraum" %} checked {% endif %} data-chtype="strategy_mode"/>
        <label for="r3">
            <span class="regel-rows">Schlafraum-Modus</span>
            <span class="desc-text">
                <i>Genius generiert ein Raumklima für <b>optimalen Schlafkomfort</b>, sodass du <b>ausgeruht und ausgeschlafen</b> in den Tag starten kannst.
                    Bei besonders <b>kalten Außentemperaturen</b> hält Genius etwas <b>Grundwärme im Fußboden</b>, sodass dieser <b>nie eiskalt</b> wird.</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="Nebenraum" data-raumid="{{ raum.id }}" id="r4" {% if mode == "Nebenraum" %} checked {% endif %} data-chtype="strategy_mode"/>
        <label for="r4">
            <span class="regel-rows">Nebenraum-Modus</span>
            <span class="desc-text">
                <i>Genius priorisiert Nebenräume niedriger als andere Räume und achtet vor allem darauf, dass der Raum nicht überschwingt.</i>
            </span>
        </label>
        
        <ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
            <li>
                <a href="/m_raum/{{ raum.id }}/heizflaechenoptimierung/" style="padding-left: 0.15em;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <div style="display: inline-block;">
                        <input type="radio" name="radio" value="" data-mode="custom" data-raumid="{{ raum.id }}" id="r5" {% if mode == "custom" %} checked {% endif %} disabled />
                        <label for="r5" style="border: 0;background-color: transparent;padding-right: 0;"></label>
                    </div>
                    <div style="display: inline-block;">
                        <span class="regel-rows">Individuelle Anpassung</span>
                        <span class="desc-text">
                            <i>Die Parameter von Genius können bei Bedarf individuell angepasst werden.</i>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </fieldset>
</form>

{% if ki_enabled %}
<ul data-role="listview" data-icon="false">
    <li style="padding: 4px 1em;">
        <p style="text-align: center;font-size:16px;;">KI</p>
    </li>
</ul>

<form action="/m_raum/{{ raum.id }}/heizflaechenoptimierung/regelstrategie/" method="post" data-ajax="false" id="form-heizflaechenoptimierung-regelstrategie" style="margin: 0;">{% csrf_token %}
    <input type="hidden" id="ftype" name="ftype" value="ki_mode"/>
    <fieldset data-role="controlgroup" data-iconpos="left" style="border-radius: 0;">
        <label for="proki">
            <b>Pro-KI on</b>
            <span class="desc-text">
                <i>Die Heizflächentemperatur wird mit Hilfe des KI Pro Algorithmus bestimmt .</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="proki"  id="proki" {% if ki_mode == "proki" %} checked {% endif %} data-chtype="ki_mode"/>

        <label for="on">
            <b>KI on</b>
            <span class="desc-text">
                <i>Die Heizflächentemperatur wird mit Hilfe der KI bestimmt.</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="on"  id="on" {% if ki_mode == "on" %} checked {% endif %} data-chtype="ki_mode"/>

        <label for="off">
            <b>KI off</b>
            <span class="desc-text">
                <i>Die Heizflächentemperatur kann manuell bestimmt werden (individuelle Anpassungen).</i>
            </span>
        </label>
        <input type="radio" name="radio" value="" data-mode="off"  id="off" {% if ki_mode == "off" %} checked {% endif %} data-chtype="ki_mode"/>
    </fieldset>
</form>
{% endif %}

{% endblock %}