{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung set{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/heizflaechenoptimierung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/heizflaechenoptimierung/regelstrategie/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
$(document).ready(function () {
    $("#mitt-zeit-active").click(function() {
        if(this.checked) {
            $('#time_startmz').slider( "option", "disabled", false );
            $('#time_endmz').slider( "option", "disabled", false );
        } else {
            $('#time_startmz').slider( "option", "disabled", true );
            $('#time_endmz').slider( "option", "disabled", true );
        }
    });

    $("#heizflaechen_checkbox").click(function() {
        if(this.checked) {
            $('#heating_element_start_g').slider( "option", "disabled", false );
            $('#heating_element_end_g').slider( "option", "disabled", false );
        } else {
            $('#heating_element_start_g').slider( "option", "disabled", true );
            $('#heating_element_end_g').slider( "option", "disabled", true );
        }
    });

    $("#aussen_temp").click(function() {
        if(this.checked) {
            $('#flushing_interval_start_g').slider( "option", "disabled", false );
            $('#flushing_interval_end_g').slider( "option", "disabled", false );
        } else {
            $('#flushing_interval_start_g').slider( "option", "disabled", true );
            $('#flushing_interval_end_g').slider( "option", "disabled", true );
        }
    });

    $("#correction_of_heating").click(function() {
        if(this.checked) {
            $('#correction_heating_element_g').slider( "option", "disabled", false );
        } else {
            $('#correction_heating_element_g').slider( "option", "disabled", true );
        }
    });

    $("#overswing_checkbox").click(function() {
        if(this.checked) {
            $('#before_slider').slider( "option", "disabled", false );
        } else {
            $('#before_slider').slider( "option", "disabled", true );
        }
    });

    $("#underswing_checkbox").click(function() {
        if(this.checked) {
            $('#after_slider').slider( "option", "disabled", false );
        } else {
            $('#after_slider').slider( "option", "disabled", true );
        }
    });
    
});
</script>

<a data-role="none" href="/m_raum/{{raum.id}}/" class="ui-link-inherit custome_a">
    <div class="title_room info"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}</div>
</a>

<div data-role="tabs" style="margin-top: -10px;">

    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Regelungsstatus" %}</a></li>
        </ul>
    </div>

    <div id="one" class="ui-body-d ui-content ui-alt-icon">

        <form action="/m_raum/{{ raum.id }}/heizflaechenoptimierung/" method="post" data-ajax="false" id="form-heizflaechenoptimierung">{% csrf_token %}

            <div class="ui-grid-a ui-alt-icon">

                <div class="rangeslider-list">

                    <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                        <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                            <label for="time_startmz" >{% trans "Mittelwert-Zeitraum Außentemperatur" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="time_start" id="time_startmz" min="0" max="72" value="{{ time_start }}" step="1"/>
                            <label for="time_endmz">{% trans "Mittelwert-Zeitraum Außentemperatur" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="time_end" id="time_endmz" min="0" max="72" value="{{ time_end }}" step="1"/>
                        </div>
                        <div class="label-before">{% trans "von" %}</div>
                        <div class="label-after">{% trans "bis" %}</div>
                    </div>

                    <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                        <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                            <label for="heating_element_start_g">{% trans "Heizflächentemperatur" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" {% if ki_mode %}disabled="disabled"{% endif %}
                                   name="heating_element_start" id="heating_element_start_g" min="20" max="80" value="{{ heating_element_start }}" step=".1"/>
                            <label for="heating-element-end_g">{% trans "Heizflächentemperatur" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" {% if ki_mode %}disabled="disabled"{% endif %} name="heating_element_end" id="heating_element_end_g" min="20" max="80" value="{{ heating_element_end }}" step=".1"/>
                        </div>
                        <div class="label-before">{% trans "bei +20 AT" %}</div>
                        <div class="label-after">{% trans "bei -20 AT" %}</div>
                    </div>

                    <div class="slider-wrapper correction-heating-element-wrapper custom_slider range_slider">
                        <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                            <label for="flushing_interval_start_g">{% trans "Außentemperaturabhängiges Spülintervall:" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="flushing_interval_start" id="flushing_interval_start_g" min="10" max="600" value="{{ flushing_interval_start }}" step="10"/>
                            <label for="flushing_interval_end_g">{% trans "Außentemperaturabhängiges Spülintervall:" %}</label>
                            <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="flushing_interval_end" id="flushing_interval_end_g" min="10" max="600" value="{{ flushing_interval_end }}" step="10"/>
                        </div>
                        <div class="label-before">{% trans "bei -20 AT" %}</div>
                        <div class="label-after">{% trans "bei +20 AT" %}</div>
                    </div>

                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                        <label for="before_slider">{% trans "Aktivitätsschwelle unterhalb Zieltemperatur (Überschwingschutz):" %}</label>
                        <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="before" id="before_slider" data-mini="true" data-highlight="true" step=".1" min="-5" max="0" value="{{ before }}"/>
{#                        <div class="label-after">{% trans "bei +20 AT" %}</div>#}
                    </div>

                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                        <label for="after_slider">{% trans "Aktivitätsschwelle oberhalb Zieltemperatur (Unterschwingschutz):" %}</label>
                        <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="after" id="after_slider" data-mini="true" data-highlight="true" step=".1" min="0" max="5" value="{{ after }}"/>
{#                        <div class="label-after">{% trans "bei -20 AT" %}</div>#}
                    </div>

                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper custom_slider">
                        <label for="correction_heating_element_g">{% trans "Korrektur der Heizflächentemperatur pro °C Abweichung der aktuellen Raumtemperatur" %}</label>
                        <input data-id="{{raum.id}}" data-popup-enabled="true" type="range" name="correction_heating_element" id="correction_heating_element_g" data-mini="true" data-highlight="true" step=".1" min="0" max="5" value="{{ correction_heating_element }}"/>
                        <div class="label-after">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>

                </div>
            </div>

            <!-- <input type="submit" value='{% trans "Speichern" %}' style="padding: 0px;" data-corners="false" class="ui-btn ui-btn"/> -->

        </form>
        
        <ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
            <li>
                <a href="/m_heizflaechenoptimierung/{{ haus.id }}/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten">&nbsp;</span>
                    mehrere Räume bearbeiten
                </a>
            </li>
        </ul>

    </div>

    <div id="two">
        <div>

            <p/>
            <b>{% trans "aktueller Status:" %}</b>
            <ul>

            {% if heizflaechen_step == 1 %}
                <li>Schritt: 1</li>
                <li>Heizflächenoptimierung - dauerhaft an</li>
                <li>Heizelementtemperatur wird in der Regelung nicht berücksichtigt</li>
                <li>Raumtemperatur liegt zu weit unter der Zieltemperatur</li>
            {% endif %}

            {% if heizflaechen_step == 8 %}
                <li>Schritt: 8</li>
                <li>Heizflächenoptimierung - dauerhaft aus</li>
                <li>Heizelementtemperatur wird in der Regelung nicht berücksichtigt</li>
                <li>Raumtemperatur liegt zu weit über der Zieltemperatur</li>
            {% endif %}

            {% if heizflaechen_step == 5 %}
                <li>Schritt: 5</li>
                <li>Heizflächenoptimierung - Unterschwingschutz</li>
                <li>Heizelementtemperatur wird geprüft</li>
                <li>Positiver Offset seit {{heizflaechen_since}}, gesetzt bis {{heizflaechen_timer}}</li>
            {% endif %}

            {% if heizflaechen_step == 7 %}
                <li>Schritt: 7</li>
                <li>Heizflächenoptimierung - Unterschwingschutz</li>
                <li>durchschnittliche Heizelementtemperatur liegt unter Heizelementzieltemperatur</li>
                <li>Positiver Offset seit {{heizflaechen_since}}, gesetzt bis {{heizflaechen_timer}}</li>
            {% endif %}

            {% if heizflaechen_step == 6 %}
                <li>Schritt: 6</li>
                <li>Heizflächenoptimierung - Unterschwingschutz</li>
                <li>durchschnittliche Heizelementtemperatur liegt über Heizelementzieltemperatur</li>
                <li>kein Offset gesetzt seit {{heizflaechen_since}}, bis {{heizflaechen_timer}} (berechnetes Spülintervall {{flushing_interval}}min)</li>
            {% endif %}

            {% if heizflaechen_step == 4 %}
                <li>Schritt: 4</li>
                <li>Heizflächenoptimierung - Überschwingschutz</li>
                <li>Heizelementtemperatur liegt unter der max. erlaubten Temperatur</li>
                <li>kein Offset gesetzt seit {{heizflaechen_since}}, nächste Prüfung {{heizflaechen_next}}</li>
            {% endif %}

            {% if heizflaechen_step == 2 %}
                <li>Schritt: 2</li>
                <li>Heizflächenoptimierung - Überschwingschutz</li>
                <li>Heizelementtemperatur liegt über der max. erlaubten Temperatur</li>
                <li>negativer Offset gesetzt seit {{heizflaechen_since}}, bis {{heizflaechen_timer}} (berechnetes Spülintervall {{flushing_interval}} min)</li>
            {% endif %}

            {% if heizflaechen_step == 3 %}
                <li>Schritt: 3                                                                            </li>
                <li>Heizflächenoptimierung - Überschwingschutz</li>
                <li>Heizelementtemperatur wird geprüft</li>
                <li>kein Offset gesetzt seit {{heizflaechen_since}}, nächste Prüfung {{heizflaechen_timer}}</li>
            {% endif %}

            {% if heizflaechen_step == 9 %}
                <li>Schritt: 9</li>
                <li>Heizflächenoptimierung - kontinuierlicher Regelbetrieb</li>
                <li>Raumtemperatur innerhalb der Schwellen, es wird nach Rücklauftemperatur geregelt</li>
            {% endif %}

            {% if not calc_hftemps %}
                <li>
                    {% trans "berechneter Heizelementoffset:" %} {{ hf_offset }}
                </li>
            {% endif %}
            </ul>

            {% if not calc_hftemps %}
            <p/>
            <b>{% trans "Berechnungsplan:" %}</b>
            <ul>
                <li>{% trans "Zeitpunkt der letzten Berechnung:" %} {{ last_check }}</li>
                <li>{% trans "geplante nächste Berechnung:" %}  {{ next_check }}</li>
                <li>{% trans "Spülintervalltimer:" %} {% if heizflaechen_step == 2 or heizflaechen_step == 6 %} {% trans "aktiv" %} {% else %} {% trans "-" %} {% endif %}</li>
                <li>Heizelementtimer: {% if heizflaechen_step == 7%} aktiv {% else %} - {% endif %}</li>
            </ul>
            {% endif %}

            <p/>
            <b>{% trans "Berechnungsparameter:" %}</b>
            <ul>
                <li>{% trans "Raumzieltemperatur:" %} {{ heizflaechen_target_temp }}</li>
                <li>{% trans "Mittelwert-Zeitraum Außentemperatur:" %} {{ time_start }} / {{ time_end }}</li>
                <li>{% trans "Heizflächentemperatur:" %} {{ heating_element_start }} / {{ heating_element_end }}</li>
                <li>{% trans "Über-/Unterschwingschutz:" %} {{ before }} / {{ after }}</li>
                <li>{% trans "außentemperaturabhängiges Spülintervall:" %} {{ flushing_interval_start }} / {{ flushing_interval_end }}</li>
                <li>{% trans "Korrektur der Heizflächentemperatur pro °C Abweichung der aktuellen Raumtemperatur:" %}  {{ correction_heating_element }}</li>
            </ul>

            <p/>
            <b>{% trans "berechnete Werte:" %}</b>
            <ul>
                <li>{% trans "durchschnittliche Außentemperatur:" %} {{ at_average }}°C </li>
                <li>
                    {% trans "basierend auf Außentemperaturvorhersagereihe:" %}
                    {% if forecast %}
                        {% for item in forecast %}
                            {{ item.0 }}h {{ item.1|floatformat:2 }}°C,
                        {% endfor %}
                    {% else %}
                        Keine Vorhersage vorhanden.
                    {% endif %}
                </li>
                <li>{% trans "Rücklaufsolltemperatur:" %} {{ heating_element_temp|floatformat:2 }}</li>
                <li>{% trans "Heizelementoffset gemäß Zieltemperaturabweichung:" %} {{ correction_heating_element_offset|floatformat:2 }}</li>
                <li>{% trans "Rücklaufzieltemperatur:" %} {{ correct_heating_element_temp|floatformat:2 }}</li>
                <li>{% trans "berechnetes Spülintervall:" %} {{ flushing_interval }} {% trans "Minuten" %}</li>
            </ul>

            <p/>
            <b>{% trans "gemessene Sensorenwerte:" %}</b>
            <ul>
                <li>{% trans "durchschnittliche Heizelementtemperatur:" %} {{ rltemp_average }}°C</li>
                {% if rlsensoren %}
                    {% for temp, solltemp, name in rlsensoren %}
                        <li>{{ name }}: {{ temp }}°C </li>
                    {% endfor %}
                {% endif %}
                <li>{% trans "aktuelle Raumtemperatur:" %} {{ raumtemperatur|floatformat:2 }}°C</li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}