{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}page heizprogramm{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/heizprogramm/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<input  type="hidden" id="haus-id" value="{{haus.id}}">
<ul data-role="listview" data-icon="false">
    <li class="heizprogramm-li">
        <span class="flip-switch"><input type="checkbox" data-role="flipswitch" {% if is_switchingmod_enabled == True %} checked {% endif %} data-hausid="{{haus.id}}" name="heizprogramm-en-dis" id="heizprogramm-en-dis" data-on-text="EIN" data-off-text="AUS" data-wrapper-class="custom-label-flipswitch" data-mini="true"></span>
        <span class="heizprogramm-text"><p style="text-align: center;font-size:16px;;">Heizprogramm</p></span>
    </li>
    {% if activated_entry %}
    <li class="red-str" style="text-overflow: initial !important; white-space: initial !important;">
        Der letzte Schaltevent des
        Heizprogramms wurde nicht ausgeführt,
        weil er von einem Kalendereintrag unterbunden wurde.
    </li>
    {% endif %}
</ul>
{% csrf_token %}
<div class="ui-grid-a select-heizprogramm">
    <fieldset data-role="controlgroup" data-iconpos="left">
        
        {% for heizp in heizprogramm_list %}
            <div style="height: 44.39px;margin-top: 0;">
                <div class="leftDiv">
                    <input type="radio" name="radio" value="" id="heizp{{heizp.heizp_id}}" data-hausid="{{haus.id}}" data-heizpid="{{heizp.heizp_id}}" class="" {% if heizp.is_active == True %} checked {% endif %} />
                    <label for="heizp{{heizp.heizp_id}}" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">&nbsp;</label>
                </div>
                <div class="rightDiv">
                    <a href="/m_heizprogramm/{{haus.id}}/?edit={{heizp.heizp_id}}">
                            <span style="float: left;max-width: 80%;">
                                Heizprogramm: {{heizp.heizp_name}}
                            </span> 
                            <span class="timeli">
                                <span class="arrow"></span> 
                            </span>
                        </a>
                        </a>
                </div>
            </div>
        {% endfor %}
    </fieldset>

</div>

<ul data-role="listview" data-icon="false" style="margin-top:20px;">
    <li class="add-btn-li text-center">
        <a href="/m_heizprogramm/{{haus.id}}/?add" data-corners="false" class="add-btn" id="switchingbtn" style="text-align: center;">Heizprogramm erstellen</a>
    </li>
</ul>

{% endblock %}

