{% extends "m/m_base_new.html" %}
{% load i18n %}

{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}timer page{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-timer/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}


<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
</style>
<a data-role="none" href="/m_raum/{{raum.id}}" class="ui-link-inherit custome_a">
<div class="room_wrapper"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}</div>
</a>
<form action="/m_raum/{{raum.id}}/timer/" method="post" data-ajax='false' id='zsrform'>
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role='list-divider'>{% trans "Timer" %}</li>
        {% if delta %}
            {% for d in delta %}
                {% autoescape off %}{{d}}{% endautoescape %}
            {% endfor %}
        {% endif %}
        <li class="p-static">
        <div class="temp_set">
            <h4>{% trans "Temperature-Offset" %}</h4>
            <span class="temp_offset">{{ default|default:"-1.00" }}</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
            <input type="hidden" value=""/>
            <input type="range" id="offset-slider" name="offset" min="-5" max="5" value="-1" step=".1" min="-4" max="4" data-mini="true" data-highlight="true" data-popup-enabled="true"/>
        </div>

        </li>
        <li>
            <label>{% trans "Zeit" %}</label>

            <label for="starttime">{% trans "Beginn" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="starttime" id="starttime" value="{{starttime}}"/>
            <label for="endtime">{% trans "Ende" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="endtime" id="endtime" value="{{endtime}}"/>

        </li>
        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#zsrform').get(0).submit();" style="text-align:center">{% trans "Timer aktivieren" %}</a>
        </li>
    </ul>
</form>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <span class="popupTempIcon"><img src="/static/icons/{{raum.icon}}.png"> </span><span class="popupTempName"></span>
    <label for="popupTempInput">{% trans "Solltemperatur:" %}</label>
    <input type="text" name="popupTempInput" id="popupTempInput" value=""/>
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans "Speichern" %}</a>
    </div>
</div>

<script>

    $('#popupTempSave').click(function(){
        var val = $('#popupTempInput').val();
        $('#offset-slider').val(val);
        $('.temp_offset').html(val);
    });

</script>
{% endblock %}