{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Timer{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/auswahl-und-aktivierung-von-modulen/modul-zeitschalter/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}timer{%endblock%}

{% block mcontent %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#right-menu-ch').change(function(){
            let right_menu = 0;
            if ($(this).attr("checked")){
                right_menu = 1;
            }
            $.ajax({
                url: '/m_setup/{{haus.id}}/timer/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'right_menu': right_menu
                },
                type: 'post',
                async: true,
                success: function() {

                }
            });
        })

    })
</script>
<form method="post" action="/m_setup/{{haus.id}}/timer/" data-ajax="false"> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Timer
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>
      
    </li>

    <li data-icon='false' style="padding:0px">
        <a href=" /m_timer/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>

</ul>
</form>
{% endblock %}

{% block footer %}

{% endblock %}