{% extends "m/m_base.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS Geolocation" %}{% endblock %}
{% block bodycls %} geolocation-add-device page{% endblock %}
{% block mheader %}
        <a href="/m_setup/{{haus.id}}/geolocation/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        {% if device.id %}
          <!-- <a href="/m_setup/{{haus.id}}/geolocation/?gddel={{ device.id }}" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
          <a href="/m_setup/{{haus.id}}/geolocation/?gddel={{ device.id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
          <a href="http://support.controme.com/geolocation/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% else %}
          <a href="http://support.controme.com/geolocation/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>

        {% endif %}
{% endblock %}

{% block mcontent %}

    <form action="/m_setup/{{haus.id}}/geolocation/" method="post" data-ajax="false" id='gdform'>{% csrf_token %}
        {% if device.id %}
            <input type="hidden" name="deviceid" id="deviceid" value="{{ device.id }}"/>
        {% endif %}

        <ul data-role="listview" data-divider-theme="a">
            <li data-role="list-divider">
                {% if device.id %}
                    Gerät <i>{{ device.name }}</i> bearbeiten
                {% else %}
                    Gerät anlegen
                {% endif %}
            </li>
            <li>
                <label for="name">Gerätename</label>
                <input type="text" name="name" id="name" value="{{ device.name }}"/>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="$('#gdform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>

{% endblock %}