{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Differenzregelung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/differenzregelung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>

        {% if dregid %}
          <!-- <a id="drdel" href="/m_setup/{{ haus.id }}/differenzregelung/delete/{{ dregid }}/" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
          <a id="drdel" href="/m_setup/{{ haus.id }}/differenzregelung/delete/{{ dregid }}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
          <a href="http://support.controme.com/differenzregelung-und-solaranlage/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% else %}
          <a href="http://support.controme.com/differenzregelung-und-solaranlage/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {% endif %}
{% endblock %}

{% block bodycls %}differenzregelung-edit{% endblock %}
{% block mcontent %}

<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }

  .txtarea-label{
        margin-top: 20px !important;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/differenzregelung/" data-ajax="false" id='drform'> {% csrf_token %}
    {% if dregid %}
    <input type="hidden" name="dreg" id="dreg" value="{{ dregid }}"/>
    {% endif %}

    <ul data-role="listview" data-divider-theme="a" id="rlrlv">
        <li class="first-li" data-role="list-divider">Differenzregelung<div style="float:right;" id="fb1"></div></li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
    
        <li>
            <!-- <div style="text-align: center;">
                <img width="380" src="/static/images/Hydraulikschema_1_Solaranlage_1-kreis.png" />
            </div> -->
            <div style="text-align: center; margin-top: 15px">
                <p>Syntax: A1 = S1 > (S2 + diffS2) & maxS1 > S1 > minS1 & S2 < maxS2 & S3 < maxS3</p>
            </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="name" style="vertical-align: middle;">Name</label>
            <input type="text" name="name" id="name" value="{{ name }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="s1" style="margin-top: .5em;">S1 (optional)</label>
            <select name="s1" data-mini="true" id="s1">
                <option value="0">-</option>
                {% for sensor in sensoren %}
                    <option value="{{ sensor.get_identifier }}" {% if s1 == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.get_name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="s2" style="margin-top: .5em;">S2</label>
            <select name="s2" data-mini="true" id="s2">
                {% for sensor in sensoren %}
                    <option value="{{ sensor.get_identifier }}" {% if s2 == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.get_name }}{% if sensor.description|length %} / {{ sensor.description }} {% endif %}</option>
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="s3" style="margin-top: .5em;">S3 (optional)</label>
            <select name="s3" data-mini="true" id="s3">
                <option value="0">-</option>
                {% for sensor in sensoren %}
                    <option value="{{ sensor.get_identifier }}" {% if s3 == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.get_name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="diff_s2" style="vertical-align: middle;">Differenztemperatur S2</label>
            <input type="number" name="diff_s2" id="diff_s2" value="{{ diff_s2 }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="min_s1" style="vertical-align: middle;">Mindesttemperatur S1</label>
            <input type="number" name="min_s1" id="min_s1" value="{{ min_s1 }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="max_s1" style="vertical-align: middle;">Maximaltemperatur S1</label>
            <input type="number" name="max_s1" id="max_s1" value="{{ max_s1 }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="max_s2" style="vertical-align: middle;">Maximaltemperatur S2</label>
            <input type="number" name="max_s2" id="max_s2" value="{{ max_s2 }}" required/>
        </div>
        </li>
        <li>
        <div data-role="fieldcontain">
            <label class="s2-checkbox" for="show_slider_ch">Slider für S2 im User-Interface anzeigen</label>
                <input type="checkbox" id="show_slider_ch" name="show_slider_ch" {% if show_slider %}checked="checked"{% endif %}>
            <small>
                Ein Setzen dieses Hakens bewirkt, dass ein Slider auf der Regelungsseite
                im User-Interface angezeigt wird. Der Slider und das obige Eingabefeld synchronisieren sich gegenseitig.
                Immer der zuletzt gespeicherte Wert ist gültig.
            </small>
        </div>
        <div data-role="fieldcontain">
                <label for="min_slider_val">Minimaler Sliderwert für User-Interface</label>
                <input  type="text" name="min_slider_val" id="min_slider_val"  value="{{ min_slider_val }}">
                <label for="max_slider_val">Maximaler Sliderwert für User-Interface</label>
                <input  type="text" name="max_slider_val" id="max_slider_val"  value="{{ max_slider_val }}">
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="max_s3" style="vertical-align: middle;">Maximaltemperatur S3 (optional)</label>
            <input type="number" name="max_s3" id="max_s3" value="{{ max_s3 }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="hysteresis" style="vertical-align: middle;">Hysterese</label>
            <input type="number" name="hysteresis" id="hysteresis" value="{{ hysteresis }}" step=".1" required/>
            <br><br>
            <small>
                Beim Wert “1” wird die Hysterese im Bereich
                von 1K unter und 1K über dem Zielwert angewandt.
            </small>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="einvzg">Einschaltverzögerung (Mindestwert in Sekunden)</label>
            <input type="number" name="einvzg" id="einvzg" value="{{ einvzg }}"/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="ausvzg">Ausschaltverzögerung (Mindestwert in Sekunden)</label>
            <input type="number" name="ausvzg" id="ausvzg" value="{{ ausvzg }}"/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="invertout">Ausgang invertieren</label>
            <input type="checkbox" name="invertout" id="invertout" {% if invertout %}checked="checked"{% endif %}"/>
        </div>
        </li>

        <li data-role="collapsible" data-iconpos="right">
            <h2>Modul-Auswahl</h2>
              <label>Aussentemperaturkorrektur<input type="checkbox" {% if 'aussentemperaturkorrektur' in modules_list %} checked {% endif%}  name="c_aussentemperaturkorrektur"></label>
              <label>FPS<input type="checkbox" {% if "fps" in modules_list %}checked{% endif %} name="c_fps"/></label>
              <label>Google Kalender Schnittstelle<input type="checkbox" {% if 'gcal' in modules_list %} checked {% endif%} name="c_gcal"></label>
              <label>Geolocation<input type="checkbox" {% if 'geolocation' in modules_list %} checked {% endif%} name="c_geolocation"></label>
{#            <label>Heizflächenoptimierung<input type="checkbox" {% if 'heizflaechenoptimierung' in modules_list %} checked {% endif%} name="c_heizflaechenoptimierung"></label>#}
              <label>Timer<input type="checkbox" {% if 'timer' in modules_list %} checked {% endif%} name="c_timer"></label>
              <label>Kalender<input type="checkbox" {% if 'jahreskalender' in modules_list %} checked {% endif%} name="c_jahreskalender"></label>
{#            <label>Vorlauftemperaturkorrektur<input type="checkbox" {% if 'vorlauftemperaturkorrektur' in modules_list %} checked {% endif%} name="c_vorlauftemperaturkorrektur"></label>#}
              <label>Wetter<input type="checkbox" {% if 'wetter' in modules_list %} checked {% endif%} name="c_wetter"></label>
              <label>Offsets<input type="checkbox" {% if 'offsets' in modules_list %} checked {% endif%} name="c_offsets"></label>
        </li>

        <li>
            <label for="icon">Icon</label>
            <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
            {% for vlicon in icons %}
            <label for="{{ vlicon }}"><img src="/static/heating-icons/icon_{{ vlicon }}.png" width="40px"/></label>
            <input type="radio" name="icon" id="{{ vlicon }}" value="{{ vlicon }}" {% if icon == vlicon %}checked="checked"{% endif %}/>
            {% endfor %}
            </fieldset>
            </div>
        </li>
        <li>
            <div data-role="fieldcontain" >
                <label class="txtarea-label"  for="benutzer-txt-0">Benutzer-Text 0</label>
                <textarea class="txtarea-input" cols="25" rows="12" id="benutzer-txt-0"
                          name="benutzer_text_0"
                placeholder="Der eingegebene Text wird oben mittig auf der Benutzerseite angezeigt, wenn das Berechnungsergebnis 0 beträgt.">{{ benutzer_text_0 }}</textarea>
            </div>
        </li>
        <li>
           <div data-role="fieldcontain" >
                <label class="txtarea-label"  for="benutzer-txt-1">Benutzer-Text 1</label>
                <textarea class="txtarea-input" data-clear-btn="true" cols="25" rows="12" id="benutzer-txt-1"
                          name="benutzer_text_1"
                placeholder="Der eingegebene Text wird oben mittig auf der Benutzerseite angezeigt, wenn das Berechnungsergebnis 1 bzw >0 beträgt.
                ">{{ benutzer_text_1 }}</textarea>
            </div>
        </li>
        <li>
        <div data-role="fieldcontain">
            <label for="show_in_menu">Link im linken Benutzermenü anzeigen</label>
            <input type="checkbox" name="show_in_menu" id="show_in_menu" {% if show_in_menu == None or show_in_menu %}checked="checked"{% endif %}/>
        </div>
        </li>
        {% if dregid %}
            <li>
                <a href="/m_differenzregelung/{{haus.id}}/show/{{ dregid }}/" target="_blank">öffne Benutzeroberfläche</a>
            </li>
        {% endif %}
        <li data-icon='false'>
{#            <a href="#" id='submit-btn' onclick="submit_form()" style="text-align:center">Speichern</a>#}
            <a href="#" id='submit-btn'  style="text-align:center">Speichern</a>
        </li>
    </ul>

</form>

{% endblock %}

{% block footer %}

{% endblock %}
