{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Abwesenheitsschalter{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-zeitschalter/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<form method="post" action="/m_setup/{{haus.id}}/zeitschalter/" data-ajax="false" id='zsform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Zeitschalter</li>
        <li>
            <label for="defaultoffset">Standard Offset</label>
            <input type="range" name="defaultoffset" id="defaultoffset" value="{{default}}" min="-4" max="4" step="0.1"  data-mini="true"
                            data-highlight="true" data-popup-enabled="true"/>
        </li>
        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#zsform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>
{% endblock %}