{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Logs{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-logging/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_logger/{{ haus.id }}/xcsv/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
 {% ifequal error 'file_exists' %}
     <p style="color: darkred">Eine Datei mit diesem Namen existiert bereits. Bitte löschen Sie diese wenn Sie eine andere Version dieser Datei hochladen möchten.</p>
 {% endifequal %}
 {% ifequal error 'not_csv' %}
     <p style="color: darkred"> Sie können nur csv hochladen</p>
 {% endifequal %}
 <form method="post" action="/m_logger/{{ haus.id }}/xcsv/" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="csv_file"> <input type="submit" value="Hochladen">
 </form>
{% endblock %}
