{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<ul data-role="listview" data-divider-theme="a" id="mixerlist">
    <li data-role="list-divider" id="mixers">Angelegte Vorlauftemperaturregelungen</li>
    {% if mischer|length %}
    {% for mid, mparams in mischer %}
    <li>
        <a href="/m_setup/{{ haus.id }}/vorlauftemperaturregelung/edit/{{ mid }}/">Vorlauftemperaturregelung {{ mid }}{% if mparams.name %}: {{ mparams.name }}{% endif %}</a>
    </li>
    {% endfor %}
    {% else %}
    <li>-</li>
    {% endif %}
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/vorlauftemperaturregelung/edit/' data-icon='gear'>Vorlauftemperaturregelung anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}