{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Kalendereinstellungen{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-gkalender/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<script type="text/javascript">
    $(document).on('pagecreate', function(){
        get_matches();
        {% if not active %}
            $(".hideli").hide();
        {% endif %}
    });
    function get_matches() {
        $("#updbutton").attr('value', 'wird geladen ...');
        $.ajax({
            url: "/m_setup/{{haus.id}}/gcal/?getcal",
            success: function(response) {
                $('#calmatches').html(response);
                $("#spinner").hide();
                $("#callist").listview('refresh');
            }
        });
        return false;
    }
</script>
<style type="text/css">
    label.ui-btn, a.ui-collapsible-heading-toggle {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/gcal/" data-ajax="false" id='calhform'> {% csrf_token %}
<ul data-role="listview" data-divider-theme="a" id="callist">
    {% if accesserror %}
        <li style="color:#cb0963">
            {{accesserror}}
        </li>
    {% else %}
    <li data-role="list-divider" class='hideli'>Aktuelle Kalendereintr&auml;ge</li>
    <li id="calmatches" class='hideli'>
        <span id='spinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>
    </li>
    
    <li data-role='list-divider' class='hideli'>Kalendereinstellungen</li>
    {% if calendarId %}
        <li class='hideli'>
            <a href="https://www.google.com/calendar/embed?src={{calendarId}}&ctz=Europe/Berlin">Verkn&uuml;pfter Kalender</a>
        </li>
    {% endif %}

    <li class='hideli'>
        <h5>{% if calendarId %}Anderen {%endif%}Kalender verkn&uuml;pfen</h5>
        <p/><p/>
        <p style="white-space:normal;overflow:visible">
        <input type="text" name="usergooglecal"/>
        <div style="color:#cb0963">{{error}}</div> 
    </li>
    {% endif %}
    
    <li data-icon='false' style="padding:0px">
        <input type="hidden" name="clickflag" id="clickflag" value="0"/>
        <a href="#" onclick="$('#clickflag').val(1);$('#calhform').get(0).submit();" style="text-align:center">Speichern</a>
    </li>
</ul>
</form>
{% endblock %}