{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
        <a href="/m_raum/{{ raum.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% if not active %}
            $("#prrgrid").hide();
        {% endif %}
        $('#prrlv').listview('refresh', true);
    });
    function toggleActive() {
        $("#prrgrid").toggle();
        $('#prrlv').listview('refresh', true);
    }
</script>
<style type="text/css">
    label.ui-btn {
        font-weight: normal;
    }
</style>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form method="post" action="/m_raum/{{raum.id}}/praesenzregelung/" data-ajax="false" id="prrform">{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="prrlv">
        <li data-role='list-divider'>Präsenzregelung</li>

        <li>
            <label style="margin:0; border:0;" data-corners="false">
                <input type="checkbox" onclick="toggleActive();" name="prraktiv" value='1' {% if active %}checked{% endif %}/>
                Präsenzregelung aktiviert
            </label>

            <div id="prrgrid">
                <br/>
                Absenkung in °C, wenn der Bewegungsmelder keine Aktivität registriert:<br/>

                <div class="ui-grid-c">
                    <div class="ui-block-a" style="width:15%;text-align: right">

                    </div>
                    <div class="ui-block-b" style="width:70%">
                        <input type="range" id="offset" name="offset" value="{{ offset }}" min="-2" max="0" step="0.1"
                               data-mini="true"/>
                    </div>
                    <div class="ui-block-c" style="width:15%">

                    </div>
                </div>

            </div>
        </li>
        <li data-icon='false' style="padding:0px;">
            <a href="#" onclick="$('#prrform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>

    </ul>

</form>
{% endblock %}