{% extends "m/m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %} page jahreskalender{% endblock %}
{% block mheader %}
    <a href="/m_benutzerverwaltung/{{ haus.id }}/"
       class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <form action="" id="accessform" method="post" style="margin-top: -20px">{% csrf_token %}

        <ul style="margin-top: -38px" data-role="listview" data-divider-theme="a" class="ui-alt-icon sort">
            <li data-role="list-divider">{% trans "Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "bearbeiten" %}</li>
            <li>
                <a href="/m_benutzerverwaltung/{{ haus.id }}/profile/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Namen und Emailadresse ändern</a>
            </li>
            <li>
                <a href="/m_benutzerverwaltung/{{ haus.id }}/password/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Passwort ändern</a>
            </li>
            {% if request.user.userprofile.get != profile %}
            <li>
                <a href="/m_benutzerverwaltung/{{ haus.id }}/delete/{{ profile.id }}/" onclick="return confirm('Sind Sie sich sicher?')" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Benutzer löschen</a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.userprofile.get != profile %}
        <ul style="margin-top: 0px" data-role="listview" data-divider-theme="a", >
            <li data-role="list-divider">
                {% trans "Zugriffsrechte für Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "ändern" %}
            </li>
        </ul>

        <div class="ui-grid-a select-room">
            <fieldset data-role="controlgroup" data-iconpos="right">
                <input type="checkbox" name="configaccess" id="configaccess" {% ifnotequal profile.role 'K' %}checked{% endifnotequal %}/>
                <label for="configaccess" data-corners="false" class="line-border" style="border: 1;">{% trans "Zugriff auf Konfiguration" %}</label>

{#                <input type="checkbox" name="multizone_quick" id="multizone_quick" value="1" {%if 'multizone_quick' in multizone_list%} checked {%endif%} />#}
{#                <label for="multizone_quick" data-corners="false" style="border: 1;">{% trans "Zugriff auf Interface, temporäre Änderunge" %}</label>#}

                <input type="checkbox" name="multizone_raumregelung_smart" id="multizone_raumregelung_smart" value="4" {%if 'multizone_raumregelung_smart' in multizone_list%} checked {%endif%} />
                <label for="multizone_raumregelung_smart" data-corners="false" style="border: 1;">{% trans "Zugriff auf Interface, Raumregelung SMART" %}</label>

                <input type="checkbox" name="multizone_permanent_tab" id="multizone_permanent_tab" value="4" {%if 'multizone_permanent_tab' in multizone_list%} checked {%endif%} />
                <label for="multizone_permanent_tab" data-corners="false" style="border: 1;">{% trans "Tableiste in „Raumregelung SMART“ für „dauerhafte Änderungen“ einblenden" %}</label>

                <input type="checkbox" name="multizone_pro" id="multizone_pro" value="2" {%if 'multizone_pro' in multizone_list%} checked {%endif%} />
                <label for="multizone_pro" data-corners="false" style="border: 1;">{% trans "Zugriff auf Interface, Raumregelung PRO-UI" %}</label>

                <input type="checkbox" name="multizone_showtemp" id="show_tempbar" value="3" {%if 'multizone_showtemp' in multizone_list%} checked {%endif%}/>
                <label for="show_tempbar" data-corners="false" style="border: 1;">{% trans "Temperatur-Bar anzeigen im, Regelung PRO Interface" %}</label>
            </fieldset>

            <div style="padding: 15px;">
                <label for="mainpage-selection" class="select">Standard-Interface der Hauptseite:</label>
                <select name="mainpage_selection" id="mainpage-selection" data-iconpos="right">
                    <option value="pro" {% ifequal user_page 'pro' %} selected="selected" {% endifequal %}>Raumregelung PRO</option>
                    <option value="smart" {% ifequal user_page 'smart'  %} selected="selected" {% endifequal %}>Raumregelung SMART</option>
{#                    <option value="quick" {% ifequal user_page 'quick' %} selected="selected" {% endifequal %}>Raumregelung TEMP</option>#}
                </select>
            </div>

            <fieldset data-role="controlgroup" data-iconpos="right">
            <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
            <label id="select-all-label" for="select-all" class="bold" data-corners="false" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Räume auswählen" %}</label>
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                    {% for raum in raeume %}
                        <input type="checkbox" name="room-{{ raum.id }}" value="{{ etage.id }}" data-house="{{ etage.id }}"
                                {% if raum.id in access_list %} checked {% endif %} id="room-{{ raum.id }}" class="room"/>
                        <label for="room-{{ raum.id }}" class="line-border">
                            <img src="/static/icons/{{ raum.icon }}.png"/>
                            {{etage.name}} | {{ raum.name }}
                        </label>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
            <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Differenzregelungen auswählen" %}</label>
            {% for dregid,reg_objid, dparams in diff_params %}
                <input type="checkbox" name="diff-{{ dregid }}" value="{{ dregid }}" data-house="{{ dregid }}"
                                {% if dregid in access_list_reg %} checked {% endif %} id="diff-{{ dregid }}" class="diff"/>
                        <label for="diff-{{ dregid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ dparams.name }}
                        </label>
            {% endfor %}
            <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
            <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Vorlauftemperaturregelungen auswählen" %}</label>
            {% for dregid, reg_objid, dparams in vor_params %}
                <input type="checkbox" name="vor-{{ dregid }}" value="{{ dregid }}" data-house="{{ dregid }}"
                                {% if dregid in access_list_reg %} checked {% endif %} id="vor-{{ dregid }}" class="vor"/>
                        <label for="vor-{{ dregid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ dparams.name }}
                        </label>
            {% endfor %}
            <input type="checkbox" name="select-all-pl" value="select-all" id="select-all-pl" class="select-all-pl"/>
            <label id="select-all-label-pl" for="select-all-pl" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Raumanforderungen auswählen" %}</label>
            {% for regid, name in pl_params %}
                <input type="checkbox" name="pl-{{ regid }}" value="{{ regid }}" data-house="{{ regid }}"
                                {% if regid in access_list_reg %} checked {% endif %} id="pl-{{ regid }}" class="pl"/>
                        <label for="pl-{{ regid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ name }}s
                        </label>
            {% endfor %}
            </fieldset>
        </div>

        <ul data-role="listview">
            <li data-icon='false'>
                <a href="#" onclick="$('#accessform').get(0).submit();" style="text-align:center">
                    {% trans "Speichern" %}
                </a>
            </li>
        </ul>
        {% else %}
        <ul style="margin-top: 0px" data-role="listview" style="margin-top: -38px;">
        <li>Ein Benutzer kann nicht seine eigenen Zugriffsrechte editieren.</li>
        </ul>
    {% endif %}
    </form>
{% endblock %}