{% extends "m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %}userprofile page{% endblock %}
{% block mheader %}
        <a href="/m_benutzerverwaltung/{{ haus.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <form action='/m_benutzerverwaltung/{{ haus.id }}/add/' method="post" data-ajax='false' id='adduserform'>{% csrf_token %}

        <ul data-role="listview" data-divider-theme='a' style="margin-top: -38px">
            <li data-role="list-divider">{% trans "Benutzer anlegen" %}</li>
            <li data-role="fieldcontain">
                <label for='vorname'>{% trans "Vorname" %}</label>
                <input type='text' id='vorname' name='vorname' value="{{ vorname }}"/>
            </li>
            <li data-role="fieldcontain">
                <label for='nachname'>{% trans "Nachname" %}</label>
                <input type='text' id='nachname' name='nachname' value="{{ nachname }}"/>
            </li>
            <li data-role="fieldcontain">
                <label for='email'>{% trans "Email" %}</label>
                <input type='text' id='email' name='email' value="{{ email }}"/>
            </li>
            <li data-role="fieldcontain">
                <label for='passwort'>{% trans "Passwort" %}</label>
                <input type='password' id='passwort' name='passwort' value=""/>
            </li>
            <li data-role="fieldcontain">
                <label for="pw2">{% trans "Passwort wiederholen" %}</label>
                <input type="password" id="pw2" name="pw2" value=""/>
            </li>
            {% if error %}
            <li style="color:#cb0963;">
                {{ error }}
            </li>
            {% endif %}
            <li data-icon='false'>
                <a href="#" onclick="$('#adduserform').get(0).submit();" style="text-align:center">
                    {% trans "Speichern" %}
                </a>
            </li>
        </ul>
    </form>
    <br/><br/><br/>
{% endblock %}

