<html> 
<head> 
    <title>{% block title %}Page Title{%endblock%}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

{#    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>#}
    <style type="text/css">
        @font-face {
            font-family: 'Droid Sans';
            local: 'Droid Sans';
            src: url("/static/DroidSans.ttf") format('truetype');

        }
    </style>
    <link rel="stylesheet" href="/static/custom.min.css" />
    <link rel="stylesheet" href="/static/jquery.mobile.structure-1.3.2.min.css" />
    <link rel="stylesheet" href="/static/config_pages.css?v=reload" />

    <link rel="apple-touch-icon" href="/static/images/contromeicon16x16.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/contromeicon57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/contromeicon72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/contromeicon114x114.png" />

    <script src="/static/jquery_1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/config_pages.js?v=reload"></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            $.extend($.mobile, {
                linkBindingEnabled: false,
                ajaxEnabled: false
            });
        });
    </script>
    <script src="/static/jquery.mobile-1.3.2.min.js"></script>

    <style type="text/css">
        * .ui-li {
            font-weight:normal;
        }

        a.bulb-icon {
            border: none !important;
        }
        .ui-icon-bulb-icon-grey {
            background-color: initial !important;
        }
        .ui-icon-bulb-icon-grey {
            background-image: url('/static/icons/bulb-icon-grey-18-1.png');
        }

        .ui-btn-hover-a, .ui-bar-a, .ui-bar-b {
            background: white;
            font-weight: bold;
        }
        .ui-checkbox .ui-btn-active:hover {
            background: #387bbe;
            background-image: -webkit-gradient(linear,left top,left bottom,from( #214972 ),to( #4eacFF ));
            background-image: -webkit-linear-gradient( #214972,#4eacFF );
            background-image: -moz-linear-gradient( #214972,#4eacFF );
            background-image: -ms-linear-gradient( #214972,#4eacFF );
            background-image: -o-linear-gradient( #214972,#4eacFF );
            background-image: linear-gradient( #214972,#4eacFF );
        }

        .ui-btn-text {font-weight:normal;}
        html { background-color: #eee; }
        @media only screen and (min-width: 1024px){
            .ui-page {
                width: 1024px !important;
                margin: 0px auto !important;
                position: relative !important;
                border-right: 1px #666 outset !important;
                border-left: 1px #666 outset !important;
            }
            .ui-navbar {
                width: 1024px;
                margin: 0px auto !important;
            }
        }
    </style>

    <script type="text/javascript">
        $(document).bind( "mobileinit", function(event) {
            $.extend($.mobile.zoom, {locked:true,enabled:false});
        });
    </script>

</head>

<body class="{% block bodycls %}{%endblock%}">

<div data-role="page" id="hm" data-theme='a' style="background: #ffffff;">
    <div data-role="header" style="height: 38px; background: #ffffff;">
        <center><a href="/" class="ui-link"><img src="/static/icons/Logo-header-retina-Kopie-1.png" height="30px" style="margin-top: 5px"/></a></center>
        {% block mheader %}{% endblock %}
    </div>
    <div data-role="content" id="cntnt" data-theme='a' style="background: #ffffff;">
        {% block mcontent %}{% endblock %}
    </div>
    {% block footer %}
{#        <div data-role="footer" id="footer">#}
            <div data-role='navbar' data-position="fixed" data-tap-toggle="false" id='footer'
                 class="ui-navbar ui-mini ui-footer-fixed slideup">
                <ul>
                    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span"
                    data-iconpos="top" data-theme="a" data-inline="true">
                        {% if user.is_superuser %}
                            {% if haus %}
                                <a href='/?show={{ haus.id }}' data-icon="home">Raumtemperaturen</a>
                            {% else %}
                                <a href='/?show={{ raum.etage.haus.id }}' data-icon="home">Raumtemperaturen</a>
                            {% endif %}
                        {% else %}
                            <a href='/' data-icon="home">Raumtemperaturen</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if haus %}
                            <a href='/config/{{haus.id}}/' data-icon='gear'>Einstellungen</a>
                        {% else %}
                            <a href='/config/{{raum.etage.haus.id}}/' data-icon='gear'>Einstellungen</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
{#        </div>#}
    {% endblock %}
</div>

</body>
</html>
