{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Fehler{% endblock %}

{% block mheader %}

{% endblock %}

{% block mcontent %}
    <p>{{ e }}</p>

    <p>Unsere Techniker wurden bereits verst&auml;ndigt und werden sich umgehend des Problems annehmen.
    Bitte versuchen Sie es sp&auml;ter noch einmal.</p>

    <p>Sollte das Problem bestehen bleiben, wenden Sie
    sich bitte an <a href="mailto:support@controme.com?subject=Problem auf {{ request.path }}">support@controme.com</a>.</p>
{% endblock %}