{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Haus & Ger&auml;te{% endblock %}

{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .menu-title-first{
        background: initial !important;
        font-weight: bold !important;
    }
</style>
<script type="text/javascript">
    $(document).on('pageshow', function(){
        getOverviewData();
    });

    function getOverviewData() {
        $.ajax({
            url: "/m_setup/{{ haus.id }}/hardware/?overview=1",
            dataType: "json",
            success: function(data) {
                $(".dli").remove(); // wg. page caching
                $.each(data, function(idx, dli) {
                    $("#clist").append("<li class='dli' id='dli" + idx + "'></li>");
                    $("#dli" + idx).append("<div class='ui-grid-a'><div class='ui-block-a'>" + dli['heading'] + "</div><div class='ui-block-b' style='text-align: right;'>" + dli['status'] + "</div></div>");
                    $.each(dli['text'], function(rowidx, row) {
                        symbol = "";
                        if(row[0] > 1) {
                            symbol = "&#8627;";
                        }
                        if(row[1]) {
                            $("#dli" + idx).append("<div style='font-size: small;'><span style='background-color: "+row[1]+";'>&nbsp;</span><span style='margin-left: "+row[0]+"em;'>" + symbol + " " + row[2] + " </div>");
                        } else {
                            $("#dli" + idx).append("<div style='font-size: small; margin-left: " + row[0] + "em;'>" + row[2] + "</div>");
                        }
                    });
                });
                $("#spinner").hide();
                $("#clist").listview('refresh');
            }
        });
    }
</script>

<ul data-role="listview" id="clist">

    {% if user.userprofile.get.role != 'K' %}

        <li data-role='list-divider' class="menu-title-first">Haus- und Ger&auml;teeinrichtung</li>
        <li>
            <a href="/m_setup/{{haus.id}}/hardware/er/">Etagen und R&auml;ume </a>
        </li>
        {% if not haus.get_module_parameters.rfonly %}
        <li>
            <a href="/m_setup/{{haus.id}}/hardware/gw/">Gateways </a>
        </li>
        <li>
            <a href="/m_setup/{{haus.id}}/hardware/s/">Sensoren </a>
        </li>

        <li>
            <a href="/m_setup/{{haus.id}}/hardware/a/">Ausg&auml;nge</a>
        </li>
        {% endif %}
        {% for link in hwlinks %}
            <li>
                {% autoescape off %}{{ link }}{% endautoescape %}
            </li>
        {% endfor %}

        <li data-role='list-divider' id="oheading" class="menu-title-first">Steuerungsübersicht</li>
        <div id='spinner' style="text-align: center;"><br/>Systemcheck wird ausgeführt...<br/><img src='/static/images/ajax-loader.gif'/></div>

    {% endif %}

</ul>
{% endblock %}