{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <a href="/m_raum/{{ raum.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none"></a>
    <span><a href="https://support.controme.com/zieltemperaturanpassung-heizkoerperthermostat-mit-zusaetzlichem-raumsensor/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
{% endblock %}

{% block mcontent %}

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form method="post" action="/m_raum/{{raum.id}}/funksollregelung/" data-ajax="false" id="fsrform">{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role='list-divider'>Einfluss Raumsensor auf Heizkörperthermostat</li>

        <li style="white-space: normal; overflow: auto">
            <label>
                Übersteuern des Heizkörpers pro Grad Raumtemperaturabweichung:
                <br/> <small>(Nur wirksam zusammen mit einem Raumsensor)</small>
                    <input type="range" name="f" id="f" value="{{f}}"
                            min="0" max="5" step="0.1"  data-mini="true" data-highlight="true" data-id="{{raum.id}}"
                        data-popup-enabled="true"/>
            </label>
        </li>

        <li style="white-space: normal; overflow: auto">
            <label>
                Schwelle für maximale Über- / Untersteuerung:
                <br/> <small>(Ab der eingestellten Abweichung wird der Heizkörper maximal korrigiert.)</small>
                    <input type="range" name="schwelle" id="schwelle" value="{{schwelle}}"
                            min="0.1" max="10" step="0.1"  data-mini="true" data-highlight="true" data-id="{{raum.id}}"
                        data-popup-enabled="true"/>
            </label>
        </li>

        {% if has_stellaz %}
            <li>
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Betriebsmodus</legend>
                    <label>
                        <input type="radio" id="modus_auto" name="modus" value="auto"
                               {% if mode == "auto" %}checked{% endif %}/>
                        Auto
                    </label>
                    <label>
                        <input type="radio" id="modus_dvc" name="modus" value="dvc"
                               {% if mode == "dvc" %}checked{% endif %} {% if not has_stellaz %}disabled{% endif %}/>
                        Ventilkontrolle
                    </label>
                </fieldset>

                <br/>
                <small>
                    Im Betriebsmodus "Auto" regeln Funkthermostate automatisch nach der ihnen übergebenen Solltemperatur.<br/><br/>

                    Im Betriebsmodus "Ventilkontrolle" regeln Funkthermostate nicht über den Vergleich zwischen der ihnen
                    übergebenen und der von ihnen gemessenen Temperatur, sondern öffnen oder schließen das Heizungsventil
                    entsprechend den Vorgaben durch den Server. Dieser Betriebsmodus ist nur mit passenden Thermostaten
                    möglich.
                </small>
            </li>
        {% endif %}

        <!-- <li data-icon='false'>
            <a href="#" onclick="$('#fsrform').get(0).submit();" style="text-align:center">Speichern</a>
        </li> -->
    </ul>
</form>

<ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
    <li style="max-height: 20px; padding: 10px 0; font-size: 14px;">
        <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten" style="background-image: url('/static/icons/icon_hochtarifoptimierung.png');">&nbsp;</span>
        Aktuelle Zieltemperaturanpassung
        <span class="ui-li-aside module-temp offset" style="width:75px;right: 2em;">
            {% autoescape off %}
                {{ fsr_offset }}
            {% endautoescape %}
        </span>
    </li>
</ul><br />

        
<ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
    <li>
        <a href="/m_funksollregelung/{{ raum.etage.haus.id }}/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
            <span class="ui-btn-icon-notext ui-icon-shadow mehrere-Räume-bearbeiten" style="background-image: url('/static/icons/icon_hochtarifoptimierung.png');">&nbsp;</span>
            mehrere Räume bearbeiten
        </a>
    </li>
</ul>
{% endblock %}