{% extends "m_base_new.html"%}
{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}
{% block bodyclass %}page raumregelung-smart{% endblock %}
{% block mheader %}
{% endblock %}

{% block mcontent %}

<style>

.hide{
        display: none !important;
        visibility: hidden !important;
        }
.page div.ui-slider.ui-mini {
        margin: 36px 0 10px 0 !important;
        }
input.ui-slider-input {
        display : none !important;
        margin-left: 100px !important;
        }

.ui-slider.ui-mini{
        margin-top: 15px !important;

        }
.ui-slider-track{
        margin:0 !important;
        margin-left: 100px !important;
        }
.ui-slider-track   .ui-btn-active{
        background: #4d9c39 !important;
        }
.labelcss {
        margin-top: 5.5px !important;
        margin-left: 45px !important;
        font-size: small;
        float:left;
        width : 20px;
        }
.floated {
        text-align: center;
        display: inline-block;
        width : 20px;
        }
.system_status {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        text-align: center;
        font-size: 12px;
        display:none;
        }

</style>
        
</table>
    <ul data-role="listview">
        <li>
           <b>Bluetooth-Status:&nbsp;&nbsp;</b>{{ status }}
        </li>
        <li>
            <b>Bluetooth-Version:&nbsp;&nbsp;</b>{{ version }}
        </li>
        <li>
            <b>Bluetooth-Geräte:&nbsp;&nbsp;</b>{{ devices }}
        </li>
        <li>
            <b>Bluetooth-Verbindungen:&nbsp;&nbsp;</b>{{ connections }}
        </li>
        <li>
            <b>Betriebssystem-Info:&nbsp;&nbsp;</b>{{ os_info }}
        </li>
        <li>
            <b>Betriebssystem-Version:&nbsp;&nbsp;</b>{{ os_version }}
        </li>         
        <li>
            <b>Supervisorctl Status:</b><br>
            <pre id="supervisor_status" class="system_status"><div style="display: inline-block; text-align: left;"><li>{{ supervisorctl_status }}</li></div></pre>
             <br>
             <div data-role="navbar">
                <ul>
                    <li><input type="button" name="answer" value="Supervisor status" onclick="show_supervisor()"></li>
                </ul>
            </div>  
        </li>
        <li>
             <b>System Status:</b><br>
             <pre id="system_status" class="system_status">
                 <br><b>SD-Card Status:</b><br><br>{{ sd_info }}<br>
                 <br><b>RAM Status:</b><br><br><div style="display: inline-block; text-align: left; line-height: 11pt">{% for info in ram_t%}<li>{{ info }}</li>{% endfor %}</div><br>
                 <br><b>CPU Status:</b><br><br>{{ cpu_t }}</pre>
              <br>
              <div data-role="navbar">
                 <ul>
                     <li><input type="button" name="answer" value="System status" onclick="show_system()"></li>
                 </ul>
             </div>  
        </li>
        <li data-icon='false'>
            <a href="#" onclick="update_btn();" class="ui-btn" style="text-align:center">Ble Version Update</a>
        </li>
        </li>
        <li data-icon='false'>
            <a href="#" onclick="ble_restart();" class="ui-btn" style="text-align:center">Bluetooth-Dienst neu starten</a>
        </li>
        <li data-icon='false'>
            <label><b>Periodischer Neustart FUNKSERVICE in Minuten</b></label>
            <div>
                <span class="labelcss" id="rangeValue">{{ble_repeat_service}}</span>
                <Input class="solltemp-slider" id="textInput" name="rangeInput" data-mini="true" data-highlight="true"  type="range"  value="{{ble_repeat_service}}" min="30" max="10080" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></Input>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Nach der eingegebenen Anzahl an Minuten wird der FUNKSERVICE automatisch neu gestartet. Der eingegebeneWert muss zwischen 30 und 10080 (1 Woche) liegen.<br>
                </i>
            </p>  
            <div data-role="navbar">
                <ul>
                <li><a href="#"  onclick="ble_service_stop();" {% if ble_service_status != 'active' %}class="ui-btn-active"{% else %} class="ui-btn-inactive" {% endif %}>AUS</a></li>
                <li><a href="#"  onclick="ble_service_start();" {% if ble_service_status != 'active' %}  class="ui-btn-inactive"  {% else %} class="ui-btn-active" {% endif %}>EIN</a></li>
                </ul>
            </div>   
        </li>
        <li>
            Systemverfügbarkeit: {{ system_uptime }}
        </li>
        <li data-icon='false'>
            <label><b>Periodischer Neustart MINISERVER in Minuten</b></label>
            <div>
                <span class="labelcss" id="rangeValue2">{{rpi_repeat_service}}</span>
                <Input class="solltemp-slider" id="textInput2" name="rangeInput" data-mini="true" data-highlight="true"  type="range"  value="{{rpi_repeat_service}}" min="30" max="10080" onChange="rangeSlide2(this.value)" onmousemove="rangeSlide2(this.value)"></Input>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Nach der eingegebenen Anzahl an Minuten wird der MINISERVER automatisch neu gestartet. Der eingegebene Wert muss zwischen 30 und 10080 (1 Woche) liegen.<br>
                </i>
            </p>  
            <div data-role="navbar">
                <ul>
                <li><a href="#"  onclick="rpi_service_stop();" {% if rpi_service_status != 'active' %}class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>AUS</a></li>
                <li><a href="#"  onclick="rpi_service_start();" {% if rpi_service_status != 'active' %}class="ui-btn-inactive"{% else %} class="ui-btn-active"{% endif %}>EIN</a></li>
                </ul>
            </div>   
        </li>
        <li>
            <label for="flip-1"><b>BLE: Btmon log</b></label>
            <div style="position:relative;float:right;margin-top: -45px;">
            <select name="flip-1" id="flip-1" data-role="slider" data-mini="true"  >
                <option value="off">AUS</option>
                <option value="on" {% if btmon_status != 'no' %} selected="on" {% endif %}>EIN</option>
            </select>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Das btmon-Tool kann verwendet werden, um Dateien für das Live-Debugging zu erfassen und für später zu speichern.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='btmon_log' name="ble" value="btmon_log" >Download Btmon Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li> 
        <li>
            <label for="flip-2"><b>BLE: DBUS log</b></label>
            <div style="position:relative;float:right;margin-top: -45px;">
            <select name="flip-2" id="flip-2" data-role="slider" data-mini="true"  >
                <option value="off">AUS</option>
                <option value="on" {% if dbus_status != 'no' %} selected="on" {% endif %}>EIN</option>
            </select>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Die dbus-Kommunikationsschnittstelle in Linux-Systemen verwaltet die meisten Informationen oder Steuerungen auf Systemebene.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='dbus_log' name="ble" value="dbus_log" >Download DBUS Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>
        <li>
            <label><b>BLE: Btle log</b></label>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Btle log zeichnet die btle handler Anwendung im Supervisor auf.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button {% if check_btle_log == 'no' %} onclick="btle_init_function();" id='btle_init' name="ble" value="btle_init" 
                                    {% else %} id='btle_log' name="ble" value="btle_log" {% endif %}>Download Btle Log
                        </button></li>
                    </ul>
                </div>  
            </form> 
            <script>
                function btle_init_function() {
                    alert ("Backend says: Btle_handler initialized!\nPlease try later to download logs.");}
            </script>
        </li>  
        <li>
            Installierte Softwareversion: {{ current_branch }} <br/>
            Softwarestand von: {{ updated_date|truncatechars:27 }} (neueste Version)

        </li>
        <li>
            <label for="branch">Branch-name eingeben</label>
            <input type="text" id="branch">
        </li>
        <li data-icon='false'>
            <a href="#" onclick="submit_btn();" class="ui-btn" style="text-align:center">Version Installieren</a>
        <li data-icon='false'>
            <label><b>Zeitdienst</b></label>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    <a href="https://support.controme.com/ntp/" target="_blank">Weitere Infos ></a><br>
                </i>
            </p>  
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="time_ntp_start();" {% if ntp_status == 'active' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>NTP</a></li>
                  <li><a href="#"  onclick="time_syncd_start();" {% if timesyncd_status == 'active' %}  class="ui-btn-active"  {% else %} class="ui-btn-inactive" {% endif %}>Timesyncd</a></li>
                </ul>
            </div>   
        </li>
        <li data-icon='false'>
            <label><b>Manuelle Zeit und Datum einstellen</b></label>
            <input type="datetime-local"  id="timedatetext" data-clear-btn="true" value="{{current_time_date_format}}"/>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Sofern der Miniserver ohne Internet betrieben wird, kann die Systemzeit manuell gesetzt werden. Die manuelle Eingabe wird überschreiben, wenn Internet vorhanden ist.<br>
                </i>
            </p> 
            <li>
                Aktuelle Systemzeit: {{ current_time_date }}
            </li> 
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="savedatetime();">Zeit einstellen</a></li>
                </ul>
            </div>   
        </li>
         <li>
        Bitte VPN Daten nur im Notfall l&oumlschen!
        </li>
        <li data-icon='false'>
            <a href="#" onclick="delVPN_btn();" class="ui-btn" style="text-align:center">VPN Daten l&oumlschen</a>
        </li>
        <li {% if timesyncd_status == 'active' and ntp_status != 'active' %} class="hide" {% endif %} data-icon='false'>
            <label><b>NTP-Client konfigurieren</b></label>
            <input type="text"  id="ntp_server_ip" data-clear-btn="true" {% if ntp_server != 'no' %}value="{{ntp_server}}" {% else %} value='Keinen benutzerdefinierten NTP-Server' {% endif %}"/>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Sie können den NTP-Client konfigurieren, indem Sie die IP-Adresse des NTP-Servers angeben.<br>
                </i>
            </p>  
            <p style="word-wrap: normal; white-space: initial;">
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="set_default_ntp();" {% if ntp_default == 'yes' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>NTP-Standardkonfiguration</a></li>
                  <li><a href="#"  onclick="set_custom_ntp();" {% if ntp_custom == 'yes' %}  class="ui-btn-active"  {% else %} class="ui-btn-inactive" {% endif %}>Benutzerdefinierte Konfiguration</a></li>
                </ul>
            </div>   
        </li>
        <li data-icon='false'>
            <label><b>Uploud-Größe ändern: Nginx</b></label>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="nginx();">Nginx neu laden</a></li> 
                </ul>
            </div>      
        </li>
        <li>
            <label><b>Offline-Softwareupdate</b></label>
            <form action='/support/' method='post' enctype='multipart/form-data' id="ulform">
                {% csrf_token %}
                <input type='file' name='db'/>
                <input type="hidden" name="update" value="upload_zip"/>
                <p style="word-wrap: normal; white-space: initial;">
                    <i>
                        Laden Sie eine Zip-Datei hoch und aktualisieren Sie das System.<br>
                    </i>
                </p><br>
                <label><b>Upload-Passwort</b></label>
        
                <input type="text"  id="pwd" name="pwd"  data-clear-btn="true">
                <p style="word-wrap: normal; white-space: initial;">
                    <i>
                        Das Update ist nur mit einem passwort möglich, das Sie zusammen mit der zip-Datei vom Controme-Support erhalten.<br>
                    </i>
                    Datum des letzten Uploads: {{ offline_date }}
                </p> 
            </form>
            <div data-role="navbar">
                <ul>
                    <li><button href="#" onclick="validate_update_Form();">Datei hochladen</a></li> 
                    <li><button href="#" onclick="offline();">Update starten</a></li> 
                </ul>
            </div>
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='updates_log' name="update" value="updates_log" >Download update Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>
    </ul>

<script>

let delVPN_btn = function (){    
    alert('VPN will be deleted from server. Please wait 20 seconds and then try to restart server');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'del': 'yes'},
        async: true,
        success: function (result) {
        //
        },
    });    
};

let update_btn = function (){
    alert('BLE is going to be installed and OS will reboot in 5 minutes!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'update_ble_driver'},
        async: true,

        success: function (result) {
        //
        },
    });
};

let submit_btn = function (){
    alert('Wait 15 Seconds, until the server gets restarted!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'branch': $('#branch').val()},
        async: true,
        success: function (result) {
        //
        },
    });
};

let ble_restart = function (){
    alert('BLE service restart!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_restart'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    });
};

let ble_service_start = function (){
    alert('BLE Periodical service start!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'ble_start_service', 'ble_start_value':$('#textInput').val()},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let ble_service_stop = function (){
    alert('BLE Periodical service stop!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'ble_stop_service'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let rpi_service_start = function (){
    alert('RPI Periodical service start!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'rpi_start_service', 'rpi_start_value':$('#textInput2').val()},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let rpi_service_stop = function (){
    alert('RPI Periodical service stop!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'rpi_stop_service'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

$(document).on( "slidestop",  "#flip-1" ,function( event, ui ) {
    if ($("#flip-1").val() == "on"){
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'btmon_start'},
            async: true,
            success: function (result) {
                //        
            },});}
    else {
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'btmon_stop'},
            async: true,
            success: function (result) {
            //        
            },})}
});

$(document).on( "slidestop",  "#flip-2" ,function( event, ui ) {
    if ($("#flip-2").val() == "on"){
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'dbus_start'},
            async: true,
            success: function (result) {
            //        
            },});}
    else {
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'dbus_stop'},
            async: true,
            success: function (result) {
            //        
            },})}
});

function rangeSlide(value) {
                    document.getElementById('rangeValue').innerHTML = value;
};
function rangeSlide2(value) {
                    document.getElementById('rangeValue2').innerHTML = value;
};
function show_supervisor() {
    var e = document.getElementById('supervisor_status');
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
};
function show_system() {
    var e = document.getElementById('system_status');
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
};
function validate_update_Form() {
    var pwd_field = document.getElementById('pwd').value;
    if (pwd_field == null || pwd_field == "") {
        alert("Please fill Upload-Passwort !");
        return false;
        }
    else{
        $('#ulform').get(0).submit();
    }
};

let time_ntp_start = function (){
        alert('Please wait 5 second to configure NTP service!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'NTP_start'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },5000),
        }); 
};
    
    let time_syncd_start = function (){
        alert('Please wait 5 second to configure Timesyncd service!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'syncd_start'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },5000),
        }); 
};
    
    let savedatetime = function (){
        alert('Change date and time manually!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP': 'date_time', 'date_time_value':$('#timedatetext').val()},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },1000),
        }); 
};

    let set_default_ntp = function (){
        alert('Set default NTP config!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'ntp_conf_default'},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },2000),
        }); 
};

    let set_custom_ntp = function (){
        alert('Set custom NTP config!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP': 'ntp_conf_custom', 'ntp_conf_custom_value':$('#ntp_server_ip').val()},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },2000),
        }); 
};

    let offline = function (){
        var pwd_field = document.getElementById('pwd').value;
        if (pwd_field == null || pwd_field == "") {
            alert("Please fill Upload-Passwort !");
            return false;
            }
        else {
            $.ajax({
                url: "/support/",
                type: "POST",
                data: {'update': 'git_update', 'password':$('#pwd').val()},
                async: true,
                success: setTimeout(function(result) {
                location.reload();
                },2000),
            });
            alert('Offline update may take some minutes!');}
};

    let nginx = function (){
            $.ajax({
                url: "/support/",
                type: "POST",
                data: {'update': 'nginx'},
                async: true,
                success: setTimeout(function(result) {
                location.reload();
                },3000),
            }); 
            alert('update nginx!');
};

</script>

{% endblock %}
