{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Wetter-Pro{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/wetter_pro/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <!--<a href="http://support.controme.com/bedienung-module/modul-wetterPro/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>-->
{% endblock %}

{% block bodycls %}wetter-pro{%endblock%}

{% block mcontent %}

{% csrf_token %}

<script type="text/javascript">
    $(document).ready(function(){
        if( $('#zero').length ){
            var offset = 0;
            $('html, body').animate({
                scrollTop: $("#zero").offset().top + offset
            }, 2000);
        }
        var loader;
        function fetch_data(){
            loader=setInterval(function(){
                $("#fetch-new-data").removeClass("open-stationid-popup");
                $("#fetch-new-data").removeClass("success");
                $("#fetch-new-data").removeClass("error");
                $("#fetch-new-data").addClass("normal");
                var fnd = $("#fetch-new-data").text();
                var new_fnd = "";
                switch (fnd) {
                    case '/':
                        new_fnd = "—";
                        break;
                    case '—':
                        new_fnd = "\\";
                        break;
                    case '\\':
                        new_fnd = "|";
                        break;
                    default:
                        new_fnd = "/";
                        break;
                }
                $("#fetch-new-data").text(new_fnd);

            },180);
        }
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        $("#fetch-new-data").click(function(){
            fetch_data();
            sleep(100).then(() => {
                $.ajax({
                    url: '/m_setup/{{ haus.id }}/wetter_pro/get_update/',
                    type: 'POST',
                    async: true,
                    data: {
                        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                    },
                    success: function(data){
                        clearInterval(loader);
                        if(data.success){
                            $("#fetch-new-data").text('Daten erfolgreich aktualisiert');
                            $("#fetch-new-data").removeClass("normal");
                            $("#fetch-new-data").removeClass("error");
                            $("#fetch-new-data").addClass("success");
                            if(data.refresh){
                                setTimeout(function(){
                                    window.location.reload(1);
                                }, 2000);
                            }
                        }else{
                            var msg = "Daten konnten nicht abgerufen werden";
                            if(data.message !== undefined && data.message !== null && data.message !== ""){
                                msg = data.message;
                            }
                            $("#fetch-new-data").text(msg);
                            $("#fetch-new-data").removeClass("normal");
                            $("#fetch-new-data").removeClass("success");
                            $("#fetch-new-data").addClass("error");
                        }
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        clearInterval(loader);
                        $("#fetch-new-data").text('Daten konnten nicht abgerufen werden');
                        $("#fetch-new-data").removeClass("normal");
                        $("#fetch-new-data").removeClass("success");
                        $("#fetch-new-data").addClass("error");
                    }
                });
            });
        });
    });

</script>
<style type="text/css">
    .top-header{
        text-align: center;
    }
    .top-header p{
        font-size:16px;
    }
    .bold{
        font-weight: bold;
    }

    .gray{
        color: gray;
    }
    li > ul{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .align-center{
        text-align: center;
    }

    .station-input, .save-btn, .header, .footer  {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header{
        padding-top: 20px;
    }
    .station-input{
        padding-left: 15px;
        padding-right: 15px;
    }

    .save-btn{
        padding-left: 7px;
        padding-right: 7px;
    }

    .footer{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    #weather_station{
        background: white;
        width: 80%;
    }

    .open-stationid-popup{
        color: #2489ce;
        text-decoration: underline;
        cursor: pointer;
    }
    #fetch-new-data.normal{
        color: #2489ce;
        text-decoration: none;
        cursor: auto;
    }
    #fetch-new-data.success{
        color: green;
        text-decoration: none;
        cursor: auto;
    }
    #fetch-new-data.error{
        color: #cb0963;
        text-decoration: none;
        cursor: auto;
    }

</style>

<ul data-role="listview" data-divider-theme="a">

    <li class="top-header">
        <p>24 std, vorhersage</p>
        <p>Letzte Aktualisierung: {% if last_updated%} {{ last_updated}} {% endif %}</p>
        <p><a href="/m_houseprofile_edit/">Hausadresse</a></p>
        <p><span class="open-stationid-popup" id="fetch-new-data">aktualisiere Daten</span></p>
    </li>

</ul>

<br/><br/><br/>
<ul>
{% if f_list%}
{% for item in f_list%}
    {% if item %}
        <li class="{{item.class}}">
            {% if item.jump %}
                <a id="zero"></a>
            {% endif %}
            {{item.time}}  ({{item.diff}}h)
            <ul class="{{item.class}}">
                <li>Aktualisierungszeitpunkt: {% if last_updated%} {{ last_updated}} {% endif %}</li>
                <li>Temperatur: {{item.tt_C}}&#176;</li>
                <li>Bedeckungsgrad: 
                    {% if item.wm|slice:"0:2" == 'bd' or item.wm|slice:"0:2" == 'md' %}100%
                    {% elif item.wm|slice:"0:2" == 'bw' or item.wm|slice:"0:2" == 'mw' %}75%
                    {% elif item.wm|slice:"0:2" == 'wb' or item.wm|slice:"0:2" == 'mb' %}50%
                    {% elif item.wm|slice:"0:2" == 'ms' or item.wm|slice:"0:2" == 'mm' %}25%
                    {% else %}0%{% endif %}
                </li>
                <li>Luftfeuchtigkeit: {{item.rh}}%</li>
                <li>Wetterzustand: 
                    {% if item.wm|slice:"1:" == 'd____' %} Overcast sky {% endif %} 
                    {% if item.wm|slice:"1:" == 'w____' %} Cloudy {% endif %} 
                    {% if item.wm|slice:"1:" == 'b____' %} Various clouds {% endif %} 

                    {% if item.wm|slice:"2:" == 'r1__' %} light rain {% endif %} 
                    {% if item.wm|slice:"2:" == 'r2__' %} medium rain {% endif %} 
                    {% if item.wm|slice:"2:" == 'r3__' %} heavy rain {% endif %} 

                    {% if item.wm|slice:"2:" == 's1__' %} light showers {% endif %} 
                    {% if item.wm|slice:"2:" == 's2__' %} heavy showers {% endif %} 

                    {% if item.wm|slice:"2:" == 'sr1_' %} light sleet {% endif %} 
                    {% if item.wm|slice:"2:" == 'sr2_' %} medium sleet {% endif %} 
                    {% if item.wm|slice:"2:" == 'sr3_' %} heavy sleet {% endif %} 
                    
                    {% if item.wm|slice:"2:" == 'srs1' %} light sleetshowers {% endif %} 
                    {% if item.wm|slice:"2:" == 'srs2' %} heavy sleetshowers {% endif %} 

                    {% if item.wm|slice:"2:" == 'sn1_' %} light snow {% endif %} 
                    {% if item.wm|slice:"2:" == 'sn2_' %} medium snow {% endif %} 
                    {% if item.wm|slice:"2:" == 'sn3_' %} heavy snow {% endif %} 
                    
                    {% if item.wm|slice:"2:" == 'sns1' %} light snowshowers {% endif %} 
                    {% if item.wm|slice:"2:" == 'sns2' %} heavy snowshowers {% endif %} 

                    {% if item.wm|slice:"2:" == 'sg__' %} Thunder with snow {% endif %} 
                    
                    {% if item.wm|slice:"2:" == 'g1__' %} light thunderstorms {% endif %} 
                    {% if item.wm|slice:"2:" == 'g2__' %} medium thunderstorms {% endif %} 
                    {% if item.wm|slice:"2:" == 'g3__' %} heavy thunderstorms {% endif %} 

                    {% if item.wm|slice:"2:" == 'gr1_' %} light freezing rain {% endif %} 
                    {% if item.wm|slice:"2:" == 'gr2_' %} medium freezing rain {% endif %} 
                </li>
                <!-- <li><a href="http://support.controme.com/wetter-pro/#Wetter-Codes-Tabelle" target="_blank">Wetterzustand-Nr.:</a> {{item.fctcode}}</li> -->
                <li>Regenwahrscheinlichkeit: {{item.pop}}%</li>
            </ul>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% endblock %}
