{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{#        <a href="http://support.controme.com/differenzregelung-und-solaranlage/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>#}
{% endblock %}

{% block mcontent %}
<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
<script type="text/javascript">
function toggleSelection(gwid) {
    if($("#gwouts_"+gwid+"_alle").prop('checked')) {
        $("#gwouts_"+gwid+" .cbe").each(function() {
            $(this).prop('checked', true);
            $(this).checkboxradio('refresh');
        });
    } else {
        $("#gwouts_"+gwid+" .cbe").each(function() {
            $(this).prop('checked', false);
            $(this).checkboxradio('refresh');
        });
    }
}

function drawLog() {

    var options = {
        lines: { show: true,
                 lineWidth: 1
        },
        xaxis: { mode: "time",
            timeformat: "%d.%m.<br/>%H:%M",
            timezone: "UTC"
        },
        legend: {
            noColumns: 2,
{#                    position: "nw"#}
            container: "#legendcontainer"
        },
        series: {
            shadowSize: 0
        },
        grid: {
            markings: []
        }
    };

    var labels = {};
    var drawdata = [];
    var has_data = false;
    {% if current_logs %}
    var data = {{ current_logs|safe }};

    $.each(data, function(k, v) {
        if(v && v.length) {
            has_data = true;
            drawdata.push({data: v, label: k});
        } else {
            drawdata.push({data: v, label: k + " (keine Daten vorhanden)"});
        }
    });
    {% endif %}

    if(has_data) {
        $("#placeholder").css("height", "400px");
        $.plot($("#placeholder"), drawdata, options);

        $.each($("#legendcontainer table td"), function (i, td) {
            if (i % 2 == 0) { // legendcolorbox
                $("#spinnerbr").append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                $("#legend_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
            } else { // legendlabel
                var label = $(this).html();
                $("#legend_" + (i - 1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
            }
        });
    }
}

$(document).ready(function() {
    drawLog();
});
</script>

{% if err %}
{{ err }}
{% else %}

    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete">
    <li data-role="list-divider">Gateways und Ausgänge</li>
    <li>
    <form method="post" id="oform" action=".">{% csrf_token %}
    {% if is_active %}
        <input type="hidden" name="is_active" value="true"/>
    {% else %}
        <input type="hidden" name="is_active" value="false"/>
    {% endif %}
    {% for gwid, gwdata in ausgaenge.items %}
        Ausgänge an {{ gwdata.name }}:
        <fieldset data-role="controlgroup" data-type="horizontal" id="gwouts_{{ gwid }}">
        <label>alle<input data-mini="true" type="checkbox" id="gwouts_{{ gwid }}_alle" onclick="toggleSelection({{ gwid }})" {% if is_active %}disabled{% endif %}/></label>
        {% for ausgang in gwdata.outs %}
            <label>{{ ausgang }}<input name="out_{{ gwid }}_{{ ausgang }}" class="cbe" data-mini="true" type="checkbox" {% if is_active %}disabled{% endif %} {% if ausgang in gwdata.params.outs %}checked="checked"{% endif %}/></label>
        {% endfor %}
        </fieldset>
    {% endfor %}
    </form>
    </li>
    {% if is_active %}
    <li data-role="list-divider">Aktueller Testlauf</li>
    <li id="diag">
        <div style="height: 400px" id="placeholder"></div>
    </li>
    <li id='spinnerbrli'><div id="spinnerbr" style="white-space: normal; overflow: auto"></div></li>
    <div style="display: none" id="legendcontainer"></div>
    <li>
        mittlere Abweichungen vom Durchschnitt:<br/>
        {% if diff %}
        <table>
        {% for sensorname, abweichung in auswertung %}
            <tr><td>{{ sensorname }}</td><td style="padding-left: 1em; text-align: right;">{{ abweichung|floatformat:2 }}</td></tr>
        {% endfor %}
            <tr><td></td><td></td></tr>
            <tr><td>Differenz</td><td style="padding-left: 1em; text-align: right; color: {% if diff > 2 %}red;{% else %}green;{% endif %}">{{ diff|floatformat:2 }}</td></tr>
        </table>
        {% else %}
        keine Daten vorhanden / Auswertung vorhandener Daten nicht möglich
        {% endif %}
        <br/><small>Testlauf wird automatisch nach fünf Stunden beendet. In dieser Zeit müssen die Rücklauftemperaturen für eine gewisse Zeit ansteigen. Ausgänge werden am Anfang für eine halbe Stunde geschlossen. Maximale Ventilöffnungen werden aufgrund der gemessenen Abweichungen entsprechend angepasst.</small>
    </li>
    {% endif %}
    <li data-icon="false">
        {% if is_active %}
        <a href="#" onclick="$('#oform').get(0).submit();" style="text-align: center">Testlauf beenden</a>
        {% else %}
        <a href="#" onclick="$('#oform').get(0).submit();" style="text-align: center">Abgleich starten</a>
        {% endif %}
    </li>
    {% if testlaeufe %}
    <li data-role="list-divider">Frühere Testläufe</li>
    {% for testlauf, data in testlaeufe %}
    {% if data.has_json %}
    <li data-role="collapsible" data-iconpos="right" data-icon="false" style="margin: 0; padding: 0; border-radius: 0;">
        <h2>{{ data.ts }} Differenz: {% if data.show_diff %}{{ data.diff|floatformat:2 }}{% else %}- {% endif %}K {% if data.success %}<span style="color: green">&#10003;</span>{% else %}<span style="color: red">&#x2717;</span>{% endif %}</h2>
        <a data-role="button" href="/static/testlaeufe/{{ data.filename }}.png" target="_blank">Diagramm</a>
        {% if data.msg %}
        Kommentar: <span style="color: {% if data.success %}green{% else %}red{% endif %}">{{ data.msg }}</span><br/>
        {% endif %}
        {% for gateway, outs in data.opening_changes.items %}
        <h4>Ausgangsänderungen an {{ gateway }}:</h4>
        <table style="margin-left: 1em; border: 0px;">
        {% for out, changes in outs %}
            <!-- <span style="margin-left: 1em;">Ausgang {{ out }} {% if changes.sensorname|length %}({{changes.sensorname}}){% endif %}: Abweichung {{ changes.abweichung|floatformat:2 }}, Ventilöffnung {{ changes.alt }} -> {{ changes.neu }}</span><br/> -->
            <tr><td>Ausgang {{ out }} {% if changes.sensorname|length %}({{changes.sensorname}}){% endif %}:</td><td>Abweichung {{ changes.abweichung|floatformat:2 }}</td><td>Ventilöffnung {{ changes.alt }} -> {{ changes.neu }}</td></tr>
        {% endfor %}
        </table>
        {% endfor %}
        <a data-role="button" href="?deletetr={{ data.filename }}" data-icon="delete" onclick="return confirm('Wirklich löschen?')">Testlauf löschen</a>
    </li>
    {% else %}
    <li>
        <a href="/static/testlaeufe/{{ data.filename }}.png" target="_blank">
            {{ data.ts }} Differenz: {% if data.show_diff %}{{ data.diff|floatformat:2 }}{% else %}- {% endif %}K {% if data.success %}<span style="color: green">&#10003;</span>{% else %}<span style="color: red">&#x2717;</span>{% endif %}
        </a>
        <a href="?deletetr={{ data.filename }}" data-icon="delete" onclick="return confirm('Wirklich löschen?')">Löschen</a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
    </ul>

{% endif %}

{% endblock %}