{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page raumregelung-smart{% endblock %}

{% block mheader %}

{% endblock %}



{% block mcontent %}
<input type="hidden" id="haus_id" value="{{haus.id}}">
<input type="hidden" id="smartui_page" value="true">

<div data-role="tabs" id="tabs">
{% csrf_token %}
    {% if permanent_tab %}
    <div data-role="navbar">
        <ul>
          <li><a href="#one" class="ui-btn-active" data-ajax="false">temporäre Änderungen</a></li>
          <li><a href="#two" data-ajax="false">dauerhafte Änderungen</a></li>
        </ul>
    </div>
    {% endif %}
    <div id="one" class="ui-body-d ui-content">
        <ui data-role="listview" class="ui-listview" id="room_list">

        <li class="top_header_smart">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <div style="padding-top: 5px;">
                        <img src="/static/icons/icon-hand.png" width="25" height="25">
                        <span class="duration-for-all">Voreinstellung: <span class="time">{{time_all}}</span> Uhr</span>
                    </div>
                </div><!-- /grid-a -->
                <div class="ui-block-b">
                    <div class="ui-grid-b">
                        <div class="ui-block-a"></div>
                        <div class="ui-block-b">
                            {% if tempmode %}
                                <div class="ui-btn-text mode-selection mode-select">
                                <select data-id="{{raum.id}}" data-hid="{{haus.id}}" id="mode-select" data-shadow="false">
                                  <option value="0" selected>----</option>
                                  {% for id,params in tempmodes%}
                                   <option value="{{id}}">{{params.name}}</option>
                                  {% endfor %}
                                </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="ui-block-a"></div>
                    </div>
                </div><!-- /grid-b -->
                <div class="ui-block-c" style="text-align: right;">
                    <span class="delete-all-hand"><img width="25" height="25" src="/static/icons/icon-hand-delete.png" style="vertical-align: text-bottom;"></span>
                    <span  onclick="window.open('https://support.controme.com/bedienung/#Interface_Raumregelung_SMART');">
                        <img src="/static/icons/icon-bulb-smart-ui-200.png" width="25" height="25" style="vertical-align: bottom;"></span>
                </div><!-- /grid-c -->
            </div><!-- /grid-b -->
        </li> <!-- /top_header_smart -->

        {% for e in eundr %}
            {% for etage, raeume in e.items %}
                    <li class="floor">
                        <div>
                        <span class="align-center text">{{etage.name}}</span>
                        </div>
                    </li>
                    {% for raum, temp, soll,ziel, mode in raeume %}
                        <li class='room-row' data-id="{{raum.id}}">
                            <div class="first_row">
                                <input type="hidden" id="first_row_roomid" value="{{raum.id}}">
                                <div class="room">
                                    <input type="hidden" id="raum_id" value="{{raum.id}}">
                                    <span class="room_icon"><img src="/static/icons/{{raum.icon}}.png" alt="icon"/></span>
                                    <span class="raum_name">{{raum.name}}</span></div>
                                <div class="hand_time">
                                    <div class="hand">
                                        <div>
                                            {% if mode and mode.verbose_name == 'quickui'%}
                                                <img src="/static/icons/icon-hand.png" width="30" height="30">
                                            {% else %}
                                                <img src="/static/icons/icon-hand-grey.png" width="30" height="30">
                                            {% endif %}
                                        </div>
                                        <div class="in_rooms">{{mode.activated_mode_text}}</div>
                                    </div>
                                </div>
                                <div class="temperatures">
                                    <div class="ziel">
                                        <div class="temperatures-right">
                                            <div id="ziel{{ raum.id }}" data-ziel="{{ ziel }}" class="bold" style="color: #779A45;">
                                                <!-- <img src="/static/icons/icon_ziel.png" width="22" height="22"> -->
                                                <span class="ziel_val">{{ ziel|floatformat:1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ist">
                                        <div class="temperatures-right">
                                            <div class="bold temp" temp-value="{{ temp }}">
                                                <!-- <img src="/static/icons/icon_thermometer.png" width="22" height="22"> -->
                                                <span class="temp-val underline">{{ temp|floatformat:1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end of temperatures -->
                            </div>
                            <div class="slider_row">
                                <input type="number" data-type="range" name="zielslider" id="zielslider" data-id="{{raum.id}}" value="{{ziel}}" min="18" max="26" step="0.1" data-mini="true" data-highlight="true" data-popup-enabled="true" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                            </div>

                        </li>
                    {% endfor %}
            {% endfor %}

        {% endfor %}
        </ui>
        <div data-role="popup" id="popupTime" data-theme="a" class="ui-corner-all smart-popup">
            <p class="header-text align-center" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Zeit ändern</p>
            <div class="popupTimeContent">
                <div class="align-center">
                        <div><img alt="icon" width="25" height="25"/></div>
                        <div class="popup_raum_name">{{raum.name}}</div>
                    <input type="hidden" id="room_id" value="0">
                </div>
                <div class="align-center underline">
                    Manueller Zielwert bis <span class="time_inner_room">{{time}}</span>
                </div>
                <div class="align-center">
                    <input type="number" data-type="range" name="time" id="time" value="0" min="0" max="720" step="10" data-mini="true" data-highlight="true" data-popup-enabled="false" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                </div>
                <div class="align-center time_row">
                    <div class="slider_left">0h</div>
                    <div class="slider_center">6h</div>
                    <div class="slider_right">12h</div>
                </div>
                <div class="info-text" style="margin-top: 10px;">
                    Ändere, wie lange der temporäre Zielwert gültig<br /> sein soll. Nach Ablauf wird wieder auf die<br/> Standardtemperatur gewechselt.
                </div>
                <div class="align-center">
                    <a href="#" id="popupTimeSave" class="ui-btn red-str">löschen</a>
                </div>
                <div class="info-text">
                    Lösche die temporäre Zieltemperatur<br/> und setze diesen Raum auf seine Standardtemperatur.
                </div>
            </div>
        </div>
        <div data-role="popup" id="all_popupTime" data-theme="a" class="ui-corner-all smart-popup">
            <div class="popupTimeContent">
                <p class="align-center header-text">Zeit-Voreinstellung</p>
                <div class="align-center">
                    Manueller Zielwert bis <span class="time_inner_popup">{{ time_all }}</span>
                </div>
                <div class="align-center">
                    <input type="number" data-type="range" name="all_time" id="all_time" value="{{default_time}}" min="0" max="720" step="5" data-mini="true" data-highlight="true" data-popup-enabled="false" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                </div>
                <div class="align-center time_row">
                    <div class="slider_left">0h</div>
                    <div class="slider_center">6h</div>
                    <div class="slider_right">12h</div>
                </div>
                <p class="info-text">Wähle, wie lange deine Temperaturänderungen<br/>
                    gültig sein sollen. Nach Ablauf wird wieder auf<br/> die Standardtemperatur gewechselt.</p>
            </div>
        </div>

        <div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all smart-popup">
            <div id="popupTempContent">
                <p class="align-center header-text">Neue temporäre Zieltemperatur</p>
                <div class="popupTempIcon align-center"><img src=""> </div>
                <div class="popupTempName align-center"></div>
                    <input type="hidden" id="ziel_popup_roomid">
                <div class="ui-grid-b">
                    <div class="ui-block-a"></div>
                    <div class="ui-block-b temp-input-block">
                        <input type="text" name="popupTempInput" id="popupZielInput" value=""> </div>
                    </div>
                    <div class="ui-block-c"></div>
                <a href="#" id="popupZielSave" class="ui-btn blue-str">Speichern</a>
                <p class="info-text">Der Raum wird für den voreingestellten Zeitraum auf die neue Zieltemperatur fixiert. Offsets werden solange ignoriert.</p>
            </div>
        </div>
    </div> <!-- /tab one -->
    {% if permanent_tab %}
    <div id="two">
      <ui data-role="listview" class="ui-listview" id="room_list_dauerhafte">
        <li class="top_header_smart">
            <div class="ui-grid-b">
                <div class="ui-block-a">

                </div><!-- /grid-a -->
                <div class="ui-block-b">
                    <div class="ui-grid-b">
                        <div class="ui-block-a"></div>
                        <div class="ui-block-b">
                            {% if tempmode %}
                                <div class="ui-btn-text mode-selection mode-select">
                                <select data-id="{{raum.id}}" data-hid="{{haus.id}}" id="mode-select" data-shadow="false">
                                  <option value="0" selected>----</option>
                                  {% for id,params in tempmodes%}
                                   <option value="{{id}}">{{params.name}}</option>
                                  {% endfor %}
                                </select>
                                </div>
                            {% else %}
                                <div style="height: 26px;">&nbsp;</div>
                            {% endif %}
                        </div>
                        <div class="ui-block-a"></div>
                    </div>
                </div><!-- /grid-b -->
                <div class="ui-block-c">
                    <span  onclick="window.open('http://support.controme.com/bedienung/#Interface_Multi-Zone_QUICK_manueller_Modus_fuer_temporaere_Temperaturaenderungen');"
                           style="float: right;margin-top: 11px;position: absolute;right: 15px;top: 5px;">
                        <img src="/static/icons/icon-bulb-smart-ui-200.png" width="25" height="25" ></span>
                </div><!-- /grid-c -->
            </div><!-- /grid-b -->
        </li> <!-- /top_header_smart -->

        {% for e in eundr %}
            {% for etage, raeume in e.items %}
                    <li class="floor">
                        <div>
                        <span class="align-center text">{{etage.name}}</span>
                        </div>
                    </li>
                    {% for raum, temp, soll,ziel, mode in raeume %}
                        <li class='room-row' data-id="{{raum.id}}">
                            <div class="first_row">
                                <input type="hidden" id="first_row_roomid" value="{{raum.id}}">
                                <input type="hidden" id="dauerhafte_room_modeid" value="{{mode.activated_mode_id}}">
                                <div class="room">
                                    <input type="hidden" id="raum_id" value="{{raum.id}}">
                                    <span class="room_icon"><img src="/static/icons/{{raum.icon}}.png" alt="icon"/></span>
                                    <span class="raum_name">{{raum.name}}</span></div>
                                <div class="hand_time">
                                    <div class="hand {% if not mode.icon %} hide {% endif %}">
                                        <div><img src="/static/icons/{{ mode.icon }}.png" width="30" height="30"></div>
                                        <div class="in_rooms stat-text">{{mode.activated_mode_text}}</div>
                                    </div>
                                </div>
                                <div class="temperatures">
                                    <div class="soll">
                                        <div class="temperatures-right">
                                            <div id="soll-{{ raum.id }}" data-soll="{{ soll }}" class="soll_val bold" style="color: #9ec552 ;">
                                                <!-- <img src="/static/icons/icon_ziel.png" width="22" height="22"> -->
                                                <span class="soll-val {% if mode and mode.verbose_name == 'quickui'%} dark-green {% endif %}">{{ soll|floatformat:1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ist">
                                        <div class="temperatures-right">
                                            <div class="bold temp" temp-value="{{ temp|floatformat:1 }}">
                                                <!-- <img src="/static/icons/icon_thermometer.png" width="22" height="22"> -->
                                                <span class="temp-val underline">{{ temp|floatformat:1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider_row">
                                <input type="number" data-type="range" name="sollslider" id="sollslider" data-id="{{raum.id}}" value="{{soll}}" min="18" max="26" step="0.1" data-mini="true" data-highlight="true" data-popup-enabled="true" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                            </div>

                        </li>
                    {% endfor %}
            {% endfor %}

        {% endfor %}
        </ui>
        <div data-role="popup" id="popupTemp" class="popupSollTemp ui-corner-all smart-popup" data-theme="a">
            <div id="popupTempContent">
                <p class="align-center header-text">Neue Standardtemperatur</p>
                <div class="popupTempIcon align-center"><img src=""> </div>
                <div class="popupTempName align-center"></div>
                    <input type="hidden" id="soll_popup_roomid">
                <div class="ui-grid-b">
                    <div class="ui-block-a"></div>
                    <div class="ui-block-b temp-input-block">
                        <input type="text" name="popupSollInput" id="popupSollInput" value="">
                    </div>
                    <div class="ui-block-c"></div>
                </div>
                {% if tempmode %}
                    <p class="info-text">Gültig für Temperaturszene: <span></span></p>
                {% endif %}
                <a href="#" id="popupSollSave" class="ui-btn blue-str">Speichern</a>
            </div>
        </div>

        <div data-role="popup" id="popup-change-mode" data-theme="a" class="ui-corner-all smart-popup">
            <div id="popupTempContent">
                <p class="align-center header-text" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Temperaturszene umschalten</p>
                <div class="popupTempIcon align-center"><img src=""> </div>
                <div class="popupTempName align-center"></div>
                <input type="hidden" id="changemode_popup_roomid">
                {% if tempmode %}
                    <div class="mode-selection">
                        <select data-id="{{raum.id}}" data-hid="{{haus.id}}" id="mode-select" data-shadow="false">
                          <option value="0" selected>----</option>
                          {% for id,params in tempmodes%}
                           <option value="{{id}}">{{params.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <p class="info-text">Schalte hier den ausgewählten Raum auf eine<br/> andere Temperaturszene</p>
            </div>
        </div>

    </div><!-- /tab tow -->
    {% endif %}
</div>

<!-- delete all hand modes popupe -->
<div data-role="popup" id="delete-all-handmode-popup" data-theme="a" class="ui-corner-all smart-popup">
    <p class="align-center header-text">Alle temporären Temperaturen löschen</p>
    <a href="#" id="delete-btn" class="ui-btn btn-red">löschen</a>
    <p class="align-center info-text">Lösche alle temporären Zieltemperaturen und<br/> setze jeden Raum auf seine Standardtemperatur.</p>
</div>

<!-- isttemperature -->
<div data-role="popup" id="popupTempIst" data-theme="a" class="ui-corner-all smart-popup">
    <div id="popupTempContent">
        <p class="align-center header-text" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Isttemperatur</p>
        <div class="popupTempIcon align-center"><img src=""> </div>
        <div class="popupTempName align-center"></div>
        <div class="align-center isttemp-val bold" style="font-size: 18px; margin-top: 10px;"></div>
        <p class="info-text">Die aktuelle Temperatur in <span class="popupRoomName"></span><br/> beträgt <span class="isttemp-val"></span> Grad.</p>
    </div>
</div>
<script>
    function check_hand_mode(){
        let img;
        let hand_mode_count = 0;
        $("#room_list li").each(function() {
            img = $(this).find('.hand img');
            if (img.attr('src') == '/static/icons/icon-hand.png'){
                hand_mode_count++;
            }
        })
        if(hand_mode_count > 0){
            $('.top_header_smart .delete-all-hand img').show();
        }else{
            $('.top_header_smart .delete-all-hand img').hide();
        }
    }

    function show_crossed_hand(){
        $('.top_header_smart .delete-all-hand img').show();
    }

    function hide_crossed_hand(){
        $('.top_header_smart .delete-all-hand img').hide();
    }

    $(document).ready(function () {
        check_hand_mode()

        $("#two .room-row").each(function() {
            let raum_id = $(this).attr('data-id');
            let second_tab = $('#two li[data-id='+ raum_id +']');
            let img_mode_pic = second_tab.find('.hand_time img').attr('src');
            if(img_mode_pic.endsWith('icon-hand.png')){
                let style = second_tab.find('.ui-btn-active').attr('style');
                style += '; background-color: #779A45 !important;';
                second_tab.find('.ui-btn-active').attr("style", style);
            }
        })
    })
</script>
{% endblock %}

