{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Hochtarifoptimierung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-hochtarifoptimierung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pagecreate', function(){
        {% if activated and alwayson %}
            $(".hideli").hide();
        {% endif %}
        {% if not activated %}
            $(".hideli").hide();
            $(".hide").hide();
        {% endif %}
    });
    function toggleActive(source) {
        if($("#htaktiv").prop('checked') && $("#alwayson").prop('checked')) {
            $(".hideli").hide();
            $(".hide").show();
        } else if($("#htaktiv").prop('checked') && !$("#alwayson").prop('checked')) {
            $(".hideli").show();
            $(".hide").show();
        } else {
            $(".hideli").hide();
            $(".hide").hide();
        }
    }
</script>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form method="post" action="/m_raum/{{raum.id}}/hochtarifoptimierung/" data-ajax="false" id="htrform">{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role="list-divider">Hochtarifoptimierung</li>
        {% if gactive %}
            <li>
                <label style="margin:0px;border:0;" data-corners="false"><input  type="checkbox" onclick="toggleActive()" name="htaktiv" id="htaktiv" value='1' {%if activated%}checked{%endif%}/>Hochtarifoptimierung aktiviert</label>
            </li>

            {% if active %}
                <li class="hide">
                    <a>Hochtarifoptimierung heute aktiv.</a>
                    <a href='/m_raum/{{raum.id}}/hochtarifoptimierung/?htdel'>deaktivieren</a>
                </li>
            {% else %}
                {% if not active and alwayson %}
                    <li class="hide">
                        <a href='/m_raum/{{raum.id}}/hochtarifoptimierung/?htadd'>Hochtarifsperre momentan inaktiv. Aktivieren?</a>
                    </li>
                {% else %}
                    <li class="hide">
                        <a href='/m_raum/{{raum.id}}/hochtarifoptimierung/?htadd'>Hochtarifsperre heute aktivieren?</a>
                    </li>
                    {% endif %}
            {% endif %}

            <li class='hideli'>
                <div id="paramgrid">

                    <br/>
                    <label>
                        Hochtarifsperre aktivieren ab Tagestemperatur von
                            <input type="range" name="s" id="s" value="{{s}}" 
                                    min="-15" max="25" step="1"  data-mini="true" data-highlight="true"
                                data-popup-enabled="true"/>
                    </label>
                    <br/>
                    <small>
                        Die Hochtarifsperre tritt nur dann in Kraft, wenn die Außentemperaturen an diesem Tag laut
                        Vorhersage nie diesen Wert unterschreiten.<br/>
                    </small>
                    <br/>

                    <hr/>

                    <br/>
                    <label>
                        Berechnungsgrundlage f&uuml;r Tagestemperatur
                        <style type="text/css">
                            #igrid .ui-slider-input {
                                display: none !important;
                            }
                            #igrid .ui-slider-track {
                                margin-left:15px;
                            }
                        </style>
                        <div class="ui-grid-b" id='igrid'>
                            <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;">
                                Tagestief
                            </div>
                            <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                                <input type="range" name="i" id="i" value="{{i}}" 
                                               min="0" max=4" step="1"  data-mini="true" data-highlight="true"
                                               data-popup-enabled="true"/>
                            </div>
                            <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                                Tageshoch
                            </div>
                        </div>
                    </label>
                    <br/>
                    <small>
                        Da sich die Temperatur im Laufe des Tages verändert, können Sie hier einstellen, welche
                        Tagestemperatur(en) herangezogen werden sollen, um die Aktivierung der Hochtarifsperre auszulösen.
                        Bei Tageshoch und Tagestief wird der Mittelwert der höchsten bzw. niedrigsten Temperaturen in der
                        Hochtarifzeit gebildet. Wenn der Regler in der Mitte steht, wird der Mittelwert über den vollständigen
                        Temperaturverlauf laut Vorhersage gebildet.<br/>
                    </small>
                    <br/>

                    <hr/>

                    <br/>
                    <label style="margin:0px;border:0;" data-corners="false">
                        Maximaler erlaubter Temperaturabfall
                        <input type="number" name="max_drop" id="max_drop" value="{{ max_drop }}"/>
                    </label>
                    <small>
                        Die Hochtarifsperre setzt einen Offset auf die Zieltemperatur des Raumes. Der maximal erlaubte
                        Temperaturabfall setzt diesen Offset. Ein Wert von 0.0 bedeutet, dass die Hochtarifoptimierung
                        in diesem Raum nie aktiv wird.
                    </small>
                    <br/>
                </div>
                <br/>
                <p style="white-space:normal">
                    Parameter&auml;nderungen werden erst zur n&auml;chsten Hochtarifphase wirksam.
                </p>
            </li>
            <li class="hide">
                <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" name="alwayson" id="alwayson" onclick="toggleActive()" value="1" {% if alwayson %}checked{% endif %}/>Hochtarif generell f&uuml;r diesen Raum gesperrt</label> 
            </li>
            <li data-icon='false'>
                <a href="#" onclick="$('#htrform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        {% else %}
            <li>
                <a href='/m_setup/{{raum.etage.haus.id}}/hochtarifoptimierung/'>Hochtarifoptimierung deaktiviert</a>
            </li>
        {% endif %}
    </ul>
</form>
{% endblock %}