{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - R&uuml;cklaufregelung{% endblock %}

{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-ruecklaufregelung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script language="javascript" type="text/javascript" src="/static/jquery.flot_0.8.1min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script type="text/javascript">
    var plot = null;
    $(document).on('pageshow', function(){
        drawPlot();
        {% if not error %}
            $(".hideli").hide();
        {% endif %}
        $("#rlrlv").listview('refresh', true);

        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                            "bei " + parseInt(x) + "&deg;C Aussentemperatur " + parseInt(y) + "&deg;C R&uuml;cklauftemperatur");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    });

    function drawPlot() {
        var slope = $("#slope").val();
        var offset = parseInt($("#offset").val());
        var bend = $("#bend").val();

        var options = {
                        lines: {show: true},
                        grid: {
                            hoverable: true,
                            clickable: true
                        },
                        xaxis: {
                            transform: function(v) { return -v; },
                            inverseTransform: function(v) { return -v; },
                            axisLabel: "Aussentemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        },
                        yaxis: {
                            min: 0,
                            max:50,
                            axisLabel: "Rücklauftemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        }
        };
        var d1 = [];

        for (var i = 40; i > 0; i -= 0.1) {
            d1.push( [ 20-i, offset+(6-slope)* (Math.sqrt(Math.pow(i,bend))) ] ); // dto in rlr.do_a()
        }

        if(plot != null) {
            plot.setData(d1);
            plot.setupGrid();
            plot.draw();
        } else {
            $.plot("#placeholder", [{ data: d1 }], options);
        }
    }

    function showTooltip(x, y, contents) {
        $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    function showAdvanced() {
        $('.hideli').toggle();
        drawPlot();
    }
</script>
<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/ruecklaufregelung/" data-ajax="false" id='rlrform'> {% csrf_token %}

    <ul data-role="listview" data-divider-theme="a" id="rlrlv">
        <li data-role="list-divider">R&uuml;cklaufregelung</li>

        <li>
            <label>Aussentemperatursensor
                <select name="atsensor" id="atsensor">
                    <option value="0">Außentemperatur online abfragen</option>
                    {% if atsensor %}
                        <option value="at" {% if use_atsensor %}selected="selected"{% endif %}>Außentemperatursensor verwenden</option>
                    {% endif %}
                </select>
            </label>
        </li>

        <li data-icon='false'>
            <a href="#" onclick="showAdvanced();" style="text-align:center">erweiterte Einstellungen</a>
        </li>

        <li class="hideli">
            In den meisten Fällen gewährleisten die Voreinstellungen eine gute Regelung. Ändern Sie die erweiterten
            Einstellungen, wenn Ihre Regelung aufgrund äußerer Umstände nicht zufriedenstellend funktioniert.
        </li>

        <li class="hideli">

            <label>Heizkennlinie</label>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%">

                </div>
                <div class="ui-block-b" id="placeholder" style="height:400px; width:70%; min-width:600px;">

                </div>
                <div class="ui-block-c" style="width:15%" id="ls">

                </div>
            </div>
            <br/>

            Neigung <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="slope" name="slope" value="{{ a }}" min="0" max="7" step="0.01"
                           data-mini="true" onchange="drawPlot()"/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            Offset <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="offset" name="offset" value="{{ c }}" min="0" max="50" step="1"
                           data-mini="true" onchange='drawPlot();'/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            Krümmung <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="bend" name="bend" value="{{ k }}" min="1" max="2" step="0.05"
                           data-mini="true" onchange='drawPlot();'/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            <br/>

            <small>
                Die Heizkennlinie sollte grob der am Wärmeproduzenten eingestellten Kennlinie für die Vorlauftemperatur
                entsprechen. Anhand der Heizkennlinie für die Rücklauftemperatur wird berechnet, welche Temperatur
                der Rücklauf eines Heizkreises in Abhängigkeit von der Außentemperatur zum Beheizen eines Raumes
                erreichen soll.<br/>
            </small>

        </li>

        <li class="hideli">

            <label>
                Überschwingschutz
                <style type="text/css">
                    #igrid .ui-slider-input {
                        display: none !important;
                    }
                    #igrid .ui-slider-track {
                        margin-left:15px;
                    }
                </style>
                <div class="ui-grid-b" id='igrid'>
                    <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;">
                        schwach
                    </div>
                    <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                        <input type="range" name="s" id="s" value="{{schaerfe}}"
                               min="0" max=1" step="0.1"  data-mini="true" data-highlight="true"
                               data-popup-enabled="true"/>
                    </div>
                    <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                        stark
                    </div>
                </div>
            </label>

            <br/>

            <small>
                Der Überschwingschutz kommt in Räumen zum Tragen, in denen neben den Rücklaufsensoren auch ein
                Raumtemperatursensor installiert ist. Sofern der Raumtemperatursensor nicht von der Regelung ignoriert
                wird (siehe Raumeinstellungen), nimmt der Überschwingschutz Einfluss, wenn die Fußbodenheizung sehr
                schnell (stark) oder sehr träge (schwach) reagiert.<br/>
            </small>

        </li>

        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#rlrform').get(0).submit();" style="text-align:center">Einstellungen speichern</a>
        </li>
    </ul>

    </div>
    </div>

</form>

{% endblock %}

{% block footer %}
{#  die variable hoehe (?) von dem contentblock macht die anzeige vom navbar kaputt...   #}
{% endblock %}