{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page jahreskalender{% endblock %}
{% block mheader %}
    {% if raum %}
        <a href="/m_raum/{{ raum.id }}/jahreskalender/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
    {% else %}
        <a href="/m_jahreskalender/{{ haus.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
    {% endif %}
{% endblock %}

{% block mcontent %}

    <script type="application/javascript">
        var tabn = "hausraum";
        {%if typ%}
            tabn='{{typ}}'
        {%endif%}
        function checkForm() {

            var mtch = '^2[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$';
            var err = false;
            var selected_tab = "." + tabn;
            $(selected_tab + " .name-input").val($('#name').val())
            if(!$(selected_tab + " .begin").val().match(mtch)) {
                $(selected_tab + " .begin_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                err = true;
            } else {
                $(selected_tab + " .begin_error").html("");
            }
            if (tabn != 'heizprogramm')
            {
                if(!$(selected_tab + " .end").val().match(mtch)) {
                    $(selected_tab + " .end_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                    err = true;
                } else {
                    $(selected_tab +  " .end_error").html("");
                }
            }else{
                if( $('#select-heizpid').val() == 'all' )
                    err= true;
            }

            if(!$(selected_tab + " .end_repeat").val().match(mtch)) {
                $(selected_tab + " .end_repeat_error").html("Bitte Datum im Format 'jjjj-mm-ttTss:mm' angeben.");
                err = true;
            } else {
                $(selected_tab + " .end_repeat_error").html("");
            }
            if($(selected_tab + " .begin").val() > $(selected_tab + " .end").val()) {
                $(selected_tab + " .range_error").html("Beginn muss vor dem Ende liegen.");
                err = true;
            } else {
                $(selected_tab + " .range_error").html("");
            }

            console.log(tabn)
            if (tabn == 'temperaturszenen')
            {
                if( $('#select-mode').val() == 'all' )
                    err= true;
            }

            return !err;
        }

        $(document).ready(function () {
            $( "#tabs" ).on( "tabsactivate", function( event, ui ) {
                tabn = $(ui.newTab).find("a").attr("href");
                if(tabn == '#one'){
                    tabn = 'hausraum';

                }else if (tabn=='#two'){
                    tabn = 'temperaturszenen';
                }

                else{
                    tabn = "heizprogramm";
                }
                $(".typ").val(tabn);
            } );

            $('#save-btn').click(function(){
                var frm = '#' + $(".typ").val() +'-frm';
                $(frm).submit();
            })
        });
    </script>



        <div class="kalander-tabs">
        <div class="temp_set">
            <input type="text" name="name" id="name" value="{{ data.name }}" placeholder="Enter optional name here">
        </div>

        <div data-role="tabs" id="tabs">

            {% ifequal index None  %}
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#one" data-ajax="false" class="ui-btn-active">Offset-Eintrag</a>
                    </li>
                    <li>
                        <a href="#two" data-ajax="false">Temperaturszenen-Fixierung</a>
                    </li>
                    <li>
                        <a href="#three" data-ajax="false">Heizprogramm-Wechsel</a>
                    </li>
                </ul>
            </div>
            {% endifequal %}

            {% ifnotequal typ 'temperaturszenen'%}
             {% ifnotequal typ 'heizprogramm'%}
            <div id="one" class="ui-body-d ui-content ui-alt-icon hausraum">
                {% if raum %}
                    <form action="/m_raum/{{ raum.id }}/jahreskalender/" method="post" id="hausraum-frm" data-ajax="false" onsubmit="return checkForm();">
                {% else %}
                    <form action="/m_jahreskalender/{{ haus.id }}/" method="post" id="hausraum-frm" data-ajax="false" onsubmit="return checkForm();">
                {% endif %}
                {% csrf_token %}
                <input name="typ"  class='typ' value="{{typ|default:'hausraum'}}" type="hidden" />
                <div class="text-center">
                    <small>
                        <i>
                                Ein Kalendereintrag mit Offset aktiviert eine Temperatur-Korrektur in den ausgewählten Räumen für den eingestellten Zeitraum.
                        </i>
                    </small>
                </div>
                <div class="temp_set1">
                    <h4>Temperaturoffset</h4>
                    <span class="temp_offset">{{ data.offset|default:"-1.00" }}</span>
                    <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
                    <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
                    <input type="hidden" value="{{ data.offset|default:"-1.00" }}" name="offset"/>
                    <input type="range" id="offset-slider" min="-10" max="10" value="{{ data.offset|default:"-1.00" }}"
                           step=".1"  data-mini="true" data-highlight="true" data-popup-enabled="true"/>
                </div>

                <div class="temp_set">
                    <div class="ui-grid-a ui-alt-icon">
                        <div class="ui-block-a">Beginn</div>
                        <div class="ui-block-b right-input">
                            <input type="datetime-local" data-clear-btn="true" name="begin" required value="{{ data.begin|default:now }}" id="begin" class="begin"/>
                        </div>
                        <div style="color: #cb0963;" id="begin_error" class="begin_error"></div>
                    </div>


                    <div class="ui-grid-a ui-alt-icon">
                        <div class="ui-block-a">Ende</div>
                        <div class="ui-block-b right-input">
                            <input type="datetime-local" data-clear-btn="true" name="end" required value="{{ data.end|default:next_hour }}" id="end" class="end"/>
                        </div>
                        <div style="color: #cb0963;" id="end_error" class="end_error"></div>
                        <div style="color: #cb0963;" id="range_error" class="range_error"></div>
                    </div>


                    <div class="white-block">wiederholen</div><br />
                    <fieldset data-role="controlgroup" data-corners="false" data-type="horizontal" data-mini="true" class="repeats">
                        <input type="checkbox" name="repeat" id="wiederholen-mo" value="1" {% if 1 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-mo">Mo</label>
                        <input type="checkbox" name="repeat" id="wiederholen-di" value="2" {% if 2 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-di">Di</label>
                        <input type="checkbox" name="repeat" id="wiederholen-mi" value="3" {% if 3 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-mi">Mi</label>
                        <input type="checkbox" name="repeat" id="wiederholen-do" value="4" {% if 4 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-do">Do</label>
                        <input type="checkbox" name="repeat" id="wiederholen-fr" value="5" {% if 5 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-fr">Fr</label>
                        <input type="checkbox" name="repeat" id="wiederholen-sa" value="6" {% if 6 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-sa">Sa</label>
                        <input type="checkbox" name="repeat" id="wiederholen-so" value="0" {% if 0 in data.repeat %}checked="checked"{% endif %}>
                        <label for="wiederholen-so">So</label>
                    </fieldset>

                    <div class="ui-grid-a ui-alt-icon">
                        <div class="ui-block-a w-b-text">wiederholen beenden</div>
                        <div class="ui-block-b right-input">
                            <input type="datetime-local" data-clear-btn="true" name="end_repeat" required value="{{ data.end_repeat|default:'2099-12-31T23:59' }}" id="end_repeat" class="end_repeat"/>
                        </div>
                        <div style="color: #cb0963;" id="end_repeat_error" class="end_repeat_error"></div>
                    </div>
                </div>

                <div class="ui-grid-a select-room">
                    <fieldset data-role="controlgroup" data-iconpos="right">

                        <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                        <label id="select-all-label" for="select-all" data-corners="false" class="bold custom" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                        {% for e in eundr %}
                            {% for etage, raeume in e.items %}
                                {% for r in raeume %}
                             <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"
                                        {% if r.id in selected_rooms %}checked="checked"{% endif %}
                                        {% if raum.id == r.id %}checked="checked"{% endif %}/>

                                    <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border custom"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
                        <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold custom" style="margin: 0; border-bottom-width: 1px;">alle Differenzregelungen auswählen</label>
                        {% for dregid, dparams in diff_params %}
                            <input type="checkbox" name="diffs" value="{{ dregid }}" data-house="{{ dregid }}"
                                        {% if dregid in list_diff %} checked {% endif %} id="diff-{{ dregid }}" class="diff"/>
                                    <label for="diff-{{ dregid }}" class="line-border custom">
                                        {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                                        {{ dparams.name }}
                                    </label>
                        {% endfor %}
                        <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
                        <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold custom" style="margin: 0; border-bottom-width: 1px;">alle Vorlauftemperaturregelungen auswählen</label>
                        {% for dregid, dparams in vor_params %}
                            <input type="checkbox" name="vors" value="{{ dregid }}" data-house="{{ dregid }}"
                                        {% if dregid in list_vor %} checked {% endif %} id="vor-{{ dregid }}" class="vor"/>
                                    <label for="vor-{{ dregid }}" class="line-border custom">
                                        {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                                        {{ dparams.name }}
                                    </label>
                        {% endfor %}
                        {% if has_fps %}
                        <input type="checkbox" name="fps" value="all" id="fps" class="select-fps" {% if list_fps|length %}checked{% endif %}/>
                        <label id="select-label-fps" for="fps" data-corners="false" class="bold custom" style="margin: 0; border-bottom-width: 1px;">FPS</label>
                        {% endif %}
                    </fieldset>

                </div>
                {% ifnotequal index None  %}
                <input type="hidden" name="index" value="{{index}}"/>
                {% endifnotequal %}
                <input type="hidden" name="name" value="" class="name-input"/>
            </form>
            </div>
            {% endifnotequal %}
           {% endifnotequal %}
            {% ifnotequal typ 'hausraum'%}
             {% ifnotequal typ 'heizprogramm'%}
            <div id="two" class="temperaturszenen">
                <form action="/m_jahreskalender/{{ haus.id }}/" method="post" data-ajax="false" id="temperaturszenen-frm" onsubmit="return checkForm();">
                <input name="typ" class='typ' value="{{typ|default:'hausraum'}}" type="hidden" />{% csrf_token %}
                <div class="text-center" style="margin-top: 10px;">
                    <small>
                        <i>
                            Der Kalendereintrag fixiert die gewählte Temperaturszene und unterbindet
                            Temperaturszenen-Wechsel des automatischen Heizprogramms.
                            Nach Ablauf des Kalendereintrags wird Heizprogramm wieder aktiviert.
                        </i>
                    </small>
                </div>

                    <select name="select-mode" id="select-mode" data-id="{{haus.id}}" >
                        <option value="all">Temperaturszenen-Filter: All</option>
                        {% for id,params in select_modes%}
                            <option value="{{id}}" {%if data.mode_id == id %} selected {% endif %}>{{params.name}}</option>
                        {% endfor%}
                    </select>
                    <!-- <select name="select-type" id="select-type" data-icon="arrow-d">
                        <option value="on">on</option>
                        <option value="off">off</option>
                    </select> -->
                    <br>

                    <div class="text-center">
                        <small>
                            <i>
                                Wählen Sie hier die Temperaturszene aus,
                                die nach Ablauf des Kalendereintrages aktiviert werden soll.
                            </i>
                        </small>
                    </div>

                    <select name="next-select-mode" id="next-select-mode" data-id="{{haus.id}}" >
                        <option value="0">Temperaturszene beibehalten</option>
                        {% for id,params in select_modes%}
                            <option value="{{id}}" {%if data.next_mode_id == id %} selected {% endif %}>{{params.name}}</option>
                        {% endfor%}
                    </select>

                    <div class="temp_set" >
                        <div class="ui-grid-a ui-alt-icon">
                            <div class="ui-block-a">Beginn</div>
                            <div class="ui-block-b right-input">
                                <input type="datetime-local" data-clear-btn="true" name="begin" required value="{{ data.begin|default:now }}" class="begin"/>
                            </div>
                            <div style="color: #cb0963;" id="begin_error2"></div>
                        </div>
                
                
                        <div class="ui-grid-a ui-alt-icon">
                            <div class="ui-block-a">Ende</div>
                            <div class="ui-block-b right-input">
                                <input type="datetime-local" data-clear-btn="true" name="end" required value="{{ data.end|default:next_hour }}" class="end"/>
                            </div>
                            <div style="color: #cb0963;" class="end_error"></div>
                            <div style="color: #cb0963;" class="range_error"></div>
                        </div>
                
                
                        <div class="white-block">wiederholen</div><br />
                        <fieldset data-role="controlgroup" data-corners="false" data-type="horizontal" data-mini="true" class="repeats">
                            <input type="checkbox" name="repeat" id="wiederholen2-mo" value="1" {% if 1 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-mo">Mo</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-di" value="2" {% if 2 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-di">Di</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-mi" value="3" {% if 3 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-mi">Mi</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-do" value="4" {% if 4 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-do">Do</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-fr" value="5" {% if 5 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-fr">Fr</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-sa" value="6" {% if 6 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-sa">Sa</label>
                            <input type="checkbox" name="repeat" id="wiederholen2-so" value="0" {% if 0 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen2-so">So</label>
                        </fieldset>
                
                        <div class="ui-grid-a ui-alt-icon">
                            <div class="ui-block-a w-b-text">wiederholen beenden</div>
                            <div class="ui-block-b right-input">
                                <input type="datetime-local" data-clear-btn="true" name="end_repeat" required value="{{ data.end_repeat|default:'2099-12-31T23:59' }}" class="end_repeat"/>
                            </div>
                            <div style="color: #cb0963;" class="end_repeat_error"></div>
                        </div>
                    </div>
                    {% ifnotequal index None  %}
                    <input type="hidden" name="index" value="{{index}}"/>
                    {% endifnotequal %}
                    <input type="hidden" name="name" value="" class="name-input"/>
                </form>
            </div>
            {% endifnotequal %}
           {% endifnotequal %}

            {% ifnotequal typ 'hausraum'%}
             {% ifnotequal typ 'temperaturszenen'%}
            <div id="three" class="heizprogramm">
                <form action="/m_jahreskalender/{{ haus.id }}/" method="post" data-ajax="false" id="heizprogramm-frm" onsubmit="return checkForm();">
                {% csrf_token %}
                <input name="typ" class='typ' value="{{typ|default:'hausraum'}}" type="hidden" />
                <div class="text-center" style="margin-top: 10px;">
                    <small>
                        <i>
                            Der Kalendereintrag aktiviert das gewählte Heizprogramm
                            zum eingestellten Beginn-Zeitpunkt.
                        </i>
                    </small>
                </div>

                    <select name="select-heizpid" id="select-heizpid" data-id="{{haus.id}}" >
                        <option value="all">kein Heizprogramm aktivieren</option>
                        {% for dct in select_heizps%}
                            <option value="{{dct.heizp_id}}" {%if data.heizp_id == dct.heizp_id %} selected {% endif %}>{{dct.heizp_name}}</option>
                        {% endfor%}
                    </select>


                    <div class="temp_set" >
                        <div class="ui-grid-a ui-alt-icon">
                            <div class="ui-block-a">Beginn</div>
                            <div class="ui-block-b right-input">
                                <input type="datetime-local" data-clear-btn="true" name="begin" required value="{{ data.begin|default:now }}" class="begin"/>
                            </div>
                            <div style="color: #cb0963;" class="begin_error"></div>
                        </div>


                        <div class="white-block">wiederholen</div><br />
                        <fieldset data-role="controlgroup" data-corners="false" data-type="horizontal" data-mini="true" class="repeats">
                            <input type="checkbox" name="repeat" id="wiederholen3-mo" value="1" {% if 1 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-mo">Mo</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-di" value="2" {% if 2 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-di">Di</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-mi" value="3" {% if 3 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-mi">Mi</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-do" value="4" {% if 4 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-do">Do</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-fr" value="5" {% if 5 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-fr">Fr</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-sa" value="6" {% if 6 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-sa">Sa</label>
                            <input type="checkbox" name="repeat" id="wiederholen3-so" value="0" {% if 0 in data.repeat %}checked="checked"{% endif %}>
                            <label for="wiederholen3-so">So</label>
                        </fieldset>

                        <div class="ui-grid-a ui-alt-icon">
                            <div class="ui-block-a w-b-text">wiederholen beenden</div>
                            <div class="ui-block-b right-input">
                                <input type="datetime-local" data-clear-btn="true" name="end_repeat" required value="{{ data.end_repeat|default:'2099-12-31T23:59' }}" class="end_repeat"/>
                            </div>
                            <div style="color: #cb0963;" class="end_repeat_error"></div>
                        </div>
                    </div>
                    {% ifnotequal index None  %}
                    <input type="hidden" name="index" value="{{index}}"/>

                    {% endifnotequal %}
                    <input type="hidden" name="name" value="" class="name-input"/>
                </form>
            </div>
            {% endifnotequal %}
           {% endifnotequal %}
        </div>
        <div class="div-btn-save">
        <input type="submit" value="speichern" id="save-btn" style="padding:0px;margin-top:-5px;" data-corners="false" class="ui-btn ui-btn"/>
        </div>
        {% if index > -1 %}
            {% if raum %}
            <a href="/m_raum/{{ raum.id }}/jahreskalender/?delete={{index}}&typ={{typ}}" style="margin: 20px -10px;" data-corners="false" class="ui-btn ui-mini red-str">
                Eintrag l&ouml;schen
            </a>
            {% else %}
            <a href="/m_jahreskalender/{{ haus.id }}/?delete={{index}}&typ={{typ}}" style="margin: 20px -10px;" data-corners="false" class="ui-btn ui-mini red-str">
                Eintrag l&ouml;schen
            </a>
            {% endif %}

        {% endif %}
    </div>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <span class="popupTempIcon"> </span><span class="popupTempName"></span>
    <label for="popupTempInput">Solltemperatur:</label>
    <input type="text" name="popupTempInput" id="popupTempInput" value="">
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
    </div>
</div>

{% endblock %}