{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Vorlauftemperaturregelung{% endblock %}
{% block bodyclass %}page differenzregelung vorlauftemperaturregelung{% endblock %}
{% block mheader %}

{% endblock %}

{% block mcontent %}
    <style type="text/css">
        .gateway-vals{
            margin-left: 20px
        }
        .gateway-vals span{
            font-style: italic;
        }

    </style>

    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>
            <div class="diff-header">
                 <div class="diff-icon">
                     <a href="https://support.controme.com/auswahl-und-aktivierung-von-modulen/modul-raumanforderung/" target="_blank">
                        <div class="bulb"><img src="/static/icons/bulb-icon-grey.png" width="25">
                        </div></a>
                 </div>
                 <div class="diff-name bold overflow-text overflow-ellipsis"><span style="color: #bddfe6;">RA:</span> {{ config.name }}</div>
                 <div class="diff-link"><i><a  href="/m_setup/{{haus.id}}/pumpenlogik/?plid={{ objid }}" target="_blank"><img src="/static/icons/settings-icon-grey.png" width="25"></a></i></div>
            </div>
        </li>
        <li>{{ response }}</li>
        <li>
            <h3>beobachtete Ausgänge:</h3>
            {% for gateway, values in inputs %}
                <div class="gateway-vals">
                    {{ gateway }}: {% for val in values %} <span>{{ val }}</span> {% if not forloop.last %},{% endif %} {% endfor %}

                </div>
            {% endfor %}
            <h3>gesetzte Ausgänge:</h3>
            {% for gateway, values in outputs %}
                <div class="gateway-vals">
                    {{ gateway }}: {% for val in values %}  <span>{{ val }}</span> {% if not forloop.last %},{% endif %} {% endfor %}
                </div>
            {% endfor %}
        </li>

        <li><p style="font-size: medium !important;">Letzter ausgegebener Wert: {% if last == None %} - {% else %} {{ last }} {% endif %}</p>
        </li>
    </ul>

{% endblock %}
