{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Raumanforderung{% endblock %}

{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-raumanforderung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function() {
        $.ajax({
            url: "/m_setup/{{haus.id}}/pumpenlogik/?getpl",
            dataType: "json",
            success: function(data) {
                $(".plc").remove(); // wg. page caching
                if(data) {
                    $.each(data, function(k, v) {
                        $("#plli").after("<li class='plc' id='pl"+k+"'><a href='/m_setup/{{haus.id}}/pumpenlogik/?plid="+k+"'>"+v[0]+"<br/><small>"+v[1]+"</small></a></li>");
                    });
                } else {
                    $("#plli").after("<li class='plc'>-</li>");
                }
                $("#spinner").hide();
                $("#pllist").listview('refresh');
            }
        });
    });
</script>

<form method="post" action="/m_setup/{{haus.id}}/pumpenlogik/" data-ajax="false" id='plform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="pllist">
        <li id="plli" data-role="list-divider">Angelegte Raumanforderungen</li>
        <li id='spinner'><span style="align-content: center"><img src='/static/images/ajax-loader.gif'/></span></li>
    </ul>
</form>
{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/pumpenlogik/?plid=' data-icon='gear'>Raumanforderung anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}