{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung funksollregelung{% endblock %}
{% block mheader %}
    <span><a href="https://support.controme.com/zieltemperaturanpassung-heizkoerperthermostat-mit-zusaetzlichem-raumsensor/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<style type="text/css">
.p-label {
    margin-bottom: 0
}
#two .p-label {
    margin-bottom: 0;
    padding: 0 15px;
}
</style>

<div data-role="tabs" id="tabs">
    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" %}</a></li>
        </ul>
    </div>
    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <select name="select-type" id="select-type">
            <option value="schwelle">{% trans "Schwelle für maximale Über- / Untersteuerung" %}</option>
            <option value="ubersteuern">{% trans "Übersteuern des Heizkörpers pro Grad Raumtemperaturabweichung" %}</option>
        </select>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            <h2>{{ etage.name }}</h2>
            {% for raum, rsfaktor, schwelle in raeume %}
                <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>

                <div class="slider-wrapper hide custom_slider">
                    <div data-id="{{ raum.id }}" data-type="ubersteuern" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <div>
                            <label>Übersteuern des Heizkörpers pro Grad Raumtemperaturabweichung:</label>
                            <input data-popup-enabled="true" type="range" data-id="{{ raum.id }}" name="rsfaktor"
                                    data-mini="true" data-highlight="true" step="0.1" min="0" max="5"
                                    value="{{ rsfaktor }}"/>
                            <div class="label-after"></div>
                        </div>
                    </div>
                </div>

                <div class="slider-wrapper custom_slider">
                    <div data-id="{{ raum.id }}" data-type="schwelle" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <div>
                            <label>Schwelle für maximale Über- / Untersteuerung:</label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" name="schwelle"
                                   data-mini="true" data-highlight="true" step="0.1" min="0.1" max="10"
                                   value="{{ schwelle }}"/>
                            <div class="label-after"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p/>
            {% endfor %}
        {% endfor %}
        
    </div>
    <div id="two">
        <form action="/m_funksollregelung/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}

            <div class="ui-grid-a ui-alt-icon">

                <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>

                <div class="custom_slider slider-wrapper correction-heating-element-wrapper normal_slider">
                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper">
                        <label>Übersteuern des Heizkörpers pro Grad Raumtemperaturabweichung:</label>
                        <input data-popup-enabled="true" type="range" data-id="{{ raum.id }}" name="rsfaktor"
                                data-mini="true" data-highlight="true" step="0.1" min="0" max="5"
                                value="2" id="slider_rsfaktor" />
                        <input type="checkbox" checked name="rsfaktor_checkbox" id="rsfaktor_checkbox"/>
                        <div id="" class="label-after"></div>
                    </div>

                    <br/>

                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper normal_slider">
                        <label>Schwelle für maximale Über- / Untersteuerung:</label>
                        <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" name="schwelle"
                                data-mini="true" data-highlight="true" step="0.1" min="0.1" max="10"
                                value="0.5" id="slider_schwelle" />
                        <input type="checkbox" checked name="schwelle_checkbox" id="schwelle_checkbox"/>
                        <div id="" class="label-after"></div>
                    </div>

                </div>
            </div>
            <div class="jahreskalender">
                <div class="ui-grid-a select-room">
            <fieldset data-role="controlgroup" data-iconpos="right">

                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r, rsfaktor, schwelle in raeume %}

                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"/>
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </fieldset>

        </div>
            </div>
            <input type="submit" value='{% trans "Speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>

        </form>
    </div>
</div>


{% endblock %}


