.api-query-edit .selectbox-label{
    margin-top: -25px !important;
}

.api-query-edit .input-label-cls{
    vertical-align: middle !important;
}

.api-query-edit .json-post-div{
    display: none;
}

.api-query-edit .post-div{
    display: none;
}

.api-query-edit .get-div{
    display: none;
}

.api-query-edit .params-table-cls{
    width: 100%;
}

.api-query-edit .errors-li{
    color: red;
    display: none;
}

