* .ui-li {
    font-weight:normal;
    font-family: 'Droid Sans', sans-serif;
}
html { background-color: #eee; }

.hide{
    visibility: hidden !important;
}
.ui-link {text-decoration: none;}

@media (min-width:  60em) {
    .second-header{
        height:38px;
        top: -1px;
    }
    .ui-page > .ui-content{
        min-height: 100%;
        width: 60%;
        margin: -61px auto 0px !important;
        position: relative !important;
        border-right: 1px #666 outset !important;
        border-left: 1px #666 outset !important;
    }
    .ui-page > .have-second-header.ui-content{
        margin: -32px auto !important;
    }
    .ui-page > .ui-content:before{
        content: "";
        display: block;
        width: 100%;
        height: 100px;
    }
    .ui-page{
        position: relative !important;
    }
    .ui-navbar {

    }
    .ui-header{
        position: absolute;
        width: 100%;
        z-index: 5;
    }

    #nav-room-list{
        min-height: 400px;
        visibility: visible;
        position: absolute;
        left: 0;
        clip: initial;
        float: left;
        top: 40px;
        width: 19.9%;
        background: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #nav-panel{
        min-height: 400px;
        visibility: visible;
        position: absolute;
        right: 0;
        left: initial;
        clip: initial;
        float: right;
        top: 40px;
        width: 19.9%;
        background: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .second-header{
        top: 39px;
    }
    #open-menu,#open-room {
        display: none;
    }
    .second-header {
        width: 60%;
        margin: 0 auto !important;
        position: relative;
    }

}
::-webkit-scrollbar { -webkit-appearance: none; width: 4px; }
::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0,0,0,.5); box-shadow: 0 0 1px rgba(255,255,255,.5); }
@media(max-width:  60em){
    .second-header{
        height:38px;
        top: 39px;
    }
}
.first-header{
    height: 38px;
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%
}
.first-header img{
    height:30px; margin-top:5px;
}
#nav-panel li a,#nav-room-list li a ,#nav-panel .ui-collapsible-content ,#nav-room-list .ui-collapsible-content {
    font-weight : normal;
    border: none;
}

#nav-room-list li a.ui-icon-carat-r{
    margin-left: -20px;
}
@media (max-width:  60em) {
    #nav-room-list .ui-collapsible-content>.ui-listview{
        margin: 0 -16px;
    }
    #nav-panel .ui-collapsible-content{
        margin-left: 50px;
        margin-right: 16px;
    }
    .ui-page > .have-second-header.ui-content{
        margin-top: 40px;
    }
}
@media (min-width:  60em) {
    .ui-page > .have-second-header.ui-content{
        margin-top: -11px;
    }
}
#nav-room-list .ui-collapsible-heading{
    margin-right: -17px;
    margin-left: 4px;
}
#nav-room-list .ui-collapsible-content{
    margin-left: 50px;
}

#nav-panel .ui-collapsible-content{
    margin-left: 50px;
    margin-right: 16px;
}

#nav-room-list .ui-collapsible-heading-toggle{
    font-weight: bold;
}

#nav-panel a{
    padding-left: 17px;
}

input.ui-input-text.ui-slider-input {
    display: none !important;
}
.page div.ui-slider.ui-mini{
    margin: 10px 40px 0 !important;
}

.room div.ui-slider.ui-mini{
    padding-top: 20px;
}

.sensorsimulator  div.ui-slider.ui-mini{
    margin:  0 !important;
}
.page  .ui-content .ui-listview ,.page .ui-collapsible-set .ui-collapsible{
    margin : 0;
}
.page  .ui-content .ui-listview ,.page .ui-collapsible{
    margin : 0;
}
.page  .ui-content .ui-listview .p-static{
    position: static;
}

.ui-slider-track {
    margin-left:10px;
    margin-top:-5px;
    margin-right:10px;
    text-align:center;
}

.beam_place .ui-slider-track {
    margin-left:1px;
    margin-top:-5px;
    margin-right:1px;
    text-align:center;
}
.ui-li-static.ui-li-has-arrow {
    padding:0px;
    margin:0px;
}
.customli div.ui-btn-inner {
    padding:0px;
    margin:0px;
}
.ui-li, .ui-li.ui-field-contain {
    border-top-width : 0px;
}
li.customli {
    max-height:50px;
    clear: both;
    padding : 0px 10px !important;
}
.ui-btn-up-a {
    font-weight: normal;
}
#footer{
    position:fixed;
    bottom : 0;
}
.ui-navbar li:last-child .ui-btn{
    margin: 0;
}
.customli .ui-btn-up-a:hover {
    text-shadow:0;
    background: #dfdfdf /*{a-bhover-background-color}*/;
    /*font-weight: bold;*/
    color: #2f3e46 /*{a-bhover-color}*/;
    text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{a-bhover-background-start}*/), to( #e0e0e0 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/);
}
.ui-btn-text {
    font-family: "Droid Sans";
}
.ui-btn-hover-a:hover {
    font-weight:normal;
}
div.ui-collapsible-content {
    padding: 0px;
}
.sub-collapsible{
    margin-top: -7px;
    margin-bottom: 6px;
    display: none;
}
.room .offset {
    margin-top:-3px;
    right: 38px;

}
.room .sub-collapsible {
    display: block;

}
.room .ui-collapsible-heading-toggle{
    padding: 13px;
}
.room .ui-collapsible-heading-toggle{
    padding: 10px;
}
.room .customli{
    border:none;
}
.page #abwesenheitsschalter .ui-last-child a{
    font-weight: normal;
}
.page #abwesenheitsschalter .ui-last-child a span{
    margin-top: -4px !important;
}
@media (min-width:  60em) {
    .page .ui-content.ui-body-a{
        padding: 9px 0 70px 0 !important;
    }
}
@media (max-width:  60em) {
    .page .ui-content.ui-body-a{
        padding: 9px 0 70px 0 !important;
        margin: 0px auto 0px !important;
        position: relative !important;
    }
}
.page .ui-link-inherit::after{
    display: block;
}
.room .room_list{
    border:none;
}
.page li.customli {
    max-height: 40px;
    list-style: none;

}
.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner{ font-size: 14px !important;}
.ui-collapsible-heading{
    border-radius: 0 !important;
}
.ui-listview-outer{
    border-bottom : 1px solid #cccccc;

}
.home .ui-collapsible:first-of-type{
    margin-top: -9px !important;
}
.home .ui-collapsible{
    margin-top: -1px !important;
    margin-bottom: 0;
}
.ui-content .ui-collapsible-heading a{
    background-color: #ffffff;
    padding: 5px;
}
.ui-header.ui-bar-inherit{
    background:#ffffff;
    box-shadow: 2px 2px 2px #888888;
}
.ui-listview-outer{
    margin-top: -10px !important;
}
.save-btn{
    text-align : center;
    border-top : 1px solid #cccccc;
}
.ui-link-inherit:after {
    content:"";
    display:table;
    clear:both;
}
#abwesenheitsschalter{
    margin : 0px;
}
.ui-collapsible-heading span.ui-btn-inner{
    padding : .4em 5px !important;
}
.open-sub-collapsible,.open-sub-collapsible:after{
    float: left;
    position: absolute;
    height: 20px;
    top: 10;
}

.plus-tempOne{
    position:relative;
    float:right;
    cursor: pointer;
}

.minus-tempOne{
    position:relative;
    float:left;
    cursor: pointer;
}

.room .plus-tempOne{
    padding-top: 36px !important;
}

.room .minus-tempOne{
    padding-top: 36px !important;
}

.plus-tempOne:after{
    left : 100%;
    margin-left: -30px;
    margin-top: -15px;
}
.minus-tempOne:after{
    left : 10px;
    margin-top: -15px;
    margin-left: -2px;
}
.slidernumber{
    float: left;
    border : none;
    background: none ;
}

.room_name{
    margin: 4px 5px 0px 30px;
    width: 120px;
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: normal;
}
.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
    color: #2489ce;
}
/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */

@media  (max-width: 1024px){
    .ui-navbar {
        width: 100%;
        margin: 0px auto !important;
    }
}
.page #footer a{  padding-top: 30px;}
.plus-temp{
    position: absolute;
    right: 50%;
    margin-right: -100px;

}
/** remove bg from icon **/
.minus-temp:after,.plus-temp:after,.plus-tempOne:after,.minus-tempOne:after,.open-sub-collapsible:after,.module-icon:after,
.ui-nosvg .ui-alt-icon .ui-btn-icon-right:after,.icon-no-bg:after,.ui-alt-icon .ui-btn-icon-left:after,
.ui-nosvg .ui-alt-icon .ui-icon-carat-u:after, .ui-nosvg .ui-alt-icon .ui-icon-carat-r:after ,.ui-nosvg .ui-alt-icon .ui-icon-carat-d:after,.ui-nosvg .ui-alt-icon.ui-icon-carat-l:after
{
    background-color:rgb(255,255,255) !important;
    background-color: rgba(255,255,255,0) !important;

}
.btn-no-bg,.icon-no-bg { background-color: rgba(0,0,0,0) !important;     box-shadow: 0 0 0  rgba(0,0,0,0) !important; border: none !important }
.minus-temp{
    position: absolute;
    left: 50%;
    margin-left: -100px;
}


.page .ui-slider-popup {
    width: 45px;
    height: 45px;
    font-size:20px;
}
.room_temp{
    float: right;
    font-weight:bold;
    width: 80px;
    text-align: right;
    color: #000000;

}




.room_temp small{
    font-weight:normal;
}
.room_status_icon{
    float: right;
    margin-top: 3px;
    max-height: 42px;
    margin-right: 4px;
}
.heat5_room_status_icon{
    float: right;
    margin-top: -10px;
    max-height: 42px;
    margin-right: 4px;
}

.module-iconn img{
    width : 24px;
}

/*.module-icon img{*/
    /*width : 24px;*/
/*}*/

.room_icon{
    max-height: 42px;
    float: left;
}
.room_icon img{
    width : 24px;
}
.room_status_icon img{
    height : 20px;
}


@media (max-width:  60em) {
    .room .room_list{
        margin-top: 10px;
    }
}

.room .ui-content .ui-collapsible-heading-toggle {
    padding: 11px;
}

.room_list{
    margin:0;
    padding:10px 0 0px;
    border-top : 1px solid #cccccc;
}
.room_offset{
    font-size: 12px;
    float: right;
    clear: right;
    margin-top: -6px;
    font-weight: normal;
}

#popupTempContent{
    padding: 20px;
    text-align: center;
}
#popupTemp{
    width: 260px;
}
#popupTempSave{
    clear : both;
}
#popupTemp .ui-input-text{
    float: right;
    width: 55px;
    margin-top: 0px;
    border-radius: 1em;
    padding: 0px 15px;
}
#popupTemp label{
    float: left;
    padding-top: 8px;
}
.popupTempName{
    vertical-align: top;
    padding-top: 5px;
    display: inline-block;
    width: 90%;
    text-align:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popupTempIcon img{
    width: 32px;
}
.ui-collapsible-heading{
    clear:both;
}
.blue-str{
    color: #019BB0 !important;
}
.red-str{
    color: #cb0963 !important;
}
.left-icon{
    position: relative;
    margin-right: 20px;
    margin-left: 5px;
}
.left-icon:after{
    height: 18px;
    width: 18px;
    margin-top: -8px;
}
.settings h3{
    margin: 10px 0 5px 10px;
    color: #C5C5C5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.settings .ui-listview-inset{
    margin: 0.2em 0;
}
.settings .ui-listview a{
    border-right: none !important;
    border-left: none !important;
}
.m_usermenu2 .ui-btn-icon-right:after, .quick_change .ui-btn-icon-right:after{
    background-color:rgb(255,255,255);
    background-color: rgba(255,255,255,0);
    background-image: url("jquery.mobile-1.4.5/images/icons-png/carat-r-black.png");
}
.raumregelung-smart .ui-btn-icon-right:after{
    display: none;
}

.userprofile .ui-collapsible-heading-toggle{
    padding: 15px 40px;
}
.userprofile .ui-collapsible-heading{
    height: 56px;
}
.m_usermenu2 .ui-listview a{

    font-weight:normal;
}
.gray-block{
    height : 20px;
    background: #f2f2f4;
    color:#a7aaa9;
    padding: 20px 0 0 10px;
}
.white-block{
    height : 20px;
    background: #fff;
    padding: 20px 0 0 10px;
}
.module-icon{
    position:relative;
    float:left;
    margin-right: 14px;
    margin-top: -1px;

}
.module-icon:after{
    left : 10px;
    margin-top: -13px;
    margin-left: -2px;
    border-radius: 0;
    background-size: cover;
    width: 18px !important;
    height: 18px !important;
}
.gray-text,.gray-text a{
    color: #CDCDCD !important;
}

/**
    wochenkalender page
**/
.wochenkalender .ui-slider-input,.jahreskalender .ui-slider-input,.timer .ui-slider-input{
    display:none;
}
.wochenkalender .ui-slider-track,.jahreskalender .ui-slider-track{
    margin: -4px 40px;
}
.wochenkalender  .room_wrapper{
    text-align: center;
    font-size: 17px;
    padding-bottom: 18px;
    border-bottom: 0px solid #dedfe0;
    margin-top: -21px;
    border-bottom-width: 3px;
}



.benutzerverwaltung  .room_wrapper , .geolocation .room_wrapper{
    text-align: center;
    font-size: 17px;
    padding-bottom: 18px;
    border-bottom: 0px solid #dedfe0;
    margin-top: -21px;
}

@media (max-width: 60em){
    .benutzerverwaltung  .room_wrapper {
        margin-top: 14px;
    }
}

.heizflaechenoptimierung .room_wrapper{
    text-align: center;
    font-size: 17px;
    padding-right: 20px !important;
    margin-top: 15px;
    margin-bottom : 15px !important;
}

.timer .room_wrapper{
    text-align: center;
    font-size: 17px;
    padding-right: 20px !important;
    margin-bottom : 0px !important;
}

.hochtarifoptimierung .room_wrapper, .cal .room_wrapper, .solarpuffer .room_wrapper, .wetter .room_wrapper,
.zeit .room_wrapper, .ruecklaufregelung .room_wrapper, .geolocation .room_wrapper,.temperaturszenen .room_wrapper {
    text-align: center;
    font-size: 17px;
    padding-right: 20px !important;
    margin-bottom : 20px;
}

.temperaturszenen .room_wrapper{
    margin-top: 20px;
}

.wochenkalender .room_wrapper img, .timer .room_wrapper img, .luftfeuchte .room_wrapper img, .wetter .room_wrapper img,
.heizflaechenoptimierung .room_wrapper img, .hochtarifoptimierung .room_wrapper img, .cal .room_wrapper img ,
.solarpuffer .room_wrapper img, .zeit .room_wrapper img, .ruecklaufregelung .room_wrapper img,
.geolocation .room_wrapper img, .temperaturszenen .room_wrapper img {
    height: 20px;
    margin-bottom: -5px;
    margin-right: 14px;
    border-width: 2px;
}
.benutzerverwaltung img {
    height: 30px;
    margin: 5px 7px -4px;
}
@media (max-width: 60em){
    .wochenkalender  .room_wrapper,.heizflaechenoptimierung .room_wrapper, .solarpuffer .room_wrapper,
    .hochtarifoptimierung .room_wrapper,.cal .room_wrapper,.wetter .room_wrapper,.zeit .room_wrapper,.temperaturszenen .room_wrapper {

        margin-top: 14px;
    }
}
.wochenkalender .temp_set,.jahreskalender .temp_set{
    padding: 10px;
    border-bottom: 1px solid #dedfe0;
    border-top: 1px solid #dedfe0;
}
.wochenkalender .temp_offset,.jahreskalender .temp_offset,.timer .temp_offset{
    float: right;
    margin-top: -38px;
    padding-right: 14px;
}
.wochenkalender  .ui-radio,.wochenkalender .ui-checkbox ,.jahreskalender .repeats .ui-radio,.jahreskalender .repeats .ui-checkbox {
    width: 14.28%;
}

.wochenkalender  .ui-radio label,.wochenkalender  .ui-controlgroup-controls,.wochenkalender  .ui-checkbox label,.jahreskalender .ui-radio label,.jahreskalender .repeats .ui-checkbox label {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.wochenkalender .ui-block-b,.ui-block-b{
    text-align: right;
}

.wochenkalender .ui-content .ui-grid-a,.jahreskalender .ui-content .ui-grid-a,
.heizflaechenoptimierung .ui-content .ui-grid-a, .luftfeuchte .ui-content .ui-grid-a, .hochtarifoptimierung .ui-content .ui-grid-a{
    padding: 0px 10px 10px 8px;
}
@media (max-width: 60em){
    .wochenkalender .ui-content .ui-grid-a,.jahreskalender .ui-content .ui-grid-a,
    .heizflaechenoptimierung .ui-content .ui-grid-a, .luftfeuchte .ui-content .ui-grid-a, .hochtarifoptimierung .ui-content .ui-grid-a{
        padding-bottom: 0px;
    }
}
.wochenkalender .ui-input-text ,.jahreskalender .right-input .ui-input-text{
    width : 120px;
    float: right;
}
.jahreskalender .right-input .ui-input-text{
    max-width : 230px;
    width : 100%;
    float: right;
    margin-top: 12px;
}
/* stack all grids below 40em (640px) */
@media all and (max-width: 35em) {
    .jahreskalender .ui-block-a,
    .jahreskalender .ui-block-b,
    .jahreskalender .ui-block-c,
    .jahreskalender .ui-block-d,
    .jahreskalender .ui-block-e {
        width: 100%;
        float: none;
    }
    .jahreskalender .top-select .ui-select{
        font-size: 14px;
    }
    .jahreskalender .collapsible-open{
        font-size: 12px;
        font-weight: bold;
    }
}

@media all and (min-width: 35em) {
    .jahreskalender .top-select .ui-select,.jahreskalender .collapsible-open{
        font-size: 14px;
    }
}

.temp_offest{
    cursor:pointer;
}
.wochenkalender .offset,.jahreskalender .offset{
    float: right;
}
.gray-bg .ui-content{
    background: #f2f2f4;
}

.wochenkalender .room-name{
    color:#a7aaa9;
    margin: 8px 3px;
    padding: 0px 14px;
}
.wochenkalender .plus,.jahreskalender .plus{
    margin: -31px -1em -35px;
    padding: 0 25px 4px;
    height: 40px;
}

@media (max-width: 960px){
    .wochenkalender .plus,.jahreskalender .plus{
        margin-top: 0px;
    }
}

.jahreskalender .ui-controlgroup-controls{
    width: 100%;
    text-align:center;
}

.jahreskalender .ui-checkbox label{

}
.jahreskalender .right-input .ui-icon-delete:after{
    background-size: 10px;
    margin-top: -9px;
    background-color: rgba(0,0,0,0);
}
.jahreskalender .ui-checkbox label img{
    width: 25px;
    vertical-align: middle;
    margin: 3px 10px;
}

.jahreskalender .right-input .ui-icon-delete:after{
    background-size: 10px;
    margin-top: -9px;
    background-color: rgba(0,0,0,0);
}
.jahreskalender .ui-checkbox label img{
    width: 25px;
    vertical-align: middle;
    margin: 3px 10px;
}

.jahreskalender .top-select .ui-select{
    width: 50%;
}
.jahreskalender .collapsible-open{
    font-weight: bold;
}

.jahreskalender #select-order-button{
    padding: 10px 5px;
    /*margin-left: 2px;*/
}
.jahreskalender .top-select .ui-controlgroup-controls{
    border-radius : 0 !important;
}
.jahreskalender .top-select{
    padding: 0;
    margin: 35px 0 -9px;;
}
.jahreskalender .top-select label{
    font-size: 12px;
}
.jahreskalender .search-box{
    padding : 35px 20px 0;
}
.jahreskalender .ui-collapsible-heading li{

}
.jahreskalender .collapsible-open{
    margin-bottom: -8px;
}
.jahreskalender  .ui-collapsible-heading a{
    border-bottom: none;
}
.jahreskalender  .record-list .ui-collapsible-heading{
    margin-left: -6px;
}
.jahreskalender  .record-list .ui-collapsible-content{
    margin-top: -9px;
}
.jahreskalender  .record-collapsible{
    border-bottom: 1px #aaaaaa solid;
}
.jahreskalender .record-list{
    padding: 7px 17px;
}
.jahreskalender .ui-collapsible-heading ul{
    margin: 0;
    padding: 0 18px
}
.jahreskalender .record-list ul{
    margin: 0;
    padding: 0 10px
}
.jahreskalender .record-list .offset{
    position: absolute;
    right: 39px;
    top: 72px;
}
.jahreskalender .record-list li{
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
}
.jahreskalender  .active .ui-collapsible-heading a,.jahreskalender  .active  .ui-collapsible-content{
    background : rgba(255, 0, 0, 0.08);
}

.jahreskalender .ui-select span{
    font-size: 12.5px;
    font-weight: normal;
}
.jahreskalender .ui-tabs{
    margin: 0 -3px 0;
    padding-top: 0px;
}
.jahreskalender .ui-tabs .ui-content{
    margin: -10px 36px;
}

.jahreskalender .text-center {
    text-align: center;
}


.jahreskalender .select-room h2{
    margin: -3px 0 5px;
    font-size: 16px;
    font-weight: normal;
}
.jahreskalender .select-room label.ui-btn{
    font-weight : normal;
}
.jahreskalender .select-room .ui-collapsible-heading{
    padding-left: 8px;
}
.jahreskalender  .right-input{
    font-size: 14px;
}
.jahreskalender  .select-room fieldset{
    margin: 0 -15px;
}
.jahreskalender  #select-all-label{
    border-bottom-width: 1px;
    margin-bottom: 10px;
}
.jahreskalender .record-list .ui-collapsible-heading .ui-btn-icon-right:after{
    background: none;
}
.no-input-slider  .ui-slider-input{
    display:none !important;
}
input.ui-slider-input{
    margin: -4px 0 0px -40px;
}
.rucklaufsensor .content{
    margin-top: -16px;
}
.rucklaufsensor li{
    max-height: inherit !important;
}
.rucklaufsensor .sensor-list{
    margin: 10px 10px 5px 15px;
}
.rucklaufsensor .sensor-list span{
    float:right;
}
.rucklaufsensor .sensor-list li{
    list-style: none;
    margin : 10px 0;
}
.rucklaufsensor .sensor-list li a{
    text-decoration: none;
}
@media (min-width: 60em){
    .timer .room_wrapper,.luftfeuchte .room_wrapper{
        text-align: center;
        font-size: 17px;
        padding-bottom: 18px;
        border-bottom: 1px solid #dedfe0;
        margin-top: -21px;
    }
}
@media (max-width: 60em){
    .timer .room_wrapper,.luftfeuchte .room_wrapper{
        text-align: center;
        font-size: 17px;
        padding-bottom: 18px;
        border-bottom: 1px solid #dedfe0;
        margin-top: 14px;
    }
}

/**
    custom icons
**/
.ui-icon-Zeitschalter:after {
    background-image: url("jquery.mobile-1.4.5/images/icons-png/icon-timer.png");
}
/* Fallback */
.ui-nosvg .ui-icon-Zeitschalter:after {
    background-image: url("jquery.mobile-1.4.5/images/icons-png/icon-timer.png");
}
.ui-nosvg .ui-icon-aussentemperaturkorrektur:after {
    background-image: url("icons/icon_aussentemperatur-offset.png");
}
/* brain icon  */
.s:after {
    background-image: url("jquery.mobile-1.4.5/images/icons-png/icon-brain.png");
}
/* Fallback */
.ui-nosvg .ui-icon-heizflaechenoptimierung:after {
    background-image: url("icons/icon_heizflaechenoptimierung.png");
}

.ui-nosvg .ui-icon-heizflaechenoptimierung-red:after {
    background-image: url("icons/icon_heizflaechenoptimierung_red.gif");
}
.ui-nosvg .ui-icon-heizflaechenoptimierung-blue:after {
    background-image: url("icons/icon_heizflaechenoptimierung_blue.gif");
}
.ui-nosvg .ui-icon-heizflaechenoptimierung-grey:after {
    background-image: url("icons/icon_heizflaechenoptimierung_grey.gif");
}

.ui-icon-jahreskalender::after{
    background-image: url("icons/icon_jahreskalender.png");
}
.ui-icon-Kalender:after,.ui-icon-wochenkalender:after,.ui-icon-google-kalender:after {
    background-image: url("icons/icon_wochenkalender.png");
}
/* Fallback */
.ui-nosvg .ui-icon-Kalender:after,.ui-nosvg .ui-icon-wochenkalender:after,.ui-nosvg .ui-icon-google-kalender:after  {
    background-image: url("icons/icon_wochenkalender.png");
}
.ui-icon-GeoLocation:after,.ui-icon-geolocation:after {
    background-image: url("icons/icon_geolocation.png");
}
/* Fallback */
.ui-nosvg .ui-icon-GeoLocation:after {
    background-image:  url("icons/icon_geolocation.png");
}
.ui-icon-wetterkorrektur:after,.ui-icon-wetter:after {
    background-image: url("icons/icon_wetter.png");
}
/* Fallback */
.ui-nosvg .ui-icon-wetterkorrektur:after {
    background-image:  url("icons/icon_wetter.png");
}
.ui-icon-kontaktabsenkung:after {
    background-image: url("icons/icon_kontaktabsenkung.png");
}
/* Fallback */
.ui-nosvg .ui-icon-kontaktabsenkung:after {
    background-image:  url("icons/icon_kontaktabsenkung.png");
}
.ui-icon-Solarpuffer:after {
    background-image: url("icons/icon_solarpuffer.png");
}
/* Fallback */
.ui-nosvg .ui-icon-Solarpuffer:after {
    background-image: url("icons/icon_solarpuffer.png");
}
.ui-icon-Hochtarifoptimierung:after {
    background-image: url("icons/icon_hochtarifoptimierung.png");
}
/* Fallback */
.ui-nosvg .ui-icon-Hochtarifoptimierung:after {
    background-image: url("icons/icon_hochtarifoptimierung.png");
}
.ui-nosvg .ui-icon-aussentemperaturkorrektur:after {
    background-image: url("icons/icon_aussentemperatur-offset.png");
}
.ui-icon-Zieltemperaturanpassung-Funkregelung:after {
    background-image: url("icons/icon_hochtarifoptimierung.png");
}
/* Fallback */
.ui-nosvg .ui-icon-Zieltemperaturanpassung-Funkregelung:after {
    background-image: url("icons/icon_hochtarifoptimierung.png");
}
.ui-icon-timer:after {
    background-image: url("icons/icon_timer.png");
}
.ui-icon-luftfeuchte:after {
    background-image: url("icons/icon_humidity.png");
}
.ui-icon-offsets:after {
    background-image: url("icons/icon_offsets.png");
}
.ui-icon-fenster-offen:after {
    background-image: url("icons/icon_fenster_offen.png");
}
.ui-nosvg .ui-icon-vorlauftemperatur:after, .ui-icon-vorlauftemperaturkorrektur:after {
    background-image: url("icons/icon_vorlauftemperatur.png");
}

.ui-icon-fps:after {
    background-image: url("icons/icon_fps.png");
}

.mehrere-Räume-bearbeiten{
    position:relative;
    float:left;
    margin-right: 14px;
    background-image:  url("icons/icon_wetter.png");
    left: 10px; 
    margin-top: -4px;
    margin-left: -2px;
    border-radius: 0;
    background-size: cover;
    /* width: 18px !important; */
    height: 18px !important;
}
.mehrere-Räume-bearbeiten:after{
    left : 10px;
    margin-top: -13px;
    margin-left: -2px;
    border-radius: 0;
    background-size: cover;
    width: 18px !important;
    height: 18px !important;
    background-color:rgb(255,255,255) !important;
    background-color: rgba(255,255,255,0) !important;
}

/***
heizflaechenoptimierung
***/
@media (min-width: 60em){
    .heizflaechenoptimierung .info{
        margin-top: -23px !important;
    }
    .heizflaechenoptimierung .label-before{
        width: 65px;
        margin: -22px 0px 0px 10px;
        float: left;
        font-size: 12px;
        text-align: right;
    }
    .heizflaechenoptimierung .label-after{
        width: 65px;
        margin: -22px 25px 0px 0px;
        float: right;
        font-size: 12px;
    }
    .heizflaechenoptimierung .ui-rangeslider{
        margin: 0 121px 0 99px;
    }
    .heizflaechenoptimierung .range_slider input.ui-slider-input{
        margin : 0;
    }
    .heizflaechenoptimierung .ui-tabs{
        margin: -51px -52px 0;
        margin-top: -40px;
    }
    .heizflaechenoptimierung .ui-tabs .ui-content{
        margin: -10px 36px;
    }
    .heizflaechenoptimierung #one .ui-select{
        margin: -17px -9px 15px -8px;
    }
    .heizflaechenoptimierung .title_room img{
        height: 20px;
        margin-bottom: -5px;
        margin-right: 14px;
        text-align: center;
    }
    .heizflaechenoptimierung #two{
        padding: 0 45px;
    }
    .heizflaechenoptimierung #two .slider-wrapper label {
        margin-top: 20px;
    }
    .heizflaechenoptimierung #correction-heating-element-wrapper .normal_slider input.ui-slider-input {
        margin: -4px 0 0px -53px !important;
    }
    .heizflaechenoptimierung #correction-heating-element-wrapper .range_slider input.ui-slider-input {
        margin: -4px 0 0px -0px !important;
    }
    .heizflaechenoptimierung #correction-heating-element-wrapper .ui-slider {
        margin: 0 121px 0 151px !important
    }
    .heizflaechenoptimierung .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1em;
        margin-right: 1em;
    }
}

@media (max-width: 60em){
    .heizflaechenoptimierung .info{
        margin: 10px 36px !important;
    }
    .heizflaechenoptimierung .ui-tabs{
        margin: -18px -15px 0;
        margin-top: -12px;
    }
    .heizflaechenoptimierung #one .ui-select{
        margin: -25px -9px 15px -8px;
        margin-top: -16px;
    }
    .heizflaechenoptimierung .range_slider input.ui-slider-input{
        margin: 0;
    }
    .heizflaechenoptimierung .label-before{
        float: left;
        margin: -3px 0 0 8px;
        font-size: 12px;
    }
    .heizflaechenoptimierung .label-after{
        float: right;
        width: 75px;
        margin: -3px 26px 0 0;
        text-align: right;
        font-size: 12px;
    }
    .heizflaechenoptimierung .title_room img{
        height: 20px;
        margin: 8px 14px -5px -14px;
    }
    .heizflaechenoptimierung #two .slider-wrapper label{
        margin-top: 20px;
    }
    .heizflaechenoptimierung #two{
        padding: 0 7px;
    }
    .heizflaechenoptimierung #one .slider-wrapper label{

    }
    .heizflaechenoptimierung #correction-heating-element-wrapper .ui-slider{
        margin: 0 0 0 59px !important;
    }
    .heizflaechenoptimierung #correction-heating-element-wrapper .ui-slider-track{
        margin-right: 2em;
    }
    .heizflaechenoptimierung .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1.3em;
        margin-right: 1em;
    }
    .heizflaechenoptimierung div.ui-rangeslider {
        max-width: 90%;
    }
}

.heizflaechenoptimierung .title_room{
    margin : 10px;
    text-align: center;
}
.heizflaechenoptimierung #two .ui-controlgroup{
    margin: 0 -12px;
    display: block;
}
.heizflaechenoptimierung #one .ui-select span{
    font-size: 12.5px;
    font-weight: normal;
}
.heizflaechenoptimierung #two .ui-select{
    margin: -21px -13px 15px -12px;
}
.heizflaechenoptimierung #two .ui-select span{
    font-size: 13px;
    font-weight: normal;
}
.heizflaechenoptimierung .ui-tabs #one h2{
    border-bottom: 1px solid #b6b6b6;
    margin: -7px -6px;
    padding: 0 0 6px;
    text-align: center;
    font-size: 17px;
}
.heizflaechenoptimierung .ui-tabs p{
    padding: 12px 15px 0px 12px;
}
.heizflaechenoptimierung .ui-tabs img{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 14px;
}

@media (min-width: 60em){
    .luftfeuchte .info{
        margin-top: -23px !important;
    }
    .luftfeuchte .label-before{
        width: 65px;
        margin: -29px 0px 0px 10px;
        float: left;
        font-size: 12px;
        text-align: right;
    }
    .luftfeuchte .label-after{
        width: 65px;
        margin: -22px 25px 0px 0px;
        float: right;
        font-size: 12px;
    }
    .luftfeuchte .ui-rangeslider{
        margin: 0 121px 0 99px;
    }
    .luftfeuchte .range_slider input.ui-slider-input {
        margin: 0;
    }
    .luftfeuchte .ui-tabs{
        margin: -51px -52px 0;
        margin-top: -40px;
    }
    .luftfeuchte .ui-tabs .ui-content{
        margin: -10px 36px;
    }
    .luftfeuchte #one .ui-select{
        margin: -17px -9px 15px -8px;
    }
    .luftfeuchte .title_room img{
        height: 20px;
        margin-bottom: -5px;
        margin-right: 14px;
    }
    .luftfeuchte #two{
        padding: 0 45px;
    }
    .luftfeuchte #two .slider-wrapper label {
        margin-top: 20px;
    }
    .luftfeuchte #correction-heating-element-wrapper .normal_slider input.ui-slider-input {
        margin: -4px 0 0px -53px !important;
    }
    .luftfeuchte #correction-heating-element-wrapper .range_slider input.ui-slider-input {
        margin: -4px 0 0px -0px !important;
    }
    .luftfeuchte #correction-heating-element-wrapper .ui-slider {
        margin: 0 121px 0 151px !important
    }
    .luftfeuchte .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1em;
        margin-right: 1em;
    }
}

@media (max-width: 60em){
    .luftfeuchte .info{
        margin: 10px 36px !important;
    }
    .luftfeuchte .ui-tabs{
        margin: -18px -15px 0;
        margin-top: -12px;
    }
    .luftfeuchte #one .ui-select{
        margin: -25px -9px 15px -8px;
        margin-top: -16px;
    }
    .luftfeuchte .range_slider input.ui-slider-input {
        margin-left: 0;
    }
    .luftfeuchte .label-before{
        float: left;
        margin: -3px 0 0 8px;
    }
    .luftfeuchte .label-after{
        float: right;
        width: 75px;
        margin: -3px 26px 0 0;
        text-align: right;
        font-size: 12px;
    }
    .luftfeuchte .title_room img{
        height: 20px;
        margin: 8px 14px -5px -14px;
    }
    .luftfeuchte #two .slider-wrapper label{
        margin-top: 20px;
    }
    .luftfeuchte #two{
        padding: 0 7px;
    }
    .luftfeuchte #one .slider-wrapper label{

    }
    .luftfeuchte div.ui-slider.ui-mini {
        margin: 0;
    }
    .luftfeuchte #correction-heating-element-wrapper .ui-slider{
        margin: 10px 0 0 59px !important;
    }
    .luftfeuchte #correction-heating-element-wrapper .ui-slider-track{
        margin-right: 2em;
    }
    .luftfeuchte .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1.3em;
        margin-right: 1em;
    }
    .luftfeuchte div.ui-rangeslider {
        max-width: 90%;
    }
}

.luftfeuchte .title_room{
    margin : 10px;
}
.luftfeuchte #two .ui-controlgroup{
    margin: 0 -12px;
    display: block;
}
.luftfeuchte #one .ui-select span{
    font-size: 12.5px;
    font-weight: normal;
}
.luftfeuchte #two .ui-select{
    margin: -21px -13px 15px -12px;
}
.luftfeuchte #two .ui-select span{
    font-size: 13px;
    font-weight: normal;
}
.luftfeuchte .ui-tabs #one  h2{
    border-bottom : 1px solid #b6b6b6 ;
    margin: -7px -6px;
    padding: 0 0 6px;
    text-align: center;
    font-size: 17px;
}
.luftfeuchte .ui-tabs p{
    padding: 12px 15px 0px 12px;
}
.luftfeuchte .ui-tabs img{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 14px;
}
.luftfeuchte .ui-li-static{
    overflow: visible;
}
.luftfeuchte #rangesslider-list {
    padding: 12px 15px;
}
.luftfeuchte #rangesslider-list label {
    margin-top: 20px;
}

.luftfeuchte .kontaktabsenkung  h2{
    border-bottom : 1px solid #b6b6b6 ;
    margin: -7px -6px;
    padding: 0 0 6px;
    text-align: center;
    font-size: 17px;
}
.luftfeuchte .kontaktabsenkung p{
    padding: 12px 15px 0px 12px;
}
.luftfeuchte .kontaktabsenkung img{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 14px;
}
.custome_a {
    text-decoration: none !important;
}
.custome_a:hover {
    color: #000 !important;
}

.ui-nosvg .ui-alt-icon.ui-icon-carat-d:after,
.ui-nosvg .ui-alt-icon .ui-icon-carat-d:after {
    background-image: url(jquery.mobile-1.4.5/images/icons-png/arrow-d-black.png);
}

.custom_slider {
    padding: 12px 15px;
}

.align-center {
    text-align: center !important;
}
.line-border{
    border-bottom-width: 1px !important;
}
.line-border-right{
    border-right-width: 1px !important;
}

.ui-content{
    min-height:800px;
}

.sensorsimulator .ui-input-text {
    width: 70px;
    float: right;
    margin-top: 0px !important;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    margin-right: 5px;
    height:30px;
}
.sensorsimulator .temp-label{
    float: right;
    margin-top: 5px;

}
.sensorsimulator #slist .ui-slider{
    float: right;
    margin-top: 0px !important;

}


.home .hand_third_line{
    clear: both;
    float:right;
    width:100px;
    vertical-align: bottom;
    margin-right: 44px;
    margin-top: 4px;
}


@-moz-document url-prefix() {

}


.home .beam{
    float:left;
    border-radius: 25px;
    padding: 2px;
    width: 5%;
    height: 2px;
    margin-right:2px;
}

.room .beam{
    float:left;
    border-radius: 25px;
    padding: 3px;
    width: 5%;
    height: 0.1px;
    margin-top:8px;
    margin-right:2px;
}

.home .module-icon{
    margin: 0px 0px 0 4;
}
.room .module-icon{
    position:relative;
    float: left;
    margin: 0px 8px 0 0;
}

.no-margin{
    margin: 0 !important;
}
.no-margin-top{
    margin-top: 0 !important;
}
.no-margin-right{
    margin-right: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-margin-left{
    margin-left: 0 !important;
}

@media only screen and (max-device-width :415px){
    .luftfeuchte .ui-slider-track {
        width : 150px;
    }
}

.backupcontrol h4{
    padding-left:15px;
}
.backupcontrol p{
    padding-left:20px;
}

.ui-icon-leafgray:after {
    background-image: url("icons/blatt_gray.png");
}


.ui-icon-leafgreen:after {
    background-image: url("icons/blatt_green.png");
}

.home .module-iconn{
    margin-top: -4px;
}

.home .empty-beam{
    float:left;
    border-radius: 25px;
    border-style: solid;
    border-width:1px;
    border-color:gray;
    padding: 2px;
    width: 5%;
    height: 1px;
    margin-right:2px;
    margin-bottom:20px;
}

.home .beam_place .visual-bar{
    float:left;
    padding: 2px;
    height: 1px;
    margin-right:2px;
    margin-bottom:20px;
}

.room .empty-beam{
    float:left;
    border-radius: 25px;
    border-style: solid;
    border-width:1px;
    border-color:gray;
    padding: 3px;
    width: 5%;
    height: 0.1px;
    margin-top:8px;
    margin-right:2px;
    margin-bottom:20;
}

.backupcontrol .ui-btn{
    font-weight: normal !important;
}
.backupcontrol h4{
    padding-left: 10px;
}
.backupcontrol p{
    padding-left:20px;
}

.slider-wrapper{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.content div:first-child h3 div.warningDiv {
    color: #cb0963;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
}
.content div:first-child h3 div.warningDiv a {
    color: #cb0963;
    text-decoration: underline;
}

@media(max-width : 960px){
    .content div:first-child h3 {
        margin-top: 40px;
    }
}

@media only screen and (min-width : 960px){
    first-child h3{
        margin-top: 0px !important;
    }
    .config{
        margin-top: -20px;
    }
}

@media only screen and (max-width: 930px){
    .room_name{
        margin-left: 10px;
        width: 100px;
    }
    #range1{
        width:92%;
    }
    #label_after_bei20
    {
        margin-top:-30;
    }
    #label_after_bei21
    {
        margin-top:-30;
    }
}

@media only screen and (max-width: 365px) {
    .room_name{
        margin-left: 10px;
        width: 130px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 366px){
    .room_name{
        margin-left: 10px;
        width: 80%;
    }
}

@media only screen and (max-width: 960px) and (min-width: 601px){
    .room_name{
        margin-left: 10px;
        width: 335px;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1080px){
    .room_name{
        margin-left: 10px;
        width: 365px;
    }
}

@media only screen and (min-width: 1081px){
    .room_name{
        margin-left: 10px;
        width: 410px;
    }
}

.geolocation-add-device .form{
    padding:20px;
}

.geolocation-lastdevice .content{
    padding: 20px;
}

/* New Css */
h2.ui-collapsible-heading.ui-collapsible-heading-collapsed {
    margin: 0;
}
h2.ui-collapsible-heading {
    margin: -3px 0 8px !important;
    padding: 0;
}

#nav-room-list .ui-first-child {
    margin: 0 !important;
}

#nav-panel .ui-listview > li h2 {
    margin: 0 !important;
    padding: 0 !important;
}
#nav-panel .ui-collapsible-content {
    margin: 8px 16px 8px 50px !important;
    padding: 0;
}
#nav-panel .ui-collapsible-heading-toggle.ui-btn.ui-icon-minus.ui-btn-icon-right.ui-btn-inherit {
    padding-left: 16px !important;
}

.bold{
    font-weight: bold !important;
}

.vorlauftemperatur .centered{
    text-align : center;
}

@media (min-width: 60em){
    .vorlauftemperatur .offset-center{
    text-align:center;padding-top:15px;width:530px;
    }
    .vorlauftemperatur .info{
        margin-top: -23px !important;
    }
    .vorlauftemperatur .label-before{
        width: 65px;
        margin: -29px 0px 0px 10px;
        float: left;
        font-size: 12px;
        text-align: right;
    }
    .vorlauftemperatur .label-after{
        width: 65px;
        margin: -22px 25px 0px 0px;
        float: right;
        font-size: 12px;
    }
    .vorlauftemperatur .ui-rangeslider{
        margin: 0 121px 0 99px;
    }
    .vorlauftemperatur .range_slider input.ui-slider-input {
        margin: 0;
    }
    .vorlauftemperatur #one .ui-select{
        margin: -17px -9px 15px -8px;
    }
    .vorlauftemperatur .title_room img{
        height: 20px;
        margin-bottom: -5px;
        margin-right: 14px;
    }
    .vorlauftemperatur #two{
        padding: 0 0px;
    }
    .vorlauftemperatur #two .slider-wrapper label {
        margin-top: 20px;
    }
    .vorlauftemperatur #correction-heating-element-wrapper .normal_slider input.ui-slider-input {
        margin: -4px 0 0px -53px !important;
    }
    .vorlauftemperatur #correction-heating-element-wrapper .range_slider input.ui-slider-input {
        margin: -4px 0 0px -0px !important;
    }
    .vorlauftemperatur #correction-heating-element-wrapper .ui-slider {
        margin: 0 121px 0 151px !important
    }
    .vorlauftemperatur .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1em;
        margin-right: 1em;
    }
    .vorlauftemperatur #tabs{
        margin-top : -37px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}

@media (max-width: 60em){
    .vorlauftemperatur .offset-center{
    text-align:center;padding-top:15px;width:230px;
    }
    .vorlauftemperatur .info{
        margin: 10px 36px !important;
    }
    .vorlauftemperatur .ui-tabs{
        margin: -18px 0 0;
    }
    .vorlauftemperatur #one .ui-select{
        margin: -25px -9px 15px -8px;
    }
    .vorlauftemperatur .range_slider input.ui-slider-input {
        margin-left: 0;
    }
    .vorlauftemperatur .label-before{
        float: left;
        margin: -3px 0 0 8px;
    }
    .vorlauftemperatur .label-after{
        float: right;
        width: 75px;
        margin: -3px 26px 0 0;
        text-align: right;
        font-size: 12px;
    }
    .vorlauftemperatur .title_room img{
        height: 20px;
        margin: 8px 14px -5px -14px;
    }
    .vorlauftemperatur #two .slider-wrapper label{
        margin-top: 20px;
    }
    .vorlauftemperatur #two{
        padding: 0 7px;
    }
    .vorlauftemperatur #one .slider-wrapper label{
        
    }
    .vorlauftemperatur div.ui-slider.ui-mini {
        margin: 0;
    }
    .vorlauftemperatur #correction-heating-element-wrapper .ui-slider{
        margin: 10px 0 0 59px !important;
    }
    .vorlauftemperatur #correction-heating-element-wrapper .ui-slider-track{
        margin-right: 2em;
    }
    .vorlauftemperatur .correction-heating-element-wrapper .ui-checkbox {
        float:right;
        margin-top: -1.3em;
        margin-right: 1em;
    }
    .vorlauftemperatur div.ui-rangeslider {
        max-width: 90%;
    }
    .vorlauftemperatur #tabs{
        margin-top : -5px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    
}

.vorlauftemperatur .title_room{
    margin : 10px;
}

.vorlauftemperatur #two .ui-controlgroup{
    margin: 0 -7px;
    display: block;
}

.vorlauftemperatur #one .ui-select span{
    font-size: 12.5px;
    font-weight: normal;
}

.vorlauftemperatur #two .ui-select{
    margin: -21px -13px 15px -12px;
}

.vorlauftemperatur #two .ui-select span{
    font-size: 13px;
    font-weight: normal;
}

.vorlauftemperatur .ui-tabs #one  h2{
    border-bottom : 1px solid #b6b6b6 ;
    /* margin: -7px -6px; */
    padding: 0 0 6px;
    text-align: center;
    font-size: 17px;
}

.vorlauftemperatur .ui-tabs p{
    padding: 12px 15px 0px 12px;
    margin-bottom: 0;
}

.vorlauftemperatur .ui-tabs img{
    height: 20px;
    margin-bottom: -5px;
    margin-right: 14px;
}

.vorlauftemperatur .ui-li-static{
    overflow: visible;
}

.vorlauftemperatur #rangesslider-list {
    padding: 12px 15px;
}

.vorlauftemperatur #rangesslider-list label {
    margin-top: 20px;
}

.vorlauftemperatur .ui-tabs #one,.vorlauftemperatur .ui-tabs #three{
    border-left-width : 0;
    padding-left : 0;
    padding-right : 0;
}

.vorlauftemperatur .custom_slider{
    padding: 12px 22px;
}

.differenzregelung .s-row .right{
    float: right;
    width: 15%;
    text-align: right;
}

.differenzregelung .s-row .left{
    float: left;
    width: 85%;
}

@media (max-width: 60em){
   .differenzregelung .s-row .right{
    float: right;
    width: 35%;
    text-align: right;
  }
.differenzregelung .s-row .left{
    float: left;
    width: 65%;
  }
  .differenzregelung .visual-bar {
    width: 100% !important;
  }
}

@media (max-width: 965px){
   .differenzregelung .ui-li-divider{
       margin-top:35px;
   }
}

@media (max-width: 330px){
   .differenzregelung .visual-bar{
       margin-top:35px !important;
       font-size:8px !important;
       width:110% !important;
   }
   .differenzregelung .ui-li-divider{
       margin-top:35px;
       font-size: 8px;
   }
   .differenzregelung .diff-header .diff-link{
       width: 33% !important;
   }
   .differenzregelung .diff-header .diff-icon{
       width: 33% !important;
   }
   .differenzregelung  .diff-header i a{
    color: black;
    font-size:8px !important;
    top-margin: 5px;
    }
}

.differenzregelung .s-row .right .inner-left{
    float:left;
    width: 50%;
    text-align: right;
}

.differenzregelung .s-row .right .inner-right{
    float:right;
    width: 50%;
    text-align: right;
}

.differenzregelung .s-row .right .inner-right .text{
   float:left;
   text-align:right;
}

.differenzregelung  .s-icon{
    height: 40px;
    margin-bottom: -15px;
    margin-right: 14px;
}

.differenzregelung  .s-row .left .m-icon{
    float : right;
    width : 20px;
    margin-top: 28px;
}

.differenzregelung  .diff-header .diff-icon{
    width: 33%;
    float : left;
}

.differenzregelung  .diff-header .diff-name{
    width: 33%;
    float : left;
    text-align:center;
    margin-top:5px;
}

.differenzregelung  .diff-header .diff-link{
    width: 33%;
    float : left;
    text-align: right;
}

.differenzregelung  .diff-header a:link{
   text-decoration: underline;
    
}

.differenzregelung  .diff-header i a{
    color: black;
    font-size:11px;
    top-margin: 5px;
}

.differenzregelung  .diff-header .diff-link{
    margin-top: 5px;
}

.differenzregelung  .diff-header .diff-icon .beam{
    width: 15%;
    height:5px;
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid gray;
    float: left;
    margin-top: 10px;
}

.differenzregelung  .diff-header .diff-icon .bulb,.vorlauftemperaturregelung .diff-header .diff-icon .bulb{
    float: left;
    padding-right:20px;
    padding-top: 3px;
}

.differenzregelung .row-slider input.ui-slider-input {
        display : none !important;
}

.differenzregelung .row-slider .ui-slider-track   .ui-btn-active{
    background-color: #9ec552;
}

.ui-slider-track   .ui-btn-active{
    background-color: #9ec552 !important;
}

.differenzregelung .s-row .right .soll{
    color: #9ec552;
    font-weight: bold;
}

.differenzregelung .bold{
    font-weight: bold;
}

.differenzregelung .italic{
    font-style: italic;
}

.differenzregelung .underline{
   text-decoration:underline
}

.differenzregelung  .offset-blue{
   color: #019BB0;
}

.differenzregelung  .offset-red{
   color: #cb0963;
}

.differenzregelung  .offset-grey{
   color: grey;
}

.differenzregelung .ui-bar-c{
    background-color: #ffffff;
}

.differenzregelung .row-slider{
    margin-top: 52px;
    margin-bottom: 10px;
}

.differenzregelung .visual-bar{
    margin-top: 40px;
    
}

.differenzregelung .visual-bar .ui-slider-track   .ui-btn-active{
    background-color: #9ea0a5 !important;
    
}

.differenzregelung .visual-bar input.ui-slider-input {
        display : none !important;
}

.differenzregelung .visual-bar{
    width: 70%;
    padding-bottom:20px;
}

.differenzregelung .visual-bar .bracket-left{
    border:0;
    width: 3px;
    height: 18px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    margin-top: -7px;
    top: 0px ;
    bottom: 0px ;
    position: absolute;
    z-index: 1;
    outline: 0;
    padding: 0;
}

.differenzregelung .visual-bar .bracket-right{
    border:0;
    width: 3px;
    height: 18px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    margin-top: -7px;
    top: 0px ;
    bottom: 0px ;
    position: absolute;
    z-index: 1;
    outline: 0;
    padding: 0;
}

.differenzregelung .visual-bar .diff{
    border-style: dotted dotted dotted solid;
    border-color:grey;
    border-width: 1px;
    position: absolute;
    height: 22px;
    margin: -16px 0 0;
}

.differenzregelung .visual-bar .soll, .home .visual-bar .soll,.room .visual-bar .soll{
    width: 2px;
    position: absolute;
    height: 20px;
    margin: -14px 0 0 0px;
    background: #9EC553;
}

.differenzregelung .visual-bar .ziel{
    border: 1px dotted grey;
    width: 24px;
    position: absolute;
    height: 22px;
    margin: -16px 0 0;
}
 
.differenzregelung .visual-bar .ziel-center{
    width: 2px;
    position: absolute;
    height: 23px;
    background-color:#779A45;
    margin: -16px 0 0 0;
}
.differenzregelung .visual-bar .gray_ziel{
    width: 2px;
    position: absolute;
    height: 23px;
    background-color:#969597;
    margin: -16px 0 0 0;
}

.differenzregelung .visual-bar .ui-slider-track{
    border-color:#969597;
    height:8px;
}

.vorlauftemperaturregelung .s-row .left .m-icon {
    float: right;
    width: 20px;
    margin-top: 40px;
}

.vorlauftemperaturregelung .s-row .right-time {
    float: right;
    width: 25%;
    text-align: right;
}

.vorlauftemperaturregelung .s-row .left-time {
    float: left;
    width: 75%;
}

.differenzregelung .s-row .left .visual-bar .slider-place{
    float:left;
    width:90%;
}

.differenzregelung .s-row .left .visual-bar .slider-range-min{
    float:left;
    margin-top: -1px;
    width:5%;
    text-align:right;
    color:gray;
    font-size:small;
}

.differenzregelung .s-row .left .visual-bar .slider-range-max{
    float:right;
    margin-top: -1px;
    width:5%;
    text-align:right;
    color:gray;
    font-size:small;
}


.differenzregelung .ui-shadow-inset{
    -webkit-box-shadow:0;
}

.differenzregelung .arrow-left {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right:4px solid #019BB0;
  display: inline-block;
  position: absolute;
}

.differenzregelung .arrow-right {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cb0963;
  display: inline-block;
  position: absolute;
}

.differenzregelung .arrow-bar-left{
    margin-top: -24px;
    margin-left: 1px;
    position: absolute;
    display: inline-block;
    border: 1px solid #019BB0;
}

.differenzregelung .arrow-bar-right{
    margin-top: -24px;
    position: absolute;
    display: inline-block;
    border: 1px solid #cb0963;
}

.jahreskalender #select-all-label, .jahreskalender #select-all-label-diff, .jahreskalender #select-all-label-vor{
    padding-top: 17px !important;
    padding-bottom: 17px !important;
}

.underline {
    text-decoration: underline !important;
}

.home .left_ui{
    float:left;
    width:77%;
    height: 100px;
}

.home .main .ui_details{
    height: 33px;
}

.home .right_ui{
    float: left;
    width: 23%;
    height: 100px;
}

.home .right_ui .details_left{
    float: left;
    width: 32%;
    text-align: center;
}

.home .right_ui .details_sign{
    float: left;
    width: 10%;
    text-align: center;
}

.home .right_ui .details_right{
    float: left;
    width: 32%;
    text-align: center;
}

.home .right_ui .details_leaf{
    float: left;
    width: 20%;
    text-align: center;
}

.home .right_ui .soll{
    color: #9EC553;
}

.home .right_ui .ziel{
    color: #779A45;
}

.home .right_ui .ui_details div{
    padding-top: 5px;
    white-space: nowrap;
}

.home .left_ui .ui_details{
    padding-left: 15px;
}

.home .right_ui .ui_details .hand{
    margin-top: -6px;
}

.home .right_ui .ui_details .temp{

}

.underline{
   text-decoration:underline !important;
}

.home .left_ui .ui_details .range{
    float: left;
    width: 4%;
    color: gray;
    text-align: center;
    font-size: small;
}

.home .left_ui .ui_details .visalbar_slider{
    float: left;
    width: 90%;
}

.home .visual-bar{
    float: left;
    width: 70%;
}


.home .visual-bar .ziel{
    width: 2px;
    position: absolute;
    height: 23px;
    background-color: #779A45;
    margin: -15px 0 0 0;
}

.home .visual-bar .ui-slider-track{
    border-color:#969597;
    height:8px;
}

.home .visual-bar .ui-slider-track   .ui-btn-active{
    background-color: #9ea0a5 !important;

}

.home .arrow-bar-left{
    margin-top: -24px;
    margin-left: 1px;
    position: absolute;
    display: inline-block;
    border: 1px solid #019BB0;
}

.home .arrow-bar-right{
    margin-top: -24px;
    position: absolute;
    display: inline-block;
    border: 1px solid #cb0963;
}

.home .arrow-right {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cb0963;
  display: inline-block;
  position: absolute;
}

.home .arrow-left {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right:4px solid #019BB0;
  display: inline-block;
  position: absolute;
}

.home .left_ui .beam_place{
    padding-top: 12px;
}

.home .left_ui .range{
    padding-top: 9px;
}

.home .visual-bar{
    padding-top: 9px;
}

@media (max-width: 600px){
    .home .main{
        font-size: small;
    }
    .home .left_ui{
        float: left;
        width: 65%;
    }

    .home .right_ui{
        float: left;
        width: 33%;
    }
    .home .right_ui .details_sign{
       padding-right: 6px;
    }
}
.room .left_ui{
    float:left;
    width:77%;
    height: 100px;
}

.room .main .ui_details{
    height: 33px;
}

.room .right_ui{
    float: left;
    width: 23%;
    height: 100px;
}

.room .right_ui .details_left{
    float: left;
    width: 32%;
    text-align: center;
}

.room .right_ui .details_sign{
    float: left;
    width: 10%;
    text-align: center;
}

.room .right_ui .details_right{
    float: left;
    width: 32%;
    text-align: center;
}

.room .right_ui .details_leaf{
    float: left;
    width: 20%;
    text-align: center;
}

.room .right_ui .soll{
    color: #9EC553;
}

.room .right_ui .ziel{
    color: #779A45;
}

.room .right_ui .ui_details div{
    padding-top: 5px;
}

.room .left_ui .ui_details{
    padding-left: 15px;
}

.room .right_ui .ui_details .hand{
    margin-top: -6px;
}

.room .right_ui .ui_details .temp{

}

.underline{
   text-decoration:underline
}

.room .left_ui .ui_details .range{
    float: left;
    width: 4%;
    color: gray;
    text-align: center;
    font-size: small;
}

.room .left_ui .ui_details .visalbar_slider{
    float: left;
    width: 90%;
}

.room .visual-bar{
    float: left;
    width: 70%;
}

.beam_place .visual-bar{
    float: left;
    min-width: 35px;
    width: 8%;
}

@media (max-width: 330px) {
    .home .left_ui .ui_details, .room .left_ui .ui_details{
        padding-left: 0;
    }

    .home .right_ui .details_right, .room .right_ui .details_right{
        width: 20%;
    }

}

@media (max-width: 430px) {

    .beam_place .visual-bar{
        min-width: 20px;
    }
}

.room .visual-bar .ziel{
    width: 2px;
    position: absolute;
    height: 28px;
    background-color:#779A45;
    margin: -18px 0 0 0;
}

.room .visual-bar .ui-slider-track{
    border-color:#969597;
    height:8px;
}

.room .visual-bar .ui-slider-track   .ui-btn-active{
    background-color: #9ea0a5 !important;

}

.room .arrow-bar-left{
    margin-top: -24px;
    margin-left: 1px;
    position: absolute;
    display: inline-block;
    border: 1px solid #019BB0;
}

.room .arrow-bar-right{
    margin-top: -24px;
    position: absolute;
    display: inline-block;
    border: 1px solid #cb0963;
}

.room .arrow-right {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cb0963;
  display: inline-block;
  position: absolute;
}

.room .arrow-left {
  margin-top: -27px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right:4px solid #019BB0;
  display: inline-block;
  position: absolute;
}

.room .left_ui .beam_place{
    padding-top: 12px;
}

.room .left_ui .range{
    padding-top: 9px;
}

.room .visual-bar{
    padding-top: 9px;
}



@media (max-width: 600px){
    .room .main{
        font-size: small;
    }
    .room .left_ui{
        float: left;
        width: 65%;
    }

    .room .right_ui{
        float: left;
        width: 34%;
    }
    .room .right_ui .details_sign{
       padding-right: 6px;
    }
}

@media (max-width: 750px){
 .quick_change .first_row,  .raumregelung-smart .first_row{
     font-size: 12px;
 }
 .quick_change .ziel,  .raumregelung-smart .ziel{
     font-size: medium !important;
 }
 .quick_change .ist,  .raumregelung-smart .ist{
     font-size: medium !important;
 }
 .quick_change .soll,  .raumregelung-smart .soll{
     font-size: medium !important;
 }
 .quick_change .first_row .align-center,  .raumregelung-smart .first_row .align-center{
     font-size: 12px;
 }
 .quick_change .top_header{
        margin-top: -15px !important;
}

}

.quick_change .first_row .room, .raumregelung-smart .first_row .room{
    float: left;
    width: 48%;
}

.quick_change .first_row .hand_time, .raumregelung-smart .first_row .hand_time{
    float: left;
    width: 4%;
}

.quick_change .first_row .hand_time .hand, .raumregelung-smart .first_row .hand_time .hand{
    text-align: center;
}

.quick_change .first_row .temperatures, .raumregelung-smart .first_row .temperatures{
    float: left;
    width: 46%;
}

.quick_change .first_row .right-temp, .raumregelung-smart .first_row .ist{
    float: left;
    width: 25%;
}

.quick_change .first_row .left-temp, .raumregelung-smart .first_row .ziel, .raumregelung-smart .first_row .soll{
    float: left;
    width: 65%;
}

.temperatures-right{
    text-align: right;
}

.quick_change .raum_name, .raumregelung-smart .raum_name{
    margin: 4px 5px 0px 15px;
    width: 70%;
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: normal;
}

@media (max-width: 700px){
    .quick_change .first_row .hand_time, .raumregelung-smart .first_row .hand_time{
        float: left;
        width: 8%;
    }
    .quick_change .first_row .temperatures, .raumregelung-smart .first_row .temperatures{
        float: left;
        width: 41%;
    }
    .raumregelung-smart .in_rooms{
        font-size: 12px !important;
    }
    .quick_change .raum_name, .raumregelung-smart .raum_name{
        margin: 4px 5px 0px 5px;
        width: 60%;
    }
}

.quick_change .first_row{
    padding-top: 25px;
    height: 50px;
}

.raumregelung-smart .first_row{
    padding-top: 10px;
    height: 35px;
}

.quick_change .hand_time, .raumregelung-smart .hand_time{
    margin-top: -15px;
}


.quick_change .ist{
    font-size: large;
    margin-top: -10px;
}


.quick_change .ziel{
    font-size: large;
    margin-top: -10px;
}

.quick_change .text{
    display: block;
}

.raumregelung-smart .text{
    display: block;
}

.raumregelung-smart .text{
    display: block;
}

.quick_change  .ui-btn-active{
    background-color: #779A45 !important;
}

.raumregelung-smart #tabs #one .room-row .ui-btn-active{
    background-color: #779A45 !important;
}

.raumregelung-smart #tabs #two .room-row .ui-btn-active{
    background-color: #9ec552;
}

.raumregelung-smart .top_header_smart .ui-block-b .ui-select{
    margin: 0;
}

#popupTimeSave,#all_popupTimeDelete{
    color: #cb0963;
}

.popupTimeContent .align-center{
    padding-top: 8px;
    padding-bottom: 8px;
}


.popupTimeContent .slider_left{
     float:left;
     width: 33%;
}

.popupTimeContent .slider_center{
     float:left;
     width: 33%;
}

.popupTimeContent .slider_right{
     float:left;
     width: 33%;
}

.popupTimeContent .time_row{

    padding-top: 0px !important;
    padding-bottom: 10px !important;
    margin-top: -10px;

}

.quick_change .top_header, .raumregelung-smart .top_header{
        margin-top: -6px;
}

@media (max-width: 750px){
    .quick_ui_top_menu{
        margin-top: 30px;
    }
}

@media (max-width: 960px){
    .raumregelung-smart .top_header{
        margin-top: 32px !important;
    }
    .quick_change .top_header{
        margin-top: -7px !important;
    }
    .quick-menu{
        margin-top:16px !important;
    }
}

#popupZielSave, #popupSollSave{
    clear: both;
}

li > a.room-left:after {
    background-image: url("/static/arrow-icon/carat-r-lightGreen.png") !important;
}

li > a.vor-diff-left:after, .room li > a.vor-diff-left:after {
    background-image: url("/static/arrow-icon/carat-r-lightYellow.png") !important;
}
li > a.vor-arrow-right:after, .room li > a.vor-arrow-right:after {
    background-image: url("/static/arrow-icon/carat-r-lightRed.png") !important;
}
li > a.fps-arrow-right:after, .room li > a.fps-arrow-right:after {
    background-image: url("/static/arrow-icon/carat-r-darkBlue.png") !important;
}
li > a.ra-arrow-right:after, .room li > a.ra-arrow-right:after {
    background-image: url("/static/arrow-icon/carat-r-lightBlue.png") !important;
}


li> h2.etage-left > a.ui-icon-minus:after{
    background-image: url("/static/arrow-icon/minus-lightGreen.png") !important;
}

li> h2.etage-left > a.ui-icon-plus:after{
    background-image: url("/static/arrow-icon/plus-lightGreen.png") !important;
}

li> h2.diff-vor-left > a.ui-icon-minus:after{
    background-image: url("/static/arrow-icon/minus-lightYellow.png") !important;
}

li> h2.diff-vor-left > a.ui-icon-plus:after{
    background-image: url("/static/arrow-icon/plus-Yellow.png") !important;
}

li> h2.diff-vor-left > a{
    margin-top: 10px !important;
}

h4.quick-menu > a:after, h4.pro-menu > a:after, h4.raumregelung-smart-menu > a:after{
    width: 12px;
    height: 13px;
    position: absolute;
    content: ' ';
    right: 1px;
    top: 3px;
    background-image: url("/static/arrow-icon/carat-r-darkGreen.png") !important;
}

.quick_link{
    padding-bottom: 12px !important;
    padding-left: 16px;
}
pro-menu{
    padding-left: 16px;
}

.temperaturszenen .first-column{
    width: 12%;
    float: left;
    padding-top: 13px;
}

.temperaturszenen .second-column{
    width: 84%;
    float: left;
}

.temperaturszenen .third-column{
    width: 3%;
    float: right;
}

.temperaturszenen .third-column .ui-checkbox{
    margin-top: 25px;
    margin-left: 3px;
}


.temperaturszenen .second-column .second-part{
    float:left;
}
.temperaturszenen .second-column .third-part{
    float:right;
}

.temperaturszenen .solltemp{
    color: #9EC553;
}

.temperaturszenen .top-select .ui-select{
    width: 50%;
}

.temperaturszenen .mehrfach-select .ui-controlgroup-controls{
    border-radius : 0 !important;
}

.temperaturszenen .mehrfach-select .ui-select{
    width: 100%;
}

.temperaturszenen .top-select .ui-controlgroup-controls{
    border-radius : 0 !important;
}

.temperaturszenen .ui-block-b .ui-select{
    font-size: 15px;
}

.temperaturszenen .all-chbox-selection .ui-checkbox.ui-mini{
    text-align: center;
}

.temperaturszenen .ui-controlgroup-controls{
    width: 100%;
    text-align:center;
}

.temperaturszenen .ui-controlgroup, fieldset.ui-controlgroup{
    margin: 0px 0px 0px 0px;
}



.temperaturszenen .ui-icon-carat-r:after, .room .ui-icon-carat-r:after{
    background-image: url('/static/jquery.mobile-1.4.5/images/icons-png/carat-r-black.png') !important;
    background-color: transparent !important;
}

.temperaturszenen .mode-select{
    background-color: white;
    border: none;
}

@media (max-width: 560px) {
    .temperaturszenen .second-column .second-part {
        float: initial;
        text-align: center;
        margin-top: 9px;
    }
    .temperaturszenen .first-column {
        float: initial;
            text-align: center;
        width: 100%;
    }
    .temperaturszenen .second-column {
        width: 100%
    }
    .temperaturszenen .second-column .third-part {
        float: initial;
        text-align: center;
    }
    .page div.ui-slider.ui-mini {
        margin: 0px 0 10px 0 !important;
    }

    .temperaturszenen .third-column .ui-checkbox{
        margin-top: -100px;
        margin-left: -10px;
    }

    .temperaturszenen .multiple-action-dropdown{
        left: 25% !important;
    }

    .temperaturszenen .ui-controlgroup, fieldset.ui-controlgroup{
        margin: -10px 0 0 0 !important;
    }
    .heizprogramm fieldset.ui-controlgroup{
        margin: 0 !important;
    }
    .heizprogramm .ui-page > .have-second-header.ui-content {
        margin-top: 35px;
    }
    .temperaturszenen .all-chbox-selection .ui-bar.ui-bar-a{
        margin-bottom: 10px;
    }
}

.room .ui-page > .ui-content:before{
    height: 60px;
}

.room #mods li{
    border: 0.001em solid #aaaaaa;
}


.room .ui-icon-arrow-down{
    background: url('/static/jquery.mobile-1.4.5/images/icons-png/arrow-d-black.png') no-repeat center center;
    height: 30px;
    width: 30px;
    display: inline-block;
}


.room .bulb-icon{
    float: right;
}


.room .mode-select select, .quick_change .mode-select select, .raumregelung-smart .mode-select select{
    background-color: white;
    border: none;
}

.room #modes .activated-mode{
    color: red;
}

.room .dark-green-slider .ui-btn-active{
    background-color: #779A45 !important;
}

.home .floor-header{
    height: 30px;
    line-height: 30px;
    border: 1px solid #cccccc;
    text-align: center;
}



.room .temp-text{
    position: absolute;
    top: 15px;
    left: 44px;
}
.room .ziel_funk .desc-text{
    color: #8C8B8A;
    font-size: 13px;
    text-shadow: none;
    display: block;
    font-weight: normal;
    margin-left: 28px;
}
.room .ziel_funk .temp-text {
    font-weight: bold;
    font-size: 0.8em;
    left: 38px;
}
.room .ziel_funk a {
    padding-left: 11px;
}

.quick_change li.top_header{
    margin-top: -38px;
}


.gray{
   color: gray !important;
}


.room .info-design a{
    border: 0 !important;
}

.room .mode-select #mode-select-button,.quick_change .mode-select #mode-select-button,.temperaturszenen .mode-select #mode-select-button{
    width: 60px;
    margin-top: 2px;
    padding-right: 12.5 !important;
    padding-left: 12.5 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border: 0;
}
.raumregelung-smart .mode-select #mode-select-button{
    width: 70px;
    margin: auto;
    padding-bottom: 2px !important;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.temperaturszenen .mode-select #mode-select-button{
    width: 150px;
}
.temperaturszenen .mode-select #mode-select-button > span{
    color:#cb0963;
}

.temperaturszenen .multiple-action .header{
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.temperaturszenen .multiple-action .middle-header{
    text-align: center;
    padding-top: 15px;
}

.temperaturszenen .text-title{
    margin-left: 20px;
    margin-right: 20px;
}

.temperaturszenen .multiple-action-savebtn{
    margin: 20px;
    background: none !important;
}

.temperaturszenen .multiple-action .en-btn{
    color: #019BB0 !important;
}

.temperaturszenen .multiple-action .dis-btn{
    color: #cb0963 !important;
}


.temperaturszenen .input-div{
    text-align: center;
}

.temperaturszenen .input-div .ui-input-text{
    width: 20%;
    text-align: center;
    margin: 16 auto
}

.temperaturszenen .first-column .ui-flipswitch{
    font-size: 11px !important;
}

.temperaturszenen #modes-list .ui-checkbox input{
    width: 20px;
}

.temperaturszenen label.custom {
    display: inline;
    text-shadow: 0;
    border: 0px;
    border-radius: 0;
    font-weight: normal;
}
.temperaturszenen label.custom:hover {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #2f3e46 !important;
    text-shadow: none !important;
}
label.custom:hover:after {
    background-color: blue !important;
}


.room .mode-select #mode-select-button:after,.home .mode-select #mode-select-button:after,
.quick_change .mode-select #mode-select-button:after, .temperaturszenen .mode-select #mode-select-button:after {
    content: none !important;
}


.home .mode-select #mode-select-button{
    width: 60px;
    margin-top: -5;
    text-align: center;
    padding-right: 12.5 !important;
    padding-left: 12.5 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 12px;
    border: 0;
}

.home .mode-select .ui-select{
    width: 80px;
}

.home .ui-collapsible-heading .ui-btn:hover{
    background: none
}

.m_temperaturszenen .popupTempName{
    padding-bottom: 15px;
}

.overflow-ellipsis {

  text-overflow: ellipsis;
}


.differenzregelung .overflow-text{
    width: 500px;
    overflow:hidden;
    white-space: nowrap;
    display: inline-block;
}

@media (max-width: 700px){

    .differenzregelung .overflow-text{
        width: 200px;
    }
}

.room .ul-humidty{
    padding-left: 10px;
    padding-right: 10px;
}


.room .collaps-HFO{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #bbb;
}
.room .collaps-HFO:hover{
    background-color: #dfdfdf;
}
.room .collaps-HFO:hover div.ui-collapsible-content, .room .collaps-HFO:hover a{
    background-color: transparent;
}
.room .collaps-HFO div.ui-collapsible-content{
    border: 0;
}
.room .collaps-HFO h5 a{
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
    border: 0;
    padding-bottom: 0 !important;
}
.room .collaps-HFO h5 a::before {
    background-image: url("icons/icon_heizflaechenoptimierung_grey.gif");
    background-size: contain;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
.room .collaps-HFO h5 a.ui-icon-heizflaechenoptimierung-red::before {
    background-image: url("icons/icon_heizflaechenoptimierung_red.gif");
}
.room .collaps-HFO h5 a.ui-icon-heizflaechenoptimierung-blue::before {
    background-image: url("icons/icon_heizflaechenoptimierung_blue.gif");
}
.room .collaps-HFO h5.ui-collapsible-heading-collapsed a{
    padding-bottom: 11px !important;
}

.room .collaps-HFO h5 a:focus, .room .collaps-HFO h5 a:active, .room .collaps-HFO h5 a:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.room .collaps-HFO h5 .desc-text{
    color: #8C8B8A;
    font-size: 14px;
    text-shadow: none;
    display: block;
    font-weight: normal;
}
.room .collaps-HFO p{
    margin: auto;
    padding: 11px;
    padding-top: 0;
    /* padding-bottom: 0; */
    color: #8C8B8A;
    font-size: 14px;
    padding-left: 37px;
}

.room .kaminofen-row img{
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
}

.room .kaminofen-row h5{
    display: inline-block;
    margin: 10px 0 10px 0;
}

.heizflaechenoptimierung .desc-text{
    color: #8C8B8A;
    font-size: 12px;
    text-shadow: none;
    display: block;
    font-weight: normal;
}

.home .roomli>a:hover, .room .roomli>a:hover{
    color: initial;

}

.rucklaufsensor .no-hover:hover{

    cursor: default !important;
    color: inherit !important;
}



.bulb-link{
    position: absolute;
    right: 10px;
    top: 8px;
}

.room .delete-all-hand{
    position: absolute;
    right: 35px;
    top: 8px;
}

.arrow-link:after{
    left: 0;
    margin-left: 0;
}

.rucklaufsensor .no-hover:hover{

    cursor: default !important;
    color: inherit !important;
}


.room a.luftfeuchte-link:after {
   content: none;
}

.temperaturszenen .ui-page > .ui-content:before{
    height: 67px !important;
}

.temperaturszenen .multiple-action-dropdown{
    font-weight: normal;
    font-size: 15px;
}

.temperaturszenen .li-selectall .ui-checkbox{
    /*float: right;
    margin-right: -9px*/
    text-align: center;
}

.heizprogramm li.dayofweek{
    text-align: center !important;
    font-weight: bold;
}

.heizprogramm div[data-role='popup'] .header .image{
    position: relative;
    top: 5px;
}


.heizprogramm span.arrow{
    background-image: url(jquery.mobile-1.4.5/images/icons-png/carat-r-black.png);
    background-repeat: no-repeat;
    margin-top: 3px;
    width: 10px;
    margin-left: 18px;
    height: 15px;
    display: inline-block;
}

.heizprogramm .timeli {
    float: right;
}


.heizprogramm div[data-role='popup'] .ui-input-text{
    width: 80%;
    margin: 0 auto;
}


.heizprogramm div[data-role='popup']{
     width: 380px;
     max-width: 380px !important;
}



.heizprogramm div[data-role='popup'] .ui-select{
    width: 80%;
    margin: 0 auto;
}

.heizprogramm div[data-role='popup'] button{
    width: 80%;
    margin: 0 auto;
}

.heizprogramm  button.deletePoint{
    color: #cb0963;
}


.heizprogramm div[data-role='popup'] .elem{
    text-align: center;
    padding-top: 15px;
}

.heizprogramm #edit-time{
    text-align: center;
}

.heizprogramm #time{
    text-align: center;
}

#cntnt{
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 959px) {
    .footer {
        width: 100% !important;
    }
}

.home .heizprogramm-en-dis{
    position: absolute;
    left: 48%;
    z-index: 9999999;
    top: 6px;
}
.home .footer {
    position: fixed;
    width: 60%;
    display: inline-block;
    bottom: -7px;
}

.home .ui-btn.ui-input-btn.ui-shadow{
   height:  35px;
   line-height: 50px;
   font-size:13px;
}

.home .heizprogramm-en-dis{
    display: inline-block;
    height: 28px;
    width: 28px;
    background-size: cover !important;
}

.home .heizprogramm-en-dis.enable{
    background: url('icons/icon-clock.png') no-repeat top left;
}

.home .heizprogramm-en-dis.disable{
    background: url('icons/icon-clock-gray.png') no-repeat top left;
}

.heizprogramm .flip-switch{
    float: right;
    position: relative;
    z-index: 2;
}

.heizprogramm .heizprogramm-text{
    position: absolute;
    left: 0;
    font-weight: bold;
    top: 5px;
    width: 100%;
    z-index: 1;
}

.heizprogramm .heizprogramm-li{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.heizprogramm .ui-page > .ui-content:before, .Betriebsarten .ui-page > .ui-content:before{

        height: 62px;
}

.heizprogramm .reset-btn-li, .heizprogramm .add-btn-li{
    padding: 0;
}

.heizprogramm .reset-btn{
    margin: 0;
    color: #cb0963 !important;
}

.heizprogramm #popupReset,.heizprogramm #popupDelete{
    width: 300px;
}

.heizprogramm #popupReset .header,.heizprogramm #popupDelete .header{
    padding: 10px;
}

.heizprogramm #popupReset .heiz-reset-btn,.heizprogramm #popupDelete .heiz-delete-btn{
    color: #cb0963 !important;
    width: 100%;
    border: 1px solid #ccc !important;
}

.heizprogramm .add-btn{
    margin: 0;
    color: #019BB0 !important;
}

.heizprogramm .dayofweek{
    border: 0;
}

.heizprogramm .li-entry{
    border-bottom: 0;
}

.heizprogramm .reset-btn{
    border: 0 !important;
}
.heizprogramm .add-btn{
    border-top-width: 0px;
}

.heizprogramm .ui-flipswitch-on, .temperaturszenen .ui-flipswitch-on{
    color: #ffffff !important;
}

.heizprogramm .select-heizprogramm .leftDiv, .select-heizprogramm .rightDiv {
  height: 100%;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.heizprogramm .select-heizprogramm .ui-controlgroup-controls > div {
    min-height: 45px
}

.heizprogramm .select-heizprogramm .rightDiv .ui-link, .select-heizprogramm .leftDiv .ui-radio label {
  border: 0
}
@media (max-width: 380px) {
     .heizprogramm .select-heizprogramm .leftDiv .ui-radio label {
       border-right: 1px solid #cccccc;
       padding-right: 5px;
   }
}


@media (max-width: 400px) {
    .heizprogramm div[data-role='popup']{
        left: 28px !important;
    }

}

.select-heizprogramm fieldset{
    margin: 0;
}
.select-heizprogramm div div a{
    font-size: 16px;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
}
.select-heizprogramm .ui-btn.ui-checkbox-off:after, 
.select-heizprogramm .ui-btn.ui-checkbox-on:after, 
.select-heizprogramm .ui-btn.ui-radio-off:after, 
.select-heizprogramm .ui-btn.ui-radio-on:after {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    margin-top: -9px;
    right: 0;
    left: 0;
}
.select-heizprogramm .ui-radio .ui-btn.ui-radio-on::after {
    background-image: none;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid;
}
.select-heizprogramm .leftDiv {
    float:left;
    width: 10%;
}
.select-heizprogramm .rightDiv {
    float:right;
    height: 100%;
    width: 90%;
}
@media(max-width:  60em){
    .select-heizprogramm .leftDiv {
        width: 15%;
    }
    .select-heizprogramm .rightDiv {
        width: 85%;
    }
}
/* End of heizprogramm */

.room #roomlistview{
    height: 130px !important;
}

.rucklaufsensor .ui-btn.ui-btn-up-a{
    text-align: center;
}

.rucklaufsensor .floor_name {
    display: inline-block;
}

.heizflaechenoptimierung #one .hide{
    display: None !important;
}

.wetter #one .hide {
    display: None !important;
}

.jahreskalender .temp_set1>h4{
    padding-left: 10px;
}

.jahreskalender .w-b-text{
    margin-top: 20px;
}

.jahreskalender .div-btn-save > div{
    margin-top: -8px;
}

.kalander-tabs .ui-tabs .ui-content{
    margin: 0;
}

.kalander-tabs #one{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

body.jahreskalender .ui-checkbox > label.custom:after {
    background-color: #666 !important;
    background-color: rgba(0,0,0,.3) !important;
}
body.jahreskalender .ui-checkbox > label.custom.ui-checkbox-on:after {
background-color: #3388cc !important;
}
body.jahreskalender .ui-checkbox > label.custom.ui-checkbox-on:after {
    background-image: url(/static/jquery.mobile-1.4.5/images/icons-png/check-white.png) !important;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E") !important;
}

.room .link-to:hover{
    cursor: hand !important;
}

.table-td-th {
  border: 1px solid #C5C5C5;
  text-align: left;
}

.-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border-left: hidden;
    border-right: hidden;
}
.-th {
    padding: 10px;
}
#forlabel {
    border: none;
    font-size: 14px;
    font-weight: normal;
    background-color: white;
}

@media (min-width: 951px) {
    html, body.page {
        overflow: hidden;
    }
    body.page .ui-page-active {
        max-height: 100%;
    }

    body.page .ui-page-active #nav-panel, #nav-room-list {
        overflow: unset;
    }
}

@media (max-width: 950px) {
    body.page .ui-page-active .ui-panel-inner {
        padding-top: 2em;
    }
}

/* Menu > */

.ui-page-active #nav-panel h4, #nav-room-list h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.category-headline {
    min-height: 40px;
    line-height: 40px;
}
.ui-page-active #nav-panel {
    padding-top: 16px;
}
.ui-page-active #nav-panel a, #nav-room-list a {
    font-size: 15px;
}
.ui-page-active #nav-panel .ui-shadow {
    margin-top: 0px;
    margin-bottom: 0 !important;
}
#nav-panel, #nav-room-list .room-list {
    padding-left: 10px !important;
    min-height: 40px;
    line-height: 40px;
}
#nav-room-list .room-list h2 a {
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px !important;
}
#nav-room-list .room-list > div {
    margin-top: 8px;
}
#nav-room-list .room-list h2 {
    margin: 0 !important;
    font-weight: normal !important;
}
#nav-room-list .room-list ul {
    /*padding-left: 15px;*/
}
.ui-page-active #nav-panel h4, #nav-room-list h4 {
    min-height: 40px;
    line-height: 40px;
}
#nav-room-list .quick_link {
    padding: 0 !important;
}

#nav-room-list h4.quick-menu > a:after, #nav-room-list h4.pro-menu > a:after,
#nav-room-list h4.raumregelung-smart-menu > a:after {
    top: calc(50% - 6px);
}
#nav-room-list .room-list {
    margin-bottom: 8px;
}
#nav-room-list .room-list ul > li > a:after {
    right: 12px;
}
#nav-room-list .room-list .ui-collapsible-heading-toggle {
    background: transparent;
}
#nav-room-list .room-list > h2 > a:after {
    width: 10px;
    right: 3px;
}
#nav-room-list .ui-collapsible-heading-toggle {
    text-shadow: none;
    font-weight: normal;
}
.zentrale {

}
.zentrale  ul {
    padding-left: 15px;
}
.zentrale h2 {
    height: 40px;
    line-height: 40px;
    font-weight: normal !important;
    margin: 0 !important;
}
.zentrale a:after {
    right: 1px;
    width: 10px;
}
#nav-room-list .ui-collapsible-content {
    margin-left: 45px;
}
.arrow-svg  {
    position: absolute;
    top: 13px;
    right: 12px;
}
@media (max-width: 1300px) {
 .ui-page-active #nav-panel h4, #nav-room-list h4 {
     font-size: 14px;
 }
    .ui-page-active #nav-panel a, #nav-room-list a {
        font-size: 13px;
    }
    .diff-vor-left.zentrale > h2{
        font-size: 13px;
    }
}
@media (max-width: 1200px) {
 .ui-page-active #nav-panel h4, #nav-room-list h4 {
     font-size: 13px;
 }
    .ui-page-active #nav-panel a, #nav-room-list a {
        font-size: 12px;
    }
    .diff-vor-left.zentrale > h2{
        font-size: 12px;
    }
}

@media (max-width: 1100px) {
 .ui-page-active #nav-panel h4, #nav-room-list h4 {
     font-size: 12px;
 }
    .ui-page-active #nav-panel a, #nav-room-list a {
        font-size: 11px;
    }
    .diff-vor-left.zentrale > h2{
        font-size: 11px;
    }
}

#nav-panel a.ui-btn-icon-right:after {
    display: none;
}
/* Menu < */

.ui-page-active #nav-panel .system-list a:after {
    display: block;
    right: 8px;
}

.heizflaechenoptimierung .regel-rows{
    font-weight: normal;
    font-size: 14px;
}

.fps.show .result, .differenzregelung .result{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    white-space: normal;
    font-size: 14px;
}

.fps.show .var-rec{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.fps.show .letzter{
    padding-bottom: 20px;
    font-size: 14px;
}

.raumregelung-smart #tabs{
    margin-top: -6px;
    padding: 0;
}

@media (max-width:  960px) {
    .raumregelung-smart #tabs {
        margin-top: 32px;
    }
}

.raumregelung-smart #tabs #one{
    padding: 0;
}

.raumregelung-smart .temp-val, .raumregelung-smart .ziel_val, .raumregelung-smart .soll-val{
    vertical-align: bottom;
}

.raumregelung-smart .ist img, .raumregelung-smart .ziel img, .raumregelung-smart .soll img{
    vertical-align: middle;
}

.raumregelung-smart .ziel, .raumregelung-smart .soll{
    font-size: large;
}

.raumregelung-smart .ist{
    font-size: large;
}

.raumregelung-smart .in_rooms{
    font-size: 14px;
}

.raumregelung-smart .duration-for-all{
    font-size: 14px;
    vertical-align: super;
}

.raumregelung-smart .hidden{
    display: none;
}

.raumregelung-smart .btn-red, .home .btn-red, .room .btn-red{
    color: #cb0963 !important;
}

.smart-popup p{
    padding: 10px;
}

.smart-popup .info-text{
    color: #8C8B8A;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
}

.smart-popup .header-text,
.room .header-text,
.home .header-text{
    text-decoration: underline;
}

.raumregelung-smart #popupTemp .ui-input-text,
.home #popupZielTemp .ui-input-text,
.room #popupZielTemp .ui-input-text{
    float: none;
    width: 55px;
    margin-top: 6px;
    border-radius: 1em;
    padding: 0px 15px;
}

.raumregelung-smart #popupTemp .header-text,
.home #popupTemp .header-text,
.room #popupTemp .header-text{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.raumregelung-smart #popupTemp #popupTempContent,
.home #popupTemp .header-text,
.room #popupTemp .header-text{
    padding: 0;
}

.raumregelung-smart .floor{
    padding: 5px;
}
@media (max-width: 700px){
    .raumregelung-smart .duration-for-all{
        font-size: 12px;
    }

    .raumregelung-smart .temp-val, .soll-val, .ziel-val{
        padding-left: 0 !important;
    }
}

.light-green{
    color: #9ec552 !important;
}

.dark-green{
    color: #779A45 !important;
}

.background-light-green{
    background-color: #9ec552 !important;
}

.background-dark-green{
    background-color: #779A45 !important;
}

.smart-popup {
    width: 350px !important;
    max-width: 380px;
}

@media (max-width: 400px) {
    .smart-popup {
        width: 260px !important;
        max-width: 260px;
    }
}

.raumregelung-smart .temp-input-block,
.home .temp-input-block,
.room .temp-input-block{
    padding-left: 15px;
    padding-top: 7px;
}

.home #popupTemp .ui-input-text,
.room #popupTemp .ui-input-text{
    float: left;
}

.raumregelung-smart .ziel_val{
    padding-right: 5px;
}

.raumregelung-smart .soll_val{
    padding-right: 5px;
}

.room .roomli .ui-slider{
    display: none;
}

.room .temp-first-row > span > img{
    vertical-align: bottom;
}

.home #popupTempContent, .room #popupTempContent{
    padding: 20px;
    text-align: center;
}

.home .temp-type{
    position: absolute;
    right: 65px;
    top: 13px;
    color: gray;
    cursor: pointer;
    font-size: small;
}

.home .temporaryCls{
    color: rgb(215, 154, 45) !important;
    font-weight: 600;
}

