{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page temperaturszenen{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/temperaturszenen/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a></span>
    <a href="/m_raum/{{ raum.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none"></a>
{% endblock %}


{% block mcontent %}
<style type=text/css>
    .page div.ui-slider.ui-mini {
    margin: 36px 0 10px 0 !important;
    }

    input.ui-slider-input {
        display : none !important;
    }

    .ui-slider.ui-mini{
        margin-top: 36px !important;
    }

    .ui-slider-track{
        margin:0 !important;
    }

    .ui-slider-track   .ui-btn-active{
        background-color: #9EC553 !important;
    }
</style>
{% csrf_token %}

<script>
    $(document).ready(function(){
      $(".fix").click(function(){
         alert('Dieser Modus muss in allen Räumen aktiviert bleiben, weil es der Hauptmodus ist');
      });
    });
</script>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
    <hr style="border-width: 0.5px;color: gray">
</a>
{% endif %}

<ul data-icon="false" data-role="listview">
<li style="border: 0" data-id="{{raum.id}}">
{% for mode_id, mode_params, order, room_params in modes%}
<div style="padding:20px;" class="parent" data-id="{{mode_id}}" data-raumid="{{raum.id}}">
    <div class="first-column">

                    {% if mode_id == 1 %}
                        <span class="fix">fix</span>
                        {% else %}
                            <input type="checkbox" data-role="flipswitch" name="mode-active"
                                     class="mode-active"
                                     {% if room_params.enabled %} checked {% endif %}
                                     id="mode-active-{{raum.id}}-{{mode_id}}"
                                     value="{{mode_id}}"
                                     data-id="{{raum.id}}"
                                     data-on-text="EIN" data-off-text="AUS" data-wrapper-class="custom-label-flipswitch"
                                     data-mini="true">
                        {% endif %}

                </div>
    <div class="second-column">
                    <div class="first-row">
                        <div class="second-part">{{raum.name}}|{{mode_params.name}}</div>
                        <div class="third-part solltemp">{{room_params.solltemp|floatformat:2}}</div>
                    </div>
                    <div class="second-row">
                            <input type="range" name="solltemp" id="solltemp-{{raum.id}}-{{mode_id}}"  class="solltemp-slider" data-id = "{{raum.id}}"
                                   data-modeid="{{mode_id}}" data-mini="true" {% if not room_params.enabled and mode_id != 1  %} disabled {% endif %}
                                   data-highlight="true" data-popup-enabled="true" min="18" max="26" step="0.1" value="{{room_params.solltemp}}">
                    </div>
                </div>
</div>
{% endfor %}
</li>
</ul>
<br><br>
<ul data-role="listview">
    <li>
        <a href="/m_temperaturszenen/{{haus.id}}">Einstellungen für mehrere Räume vornehmen</a>
    </li>
</ul>
{% endblock %}
