{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/temperaturszenen" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if objid and objid != '1' %}
    <!-- <a href="/m_setup/{{haus.id}}/temperaturszenen/delete/{{objid}}" data-role="button"  data-mini="true" data-inline="true" data-iconpos="notext" data-corners="true" data-shadow="true" data-iconshadow="true" class="ui-btn-right"  data-icon="delete" id='delete'>{{objid}}</a> -->
    <a href="/m_setup/{{haus.id}}/temperaturszenen/delete/{{objid}}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right"  id='delete' style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
  $(document).ready(function(){
      $('#generate-url').click(function(){
        $.ajax({
                url: "/m_setup/{{haus.id}}/temperaturszenen/generateurl/{{objid}}/",
                dataType: "json",
                success: function(data) {
                    $('#uuid').text(data.uuid);
                    $('#generated-url').css('display', 'block')
                    $('#generate-btn').css('display', 'none')

                }
        });
    })
  })

</script>
<style>
    .hide{
        display: none;
    }
    .syncing-selection-li .ui-select{
        padding-left: 50px;
        padding-right:50px;
    }
</style>
{% if objid%}
<form method="post" action="/m_setup/{{haus.id}}/temperaturszenen/edit/{{objid}}/" data-ajax="false" id='saveform'>
{% else %}
<form method="post" action="/m_setup/{{haus.id}}/temperaturszenen/edit/" data-ajax="false" id='saveform'>
{% endif%}
{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="mode_list">
        <li data-role="list-divider" id="modes">Temperaturszene anlegen</li>
        <li>
            <input type="text" name="modename" value="{{mode_name}}" maxlength="20">

        </li>
        <li class="syncing-selection-li">
            Einstellungen synchronisieren:<br>
            Bei Bedarf können die Temperatureinstellungen einer bestehenden Temperaturszene übernommen werden. Wählen Sie diese hier aus:<br>
            <select name="syncing_mode_selected">
                <option value="-1">.....</option>
                {% for mode_id, modename in modes %}
                    <option value="{{mode_id}}" {%ifequal syncing_mode_selected mode_id%}selected="selected"{%endifequal%}>{{modename}}</option>
                {% endfor %}
            </select>

        </li>
        <li data-icon="false">
            <input type="hidden" name="clickflag" id="clickflag" value="0"/>
        <a href="#" onclick="$('#clickflag').val(1);$('#saveform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
    {% if objid == '1' %}
    <p style="color:#cb0963;padding-top:30px;">
        Bitte beachten:<br>
        Diese Temperaturszene kann nicht gelöscht werden.
        Das System muss sicherstellen, dass EINE Temperaturszene,
        die ALLE Räume abdeckt IMMER verfügbar ist. Die Temperaturszene mit "*"
        wird hierfür verwendet.
        Sie kann nicht gelöscht werden und es können für
        diese Temperaturszene keine Räume deaktiviert werden.
    </p>
    {% endif %}
    {% if objid%}




    <p id="generated-url" {% if not qlink_uuid %} class="hide" {% endif %} style="padding-top:20px;">
        Quick-Link-URL:[Server IP]/set/temperaturszenen/{{haus.id}}/<span id="uuid">{{qlink_uuid}}</span>/[duration]
    </p>
    <p id="generate-btn" {% if qlink_uuid %} class="hide" {% endif %} style="text-align:center; padding-top:20px;">
        <a href="#" id="generate-url">generiere Quick-Link-URL</a>
    </p>
    <p>
        Beim Aufrufen der URL aktiviert sich die Temperaturszene für die gewählte Zeit [duration].
        Wird für [duration] nichts eingegeben,
        bleibt die Temperaturszene bis zur nächsten Änderung aktiv (manuell oder über Heizprogramm).
    </p>
    {% endif %}

</form>

{% endblock %}