{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}page temperaturszenen m_temperaturszenen{% endblock %}

{% block mheader %}
    <span>
        <a href="http://support.controme.com/temperaturszenen/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a>
        <a href="/m_setup/{{haus.id}}/temperaturszenen/" target="_blank" data-role="none" class="bulb-link" style="right: 40px;"><img src="/static/icons/settings-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;" /></a>
    </span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<style type=text/css>

    input.ui-slider-input {
        display : none !important;
    }

    .ui-slider.ui-mini{
        margin-top: 36px !important;
    }

    .ui-slider-track{
        margin:0 !important;
    }

    .ui-slider-track   .ui-btn-active{
        background-color: #9EC553 !important;
    }

    #cntnt .ui-alt-icon{
        font-size: 14px;
    }
    .page div.ui-slider.ui-mini {
    margin: 36px 0 10px 0 !important;
    }

</style>
<script>
    $(document).ready(function(){

        $(".fix").click(function(){
            alert('Dieser Modus muss in allen Räumen aktiviert bleiben, weil es der Hauptmodus ist');
        });

    });
</script>
{% csrf_token %}
    <div class="ui-alt-icon" style="margin-top: -4px;">
    <fieldset data-role="controlgroup" data-type="horizontal" class="top-select">
        <select name="select-mode" id="select-mode" data-id="{{haus.id}}" data-icon="arrow-d">
            <option value="all">Temperaturszenen-Filter: All</option>
            {% for id,params,order,room_params in select_modes%}
                <option value="{{id}}">{{params.name}}</option>
            {% endfor%}
        </select>


        <select name="select-raum" id="select-raum" data-icon="arrow-d" data-id="{{haus.id}}">
            <option value="all">Raum-Filter: Alle</option>
            {% for id,name in select_rooms%}
                <option value="{{id}}">{{name}}</option>
            {% endfor%}
        </select>
    </fieldset>
</div>

<div class="ui-grid-a ui-responsive">
    <div class="ui-block-a all-chbox-selection">
        <div class="ui-bar ui-bar-a" >
            <label class="custom" data-iconpos="right">Kontrollkästchen für Mehrfachaktionen:
            <input type="checkbox" data-mini="true" class="select-all-checkbox" style="display: none;"></label>
        </div>
    </div>
    <div class="ui-block-b ui-alt-icon">
        <fieldset data-role="controlgroup" data-type="horizontal" class="mehrfach-select">
            <select data-id="{{raum.id}}" id="mode-select" data-icon="arrow-d" data-shadow="false">
              <option value="-1" selected="selected">Mehrfachaktionen</option>
               <option value="1">neue Solltemperatur</option>
               <option value="2">Solltemperatur-Korrektur</option>
               <option value="3">Szenen ein-/ausschalten</option>
            </select>
        </fieldset>
    </div>
</div>

<ul data-role="listview" data-icon="false" id="modes-list">
    {% for raum, mode_params_all in rooms%}
      {% for mode_id, mode_params, order, room_params in mode_params_all%}
        <li data-id="{{raum.id}}" id="li-{{raum.id}}-{{mode_id}}" class="li-modes">
            <div style="padding:10px;" class="parent" data-id="{{mode_id}}" data-raumid="{{raum.id}}">
                <div class="first-column">

                    {% if mode_id == 1 %}
                        <span class="fix">fix</span>
                        {% else %}
                            <input type="checkbox" data-role="flipswitch" name="mode-active"
                                     class="mode-active"
                                     {% if room_params.enabled %} checked {% endif %}
                                     id="mode-active-{{raum.id}}-{{mode_id}}"
                                     value="{{mode_id}}"
                                     data-id="{{raum.id}}"
                                     data-on-text="EIN" data-off-text="AUS" data-wrapper-class="custom-label-flipswitch"
                                     data-mini="true">
                        {% endif %}

                </div>
                <div class="second-column">
                    <div class="first-row">
                        <div class="second-part">{{raum.name}}|{{mode_params.name}}</div>
                        <div class="third-part solltemp">{{room_params.solltemp|floatformat:2}}</div>
                    </div>
                    <div class="second-row">
                            <input type="range" name="solltemp" id="solltemp-{{raum.id}}-{{mode_id}}"  class="solltemp-slider" data-id = "{{raum.id}}"
                                   data-modeid="{{mode_id}}" data-mini="true" {% if not room_params.enabled and mode_id != 1  %} disabled {% endif %}
                                   data-highlight="true" data-popup-enabled="true" min="18" max="26" step="0.1" value="{{room_params.solltemp}}">
                    </div>
                </div>
                <div class="third-column">
                    <label class="custom">
                    <input type="checkbox" class="select-checkbox"
                           data-modeid="{{mode_id}}" data-raumid="{{raum.id}}">
                    </label>
                </div>
            </div>
        </li>
      {% endfor %}
    {% endfor%}
</ul>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
        <span class="popupTempName"></span>
    <label for="popupTempInput">Solltemperatur:</label>
    <input type="text" name="popupTempInput" id="popupTempInput"  value="">
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
    </div>
</div>

<div data-role="popup" id="first-action" class="multiple-action"  data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="header">Mehrfachaktion</div>
    <div class="middle-header">neue Solltemperatur:</div>
    <div class="input-div">
        <input type="text" name="solltemp" id="solltemp"  value="">
    </div>
    <div class="text-title">
        Setzt die Auswahl auf die eingegebene Solltemperatur.
    </div>
    <a href="#" data-hausid="{{haus.id}}" class="ui-btn ui-btn-b multiple-action-savebtn">anwenden</a>
</div>

<div data-role="popup" id="second-action" class="multiple-action" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="header">Mehrfachaktion</div>
    <div class="middle-header">Solltemperatur-Korrektur:</div>
    <div class="input-div">
        <input type="text" name="offset" id="offset"  value="">
    </div>
    <div class="text-title">
         Korrigiert die Temperaturen der Auswahl um den eingegebenen Offset.
    </div>
    <a href="#" data-hausid="{{haus.id}}" class="ui-btn ui-btn-b multiple-action-savebtn">anwenden</a>
</div>

<div data-role="popup" id="third-action" class="multiple-action" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="header">Mehrfachaktion</div>
    <div class="middle-header">Szenen ein- / ausschalten:</div>
    <div class="text-title">
        Schaltet die Temperaturszenen der Auswahl AUS oder EIN.
    </div>
    <div>
        <a href="#" data-hausid="{{haus.id}}" data-value="1" class="ui-btn ui-btn-b en-btn multiple-action-savebtn">Einschalten</a>
    </div>
    <div>
        <a href="#"  data-hausid="{{haus.id}}" data-value="0" class="ui-btn ui-btn-b dis-btn multiple-action-savebtn">Ausschalten</a>
    </div>

</div>

{% endblock %}
