{% extends "m_base.html"%}
{% load knx_tags %}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
    $(document).ready(function() {
        $(window).keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            save_addr();
            return false;
        }
      });
        {% if gateway %}
        $("#adddpt").show();
        {% endif %}
    });

    function save_addr() {
        var addr = $("#gateway_address").val();
        var data = {'gwaddr': addr};
        $.ajax({
            data: data,
            url: "/m_setup/{{ haus.id }}/knx/",
            dataType: "json",
            async: true,
            success: function (response) {
                $("#gwmarkerspan").html("<img src='/static/images/ajax-loader.gif'/>");
                setTimeout(function() {
                    $.ajax({
                        data: {'gwmarker': 1},
                        url: "/m_setup/{{ haus.id }}/knx/",
                        dataType: "text",
                        async: true
                    }).error(function(response) {
                        $("#gwmarker").html("<span id='gwmarkerspan' style='color:red'>&nbsp;&#8226;</span>");
                    }).done(function(response) {
                        $("#gwmarker").html("<span id='gwmarkerspan' style='color:" + response + "'>&nbsp;&#8226;</span>");
                    });
                }, 10000);
            }
        }).error(function(response) {
            $("#gwaerr").text(response.responseText);
            $("#gwaerr").show();
            $("#adddpt").hide();
        }).done(function(response) {
            $("#gwaerr").hide();
            $("#adddpt").show();
        });
    }
    </script>

    <form action="/m_setup/{{haus.id}}/knx/" method="post" data-ajax="false" id='knxform'>{% csrf_token %}
        <ul data-role="listview" id="knxli">
            <li data-role="list-divider">
                KNX IP Gateway
                <div style="float: right" id="gwmarker">
                    <span id="gwmarkerspan" style='color:{% if gateway %}{{ gateway.get_marker }}{% else %}red{% endif %}'>&nbsp;&#8226;</span>
                </div>
            </li>
            <li>
                <label for="gateway_address">Phys. Adresse</label>
                <input type="text" name="gateway_address" id="gateway_address" value="{% if gateway %}{{ gateway.address }}{% endif %}" onblur="save_addr();" placeholder="xx.yy.zzz"/>
            </li>
            <li id="gwaerr" style="color: red; display: None"></li>

            {% if not aktoren|length and not sensoren|length %}
            <li data-role="list-divider">Datenpunkte</li>
            <li>-</li>
            {% else %}
            {% if aktoren|length %}
            <li data-role="list-divider">Aktoren</li>
            {% for aktor in aktoren %}
                <li data-icon='arrow-r' class='ss' id='s' style='padding-top: 0; padding-bottom: 0;'>
                    <a href="/m_setup/{{ haus.id }}/knx/aedit/{{ aktor.get_url_ga }}/" style='padding-top: 0; padding-bottom: 0;'>
                        <span id='sdet'>
                            <h5 style='margin-top: 0; font-weight: normal;'>
                                <span style='color: {{ aktor.get_marker }};font-size:x-large'>&#8226</span>
                                {{ aktor.group_address }} - {{ aktor.datapoint_type }}
                                {% if aktor.description %} - {{ aktor.description }}
                                {% endif %}
                            </h5>
                        </span>
                    <p>Letzte Übertragung: {% get_wert_and_ts aktor %}</p>
                    </a>
                </li>
            {% endfor %}
            {% endif %}
            {% if sensoren|length %}
            <li data-role="list-divider">Sensoren</li>
            {% for sensor in sensoren %}
                <li data-icon='arrow-r' class='ss' id='s' style='padding-top: 0; padding-bottom: 0;'>
                    <a href="/m_setup/{{ haus.id }}/knx/sedit/{{ sensor.get_url_ga }}/" style='padding-top: 0; padding-bottom: 0;'>
                        <span id='sdet'>
                            <h5 style='margin-top: 0; font-weight: normal;'>
                                <span style='color: {{ sensor.get_marker }};font-size:x-large'>&#8226</span>
                                {{ sensor.group_address }} - {{ sensor.datapoint_type }}
                                {% if sensor.description %} - {{ sensor.description }}{% endif %}
                            </h5>
                        </span>
                    <p>Letzte Übertragung: {% get_wert_and_ts sensor %}</p>
                    </a>
                </li>
            {% endfor %}
            {% endif %}
            {% endif %}
        </ul>
    </form>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false" style="display: none;" id="adddpt">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/knx/add/' data-icon='gear'>Datenpunkt hinzufügen</a>
            </li>
        </ul>
    </div>
{% endblock %}